@charset "UTF-8";
/*
 * about.css
 */
/* ==========================================================
!About
========================================================== */
#wrapper {
	padding: 0;
}

/* mainimg */
.about_mainimg01 {
	margin: 0 0 45px 0;
	padding: 80% 0 6% 0;
	background: #fdfdfd url(../img/about/img_about01.png) no-repeat 0 top;
	background-size: 200%;
}

.about_mainimg01 h2 {
	margin: 0 0 4% 0;
	color: #d86457;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 20px;
	font-size: 6.25vw;
	line-height: 1.8;
}

.about_mainimg01 .about_mainimg_sign01 {
	margin: 8% 0 0 0;
	text-align: right;
}

.about_mainimg01 .about_mainimg_sign01 img {
	width: 150px;
}

.about_contents01 {
	/* message */
	/* profile */
	/* book */
}

.about_contents01 #message .h2_basic01 {
	margin-bottom: 7%;
}

.about_contents01 #message .h3_basic01 h3 {
	line-height: 1.8;
}

.about_contents01 #message .img_message01 {
	text-align: center;
}

.about_contents01 #message .lead_concept01 p {
	font-size: 30px;
	font-size: 3rem;
}

.about_contents01 #message .box_movie01 {
	margin: 4% 0 0 0;
}

.about_contents01 #profile .box_basic01:after {
	display: inline-block;
	position: absolute;
	right: 10px;
	bottom: -5px;
	z-index: 1;
	width: 135px;
	height: 63px;
	content: "";
	background: url(../img/about/bg_about_profile01.png) no-repeat;
}

.about_contents01 #profile .box_basic01 .box_col_2 {
	position: relative;
	z-index: 2;
}

.about_contents01 #profile .box_basic01 .box_col_2 .table_basic01 ul li {
	margin: 0 0 8px 0;
	line-height: 1.5;
}

.about_contents01 #book .h2_basic01 {
	margin-bottom: 7%;
}

.about_contents01 #book .box_col_2 .img {
	margin: 0 0 10% 0;
}

.about_contents01 #book .btn_amazon01 {
	margin: 4% 0 4% 0;
}

.about_contents01 #book .book_data01 {
	margin: 6% 0 6% 0;
	line-height: 1.3;
}

.about_contents01 #book .book_data01 dl dt,
.about_contents01 #book .book_data01 dl dd {
	display: inline-block;
	font-size: 12px;
	font-size: 1.2rem;
}

.about_contents01 #book .book_data01 dl dt {
	font-weight: bold;
}

@media only screen and (min-width: 600px) {
	/* mainimg */
	.about_mainimg01 h2 {
		font-size: 24px;
		font-size: 2.4rem;
	}
}

@media only screen and (min-width: 768px) {
	/* mainimg */
	.about_mainimg01 {
		padding: 10% 20px 5% 50%;
		background-position: 25% top;
		background-size: cover;
	}
	.about_mainimg01 .about_mainimg_sign01 img {
		width: auto;
	}
	/* book */
	#book .box_col_2 .img {
		margin: 0 0 4% 0;
	}
}

@media only screen and (min-width: 1020px) {
	/* mainimg */
	.about_mainimg01 {
		padding: 0;
	}
	.about_mainimg01 .inner01 {
		padding: 3% 0 3% 350px;
	}
}

/* ==========================================================
!Bnr Area
========================================================== */
#bnr_area {
	position: relative;
	z-index: 1;
	margin: 20% 0 0 0;
	padding: 1% 0 7.82% 0;
	background: #fdfae9;
}

#bnr_area:before {
	display: inline-block;
	position: absolute;
	top: -62px;
	left: 50%;
	width: 60px;
	height: 68px;
	margin: 0 0 0 -30px;
	content: "";
	background: url(../img/about/ill_recommend01.png) no-repeat left center;
	background-size: cover;
}

#bnr_area .h2_basic01 {
	margin: 8% 0 4% 0;
	font-size: 20px;
	font-size: 6.25vw;
}

#bnr_area ul {
	text-align: center;
}

#bnr_area ul li {
	margin: 0 0 3% 0;
}

#bnr_area .bnr_area_sns .btn_sns01 {
	margin: 0;
	padding: 0;
}

#bnr_area .bnr_area_sns .btn_sns01 a {
	height: 55px;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 55px;
}

@media only screen and (min-width: 600px) {
	#bnr_area:before {
		top: -90px;
		width: 88px;
		height: 99px;
		margin: 0 0 0 -44px;
	}
}

@media only screen and (min-width: 768px) {
	#bnr_area {
		margin: 8% 0 0 0;
		padding: 5px 0 100px 0;
	}
	#bnr_area .h2_basic01 {
		font-size: 25px;
		font-size: 2.5rem;
	}
	#bnr_area ul {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-ms-flex-pack: justify;
		    justify-content: space-between;
	}
	#bnr_area ul li {
		margin: 0;
	}
	#bnr_area .bnr_area_recommend > ul:first-of-type {
		padding: 0 0 3% 0;
	}
	#bnr_area .bnr_area_recommend ul li {
		width: 48.54369%;
	}
	#bnr_area .bnr_area_sns .btn_sns01 {
		margin: 0;
		padding: 0;
	}
	#bnr_area .bnr_area_sns ul li {
		width: 32.25806%;
	}
}

/*# sourceMappingURL=../../../map/about.css.map */
