/*
 * category.css
 */
/* ==========================================================
!Common
========================================================== */
.more01 .btn_basic01 a:after {
	content: none;
}

.page-load-status {
	display: none;
	margin: 10px 0 0 0;
	color: #666666;
	text-align: center;
}

.page-load-status .loader-ellips {
	height: 42px;
	font-size: 0;
	background: url(../img/ajax-loader.gif) no-repeat center center;
}

/*# sourceMappingURL=../../../map/category.css.map */
