@charset "UTF-8";
/*
 * cmn_layout.css
 */
/* ==========================================================
!HTML5 elements
========================================================== */
header,
footer,
nav,
main,
section,
aside,
article {
	display: block;
}

figure,
figcaption {
	margin: 0;
	padding: 0;
}

/* ==========================================================
!Reseting
========================================================== */
/* 全ての要素のbox-sizingをデフォルトでborder-boxにする */
:root {
	box-sizing: border-box;
}

*,
::before,
::after {
	border-width: 0;
	border-style: solid;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	color: #1d1d1d;
	font-family: "Noto Sans JP", "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", Arial, Helvetica, Verdana, sans-serif;
	font-size: 16px;
	font-size: 1.6em;
	font-feature-settings: "palt";
	letter-spacing: 0.11em;
	line-height: 1.8;
	background: #ffffff;
	background-attachment: fixed;

	overflow-scrolling: touch;
	-webkit-text-size-adjust: none;
}

/* Hack for Safari 7.1-8.0 */
_::-webkit-full-page-media,
_:future,
:root body {
	font-feature-settings: "pkna";
}

body,
div,
pre,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
th,
td {
	margin: 0;
	padding: 0;
}

input,
textarea {
	margin: 0;
	font-size: 100%;
}

label {
	cursor: pointer;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 100%;
}

fieldset,
img {
	border: 0;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
	font-weight: normal;
	font-style: normal;
}

ol,
ul {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
	line-height: 1.5;
}

q:after,
q:before {
	content: "";
}

a,
input {
	/* outline: none; */
}

abbr,
acronym {
	border: 0;
}

/* ==========================================================
!Clearfix
========================================================== */
.clearfix:after {
	display: block;
	clear: both;
	content: "";
}

/* ==========================================================
!Layout
========================================================== */
html {
	overflow-y: scroll;
}

body {
	position: relative;
	text-align: center;
}

@media print {
	html,
	html body {
		*zoom: 0.65;
	}
}

@media only screen and (min-width: 1200px) {
	body:not(.home) #bg1,
	body:not(.home) #bg2 {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		width: 100%;
		height: 100%;
	}
	body:not(.home) #bg1 {
		background: url(../img/bg_left01.jpg) repeat-y left 0;
	}
	body:not(.home) #bg2 {
		background: url(../img/bg_right01.jpg) repeat-y right 0;
	}
}

/* ==========================================================
!Wrapper
========================================================== */
#wrapper {
	position: relative;
	z-index: 1;
	margin: 0 auto 0;
	padding: 0 0 17% 0;
	text-align: left;
}

@media only screen and (min-width: 768px) {
	#wrapper {
		padding: 0 0 10% 0;
	}
}

@media only screen and (min-width: 1020px) {
	#wrapper {
		padding: 0 0 90px 0;
	}
	.home #wrapper {
		padding: 0 0 60px 0;
	}
}

/* ==========================================================
!Gnavi Setting
========================================================== */
/* ==========================================================
!Header
========================================================== */
#header {
	position: relative;
	z-index: 10;
	background: url(../img/bg_header01.png) no-repeat center top;
	background-size: 200% 100%;
}

#header #hd_inner {
	max-width: calc(1000px);
	margin: 0 auto 0;
	padding: 0 0 5% 0;
}

#header #hd_inner #hd_logo {
	padding: 5.6% 8.5% 2.5% 8.5%;
}

#header #hd_inner #hd_logo a {
	display: block;
	position: relative;
}

#header #hd_inner #hd_logo a img {
	width: 100%;
	max-width: 485px;
	background: none;
}

#header #hd_inner #hd_logo a span {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 50%;
	width: 12%;
	max-width: 67px;
	margin: -5% 0 0 -57%;
}

#header #hd_inner #hd_logo a:hover img {
	opacity: 1;
}

#header #gnavi {
	position: relative;
	width: 87.5%;
	margin: 0 auto 0;
	font-size: 15px;
	font-size: 1.5rem;
}

#header #gnavi .menu_trigger {
	position: relative;
	z-index: 2;
	padding: 5%;
	font-weight: bold;
	line-height: 1;
	background: rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

#header #gnavi .menu_trigger span {
	display: inline-block;
	position: relative;
	padding: 0 2em 0 2em;
}

#header #gnavi .menu_trigger span:before,
#header #gnavi .menu_trigger span:after {
	display: inline-block;
	position: absolute;
	top: 7px;
	width: 0.8em;
	height: 2px;
	content: "";
	background: #1d1d1d;
	transition: all 0.25s ease-in-out;
}

#header #gnavi .menu_trigger span:before {
	left: 0;
	transform: rotate(-135deg) translate3d(0, 0, 0);
}

#header #gnavi .menu_trigger span:after {
	left: 0.5em;
	transform: rotate(135deg) translate3d(0, 0, 0);
}

#header #gnavi .menu_trigger.open span:before {
	transform: rotate(-135deg) translate3d(-0.17em, 0.17em, 0);
}

#header #gnavi .menu_trigger.open span:after {
	transform: rotate(135deg) translate3d(0.17em, 0.17em, 0);
}

#header #gnavi ul {
	visibility: hidden;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 0;
	transition: visibility 0ms ease-out 600ms;
}

#header #gnavi ul li {
	opacity: 0;
	background: #ffffff;
	-ms-transform: translateY(-100%);
	    transform: translateY(-100%);
}

#header #gnavi ul li:nth-child(1) {
	transition: transform 50ms cubic-bezier(0, 0.5, 0.5, 1.1) 700ms, opacity 200ms ease-out 70ms;
}

#header #gnavi ul li:nth-child(2) {
	transition: transform 50ms cubic-bezier(0, 0.5, 0.5, 1.1) 600ms, opacity 200ms ease-out 60ms;
}

#header #gnavi ul li:nth-child(3) {
	transition: transform 50ms cubic-bezier(0, 0.5, 0.5, 1.1) 500ms, opacity 200ms ease-out 50ms;
}

#header #gnavi ul li:nth-child(4) {
	transition: transform 50ms cubic-bezier(0, 0.5, 0.5, 1.1) 400ms, opacity 200ms ease-out 40ms;
}

#header #gnavi ul li:nth-child(5) {
	transition: transform 50ms cubic-bezier(0, 0.5, 0.5, 1.1) 300ms, opacity 200ms ease-out 30ms;
}

#header #gnavi ul li:nth-child(6) {
	transition: transform 50ms cubic-bezier(0, 0.5, 0.5, 1.1) 200ms, opacity 200ms ease-out 20ms;
}

#header #gnavi ul li:nth-child(7) {
	transition: transform 50ms cubic-bezier(0, 0.5, 0.5, 1.1) 100ms, opacity 200ms ease-out 10ms;
}

#header #gnavi ul li a {
	display: block;
	opacity: 0;
	padding: 4% 0 4% 0;
	color: #ffffff;
}

#header #gnavi.open ul {
	visibility: visible;
	height: auto;
	transition: visibility 0ms ease-out 0ms;
}

#header #gnavi.open ul li {
	opacity: 1;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #e1e7ef;
	-ms-transform: none;
	    transform: none;
}

#header #gnavi.open ul li:nth-child(1) {
	transition: transform 100ms cubic-bezier(0, 0.5, 0.5, 1.1) 30ms, opacity 100ms ease-out 50ms;
}

#header #gnavi.open ul li:nth-child(2) {
	transition: transform 100ms cubic-bezier(0, 0.5, 0.5, 1.1) 60ms, opacity 100ms ease-out 100ms;
}

#header #gnavi.open ul li:nth-child(3) {
	transition: transform 100ms cubic-bezier(0, 0.5, 0.5, 1.1) 90ms, opacity 100ms ease-out 150ms;
}

#header #gnavi.open ul li:nth-child(4) {
	transition: transform 100ms cubic-bezier(0, 0.5, 0.5, 1.1) 120ms, opacity 100ms ease-out 200ms;
}

#header #gnavi.open ul li:nth-child(5) {
	transition: transform 100ms cubic-bezier(0, 0.5, 0.5, 1.1) 150ms, opacity 100ms ease-out 250ms;
}

#header #gnavi.open ul li:nth-child(6) {
	transition: transform 100ms cubic-bezier(0, 0.5, 0.5, 1.1) 180ms, opacity 100ms ease-out 300ms;
}

#header #gnavi.open ul li:nth-child(7) {
	transition: transform 100ms cubic-bezier(0, 0.5, 0.5, 1.1) 210ms, opacity 100ms ease-out 350ms;
}

#header #gnavi.open ul li a {
	opacity: 1;
	color: #4279c0;
}

@media only screen and (min-width: 768px) {
	#header {
		font-weight: bold;
	}
	#header #hd_inner {
		padding: 0 0 1.8% 0;
	}
	#header #hd_inner #hd_logo {
		padding: 2.8% 24.5% 4% 27.5%;
	}
	#header #hd_inner #hd_logo a span {
		top: 7%;
		left: 50%;
		width: 10%;
		margin: 0 0 0 -62%;
	}
	#header #gnavi {
		width: 100%;
		padding: 0 20px 0 20px;
		box-sizing: border-box;
		font-size: 15px;
		font-size: 1.5rem;
	}
	#header #gnavi .menu_trigger {
		display: none;
	}
	#header #gnavi ul {
		visibility: visible;
		opacity: 1;
		position: static;
		height: auto;
	}
	#header #gnavi ul li {
		display: inline-block;
		opacity: 1;
		margin: 0 0.8em 0.8em 0.8em;
		border: none;
		background: none;
		-ms-transform: none;
		    transform: none;
	}
	#header #gnavi ul li a {
		opacity: 1;
		padding: 0;
		color: #1d1d1d;
	}
	#header #gnavi ul li a:hover {
		color: #d86457;
	}
	#g00 #header #gnavi ul li#gnav00 a,
	#g01 #header #gnavi ul li#gnav01 a,
	#g02 #header #gnavi ul li#gnav02 a,
	#g03 #header #gnavi ul li#gnav03 a,
	#g04 #header #gnavi ul li#gnav04 a,
	#g05 #header #gnavi ul li#gnav05 a,
	#g06 #header #gnavi ul li#gnav06 a {
		color: #d86457;
	}
}

@media only screen and (min-width: 1020px) {
	#header {
		background-size: cover;
	}
	#header #hd_inner {
		padding: 0 0 25px 0;
	}
	#header #gnavi {
		padding: 0;
		font-size: 18px;
		font-size: 1.8rem;
	}
	#header #gnavi ul li {
		margin: 0 0.5em 0 0.5em;
	}
	#header #gnavi ul li:first-of-type {
		margin: 0 0.5em 0 0;
	}
	#header #gnavi ul li:last-of-type {
		margin: 0 0 0 0.5em;
	}
	/* Hack for Safari 7.1-8.0 */
	_::-webkit-full-page-media,
	_:future,
	:root #header {
		font-feature-settings: "palt";
	}
}

/* ==========================================================
!Footer
========================================================== */
footer .ft_cloud {
	position: absolute;
}

footer #ft_navi01 {
	position: relative;
	padding: 4.8% 0 4.8% 0;
	background: url(../img/bg_footer01.png) repeat left top;
}

footer #ft_navi01 ul {
	position: relative;
	z-index: 1;
}

footer #ft_navi01 ul li {
	border-width: 0 0 1px 0;
	border-style: dashed;
	border-color: #8fa8a1;
}

footer #ft_navi01 ul li:last-of-type {
	border: none;
}

footer #ft_navi01 ul li a {
	display: block;
	padding: 10px 0 10px 0;
	color: #1d1d1d;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
}

footer #ft_navi01 ul li a:hover {
	color: #d86457;
}

footer #ft_navi01 .bg_cloud01 {
	top: 13%;
	left: 8%;
}

footer #ft_navi01 .bg_cloud02 {
	top: 24%;
	right: 8%;
}

footer #ft_links01 {
	position: relative;
	padding: 8% 0 8% 0;
	background: url(../img/bg_footer02.png) repeat 55% top;
	background-size: 360% 100%;
}

footer #ft_links01 #ft_logo {
	width: 69.4%;
	max-width: 392px;
	margin: 0 auto 5%;
}

footer #ft_links01 #ft_links_inner01 {
	position: relative;
	z-index: 1;
	color: #707070;
	font-size: 11px;
	font-size: 1.1rem;
	letter-spacing: 0.05em;
}

footer #ft_links01 #ft_links_inner01 ul {
	margin: 4% 0 4% 0;
}

footer #ft_links01 #ft_links_inner01 ul li {
	display: inline-block;
	margin: 0 0.3em 0 0.3em;
}

footer #ft_links01 #ft_links_inner01 ul li a {
	color: #1d1d1d;
}

footer #ft_links01 #ft_links_inner01 ul li a:hover {
	color: #d86457;
	text-decoration: underline;
}

footer #ft_links01 #ft_links_inner01 p a {
	color: #707070;
	text-decoration: underline;
}

footer #ft_links01 #ft_links_inner01 p a:after {
	content: none;
}

footer #ft_links01 #ft_links_inner01 p a:hover {
	text-decoration: none;
}

footer #ft_links01 #ft_links_inner01 #ft_copyright {
	margin: 4% 0 0 0;
}

footer #ft_links01 .bg_cloud03,
footer #ft_links01 .bg_cloud04 {
	display: none;
}

@media only screen and (min-width: 768px) {
	footer #ft_navi01 {
		padding: 2.8% 0 1.8% 0;
	}
	footer #ft_navi01 ul {
		width: 84%;
		margin: 0 auto 0;
	}
	footer #ft_navi01 ul li {
		display: inline-block;
		margin: 0 0.4em 0.6em 0.4em;
		border: none;
	}
	footer #ft_navi01 ul li a {
		padding: 0;
	}
	footer #ft_navi01 .bg_cloud01 {
		top: 44%;
		left: 2%;
	}
	footer #ft_navi01 .bg_cloud02 {
		top: 5%;
		right: 3%;
	}
	footer #ft_links01 {
		padding: 4% 0 3% 0;
		background-position: center top;
		background-size: cover;
	}
	footer #ft_links01 #ft_logo {
		width: 45%;
		margin: 0 auto 3%;
	}
	footer #ft_links01 #ft_links_inner01 ul {
		margin: 2% 0 3% 0;
	}
	footer #ft_links01 #ft_links_inner01 ul li {
		margin: 0 0.8em 0 0.8em;
		font-size: 14px;
		font-size: 1.4rem;
	}
	footer #ft_links01 #ft_links_inner01 #ft_copyright {
		margin: 2% 0 0 0;
	}
}

@media only screen and (min-width: 1020px) {
	footer #ft_navi01 {
		padding: 20px 0 20px 0;
	}
	footer #ft_navi01 ul {
		width: 100%;
	}
	footer #ft_navi01 ul li {
		margin: 0 0.6em 0 0.6em;
	}
	footer #ft_navi01 ul li a {
		font-size: 16px;
		font-size: 1.6rem;
	}
	footer #ft_navi01 .bg_cloud01 {
		top: 38%;
	}
	footer #ft_links01 {
		padding: 25px 0 25px 0;
	}
	footer #ft_links01 .inner01:after {
		display: block;
		clear: both;
		content: "";
	}
	footer #ft_links01 #ft_logo {
		float: left;
		width: 323px;
		margin: 0;
	}
	footer #ft_links01 #ft_links_inner01 {
		float: right;
		text-align: right;
	}
	footer #ft_links01 #ft_links_inner01 ul {
		margin: 1% 0 1% 0;
	}
	footer #ft_links01 #ft_links_inner01 ul li {
		margin: 0 0.5em 0 0.5em;
	}
	footer #ft_links01 #ft_links_inner01 ul li:last-of-type {
		margin: 0 0 0 0.5em;
	}
	footer #ft_links01 #ft_links_inner01 #ft_copyright {
		margin: 0.5% 0 0 0;
	}
	footer #ft_links01 .bg_cloud03 {
		display: inline-block;
		top: -13%;
	}
}

@media only screen and (min-width: 1200px) {
	footer #ft_navi01 .bg_cloud01 {
		left: 3%;
	}
	footer #ft_links01 .inner01 {
		position: relative;
	}
	footer #ft_links01 .inner01 .bg_gate01 {
		position: absolute;
		left: -90px;
	}
	footer #ft_links01 .inner01 .bg_cloud03 {
		top: -54%;
		left: 50%;
		margin: 0 0 0 -130px;
	}
	footer #ft_links01 .inner01 .bg_cloud04 {
		display: inline-block;
		position: absolute;
		top: 18%;
		left: 50%;
		margin: 0 0 0 195px;
	}
}

@media only screen and (min-width: 1400px) {
	footer #ft_navi01 .inner01 {
		position: relative;
	}
	footer #ft_navi01 .inner01 .bg_cloud01 {
		top: 10%;
		left: -130px;
	}
	footer #ft_navi01 .inner01 .bg_cloud02 {
		top: -30%;
		right: -160px;
	}
}

/* ==========================================================
!Side
========================================================== */
#side aside {
	margin: 12.5% 0 0 0;
}

#side h2 {
	margin: 0 0 5.6% 0;
	padding: 0 0 8px 0;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 6.25vw;
	background: url(../img/bg_line_dot01.png) repeat-x left bottom;
}

#side ul li {
	margin: 0 0 1% 0;
}

#side ul li a {
	display: block;
}

#side ul li a:before {
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	margin: 0 0.5em 0.08em 0;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #1d1d1d;
	content: "";
	-ms-transform: rotate(45deg);
	    transform: rotate(45deg);
}

#side ul li a:hover {
	text-decoration: underline;
}

#side ul li.current a {
	color: #1d1d1d;
	font-weight: bold;
}

@media only screen and (min-width: 768px) {
	#side aside {
		margin: 4.5% 0 0 0;
	}
	#side h2 {
		margin: 0 0 3.6% 0;
		font-size: 18px;
		font-size: 1.8rem;
	}
	#side .post_items01:after {
		width: calc(100%/3.25);
	}
	#side .post_items01 .post_item01 {
		width: calc(100%/3.25);
	}
	#side ul li {
		display: inline-block;
		margin: 0 3% 1% 0;
	}
}

@media only screen and (min-width: 1020px) {
	#side aside {
		margin: 0 0 30px 0;
	}
	#side h2 {
		margin: 0 0 20px 0;
	}
	#side .post_items01 .post_item01 {
		width: 100%;
	}
	#side ul li {
		display: block;
		margin: 0 0 10px 0;
	}
}

/* ==========================================================
!Contents
========================================================== */
.inner01,
.inner02 {
	margin: 0 auto 0;
	padding: 0 20px 0 20px;
}

/* 1020px以上（基本のPC） */
@media only screen and (min-width: 1020px) {
	.inner01 {
		max-width: calc(1000px);
	}
	.inner02 {
		max-width: 740px;
		padding: 0;
	}
	.two_column {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row nowrap;
		    flex-flow: row nowrap;
	}
	.two_column #contents {
		-ms-flex: 1 0 100%;
		    flex: 1 0 100%;
		max-width: 720px;
	}
	.two_column #side {
		width: 220px;
		margin: 0 0 0 6%;
	}
}

/* 1200px以上（大きめPC） */
@media only screen and (min-width: 1200px) {
	.inner01,
	.inner02 {
		padding: 0;
	}
}

/* ==========================================================
!Breadcrumb
========================================================== */
#breadcrumb {
	margin: 0 auto 0;
	padding: 0 20px 0 20px;
}

#breadcrumb ol {
	margin: 0.5% 0 4% 0;
	line-height: 1.2;
}

#breadcrumb ol li {
	display: inline-block;
	color: #666666;
	font-size: 10px;
	font-size: 1rem;
}

#breadcrumb ol li:after {
	margin: 0 0 0 3px;
	content: ">";
}

#breadcrumb ol li:last-of-type:after {
	content: none;
}

#breadcrumb ol li a {
	color: #f58d78;
}

#breadcrumb ol li a:hover {
	text-decoration: underline;
}

@media only screen and (min-width: 1020px) {
	#breadcrumb {
		max-width: calc(1000px);
	}
	#breadcrumb ol {
		margin: 0.5% 0 3% 0;
	}
}

@media only screen and (min-width: 1200px) {
	#breadcrumb {
		padding: 0;
	}
}

/* ==========================================================
!Pagetop
========================================================== */
/* fixed
------------------------------------ */
.pagetop_fixed {
	display: none;
	position: relative;
	z-index: 9999;
}

.pagetop_fixed p {
	display: block;
	position: absolute;
	right: 0;
	z-index: 9999;
	width: 18%;
	max-width: 77px;
	cursor: pointer;
	animation: float 2s linear infinite;
	transform: translate3d(0, 0, 0);

	-ms-transform-origin: 50% 50%;

	    transform-origin: 50% 50%;
}

.pagetop_fixed.scroll p {
	position: fixed;
	right: 0;
	bottom: 0;
}

@keyframes float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-6px);
	}
	100% {
		transform: translateY(0);
	}
}

@media only screen and (min-width: 1400px) {
	.pagetop_fixed {
		position: relative;
		max-width: 1234px;
		margin: 0 auto 0;
	}
	.pagetop_fixed p {
		right: 50%;
		margin: 0 -618px 0 0;
	}
	.pagetop_fixed.scroll p {
		right: 50%;
		margin: 0 -618px 0 0;
	}
}

/* ==========================================================
!H(n)eading
========================================================== */
/* h1 */
.h1_basic01 {
	margin: 0 auto 3%;
	padding: 0 0 7% 0;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #c7d1dd;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 26px;
	font-size: 8.125vw;
	text-align: center;
}

.h1_basic01.no_border {
	padding: 0 0 5% 0;
	border: none;
}

.h1_basic01 h1 .heading {
	display: block;
	margin: 0 0 0.3em 0;
	color: #f58d78;
	font-size: 86%;
}

.h1_basic01 span {
	display: block;
	color: #f58d78;
	font-size: 43%;
	letter-spacing: 0.05em;
	line-height: 1;
}

.h1_basic02 {
	margin: 0 0 3% 0;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 24px;
	font-size: 7.5vw;
}

/* h2 */
.h2_basic01 {
	margin: 20% 0 4% 0;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 24px;
	font-size: 7.5vw;
	text-align: center;
}

.h2_basic01 span {
	display: block;
	color: #f58d78;
	font-size: 50%;
	letter-spacing: 0.05em;
	line-height: 1;
}

.h2_basic02 h2,
.post_contents h2 {
	margin: 8.3% 0 4% 0;
	padding: 10px 15px 10px 15px;
	color: #ffffff;
	font-size: 22px;
	font-size: 6.875vw;
	font-weight: bold;
	line-height: 1.3;
	background: url(../img/bg_tit01.png) repeat left top;
}

.h2_basic03 h2 {
	margin: 0 0 5.6% 0;
	padding: 0 0 10px 0;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #c7d1dd;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 20px;
	font-size: 6.25vw;
}

.post_contents .h2_comment_title01 h2 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: #000000;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 24px;
	font-size: 2.4rem;
	font-weight: normal !important;
	line-height: 1;
	text-align: center;
	background: none;
}

.post_contents .h2_comment_title01 h2:before {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 0 20px 0 0;
	vertical-align: middle;
	content: "";
	background: url(../img/img_doctor01.png) no-repeat;
	background-size: contain;
}

/* h3 */
.h3_basic01 h3 {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}

.h3_basic02 h3,
.post_contents h3 {
	margin: 8.3% 0 4% 0;
	padding: 0 0 8px 0;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #d74f37;
	font-size: 18px;
	font-size: 5.625vw;
	font-weight: bold;
}

.h3_basic03 h3 {
	margin: 6% 0 0 0;
	color: #d86457;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 20px;
	font-size: 2rem;
}

.h3_basic03 + p {
	margin: 2% 0 0 0;
}

/* h4 */
.h4_basic01,
.post_contents h4 {
	margin: 4.2% 0 4% 0;
	padding: 2px 0 2px 14px;
	font-weight: bold;
	background: url(../img/bg_h4.png) repeat-y left top;
}

@media only screen and (min-width: 600px) {
	/* h1 */
	.h1_basic01 {
		font-size: 35px;
		font-size: 3.5rem;
	}
	.h1_basic02 {
		font-size: 36px;
		font-size: 3.6rem;
	}
	/* h2 */
	.h2_basic01 {
		margin: 13% 0 4% 0;
		font-size: 30px;
		font-size: 3rem;
	}
	.h2_basic02 h2,
	.post_contents h2 {
		font-size: 28px;
		font-size: 2.8rem;
	}
	.h2_basic03 h2 {
		font-size: 25px;
		font-size: 2.5rem;
	}
	.post_contents .box_basic01 .h2_comment_title01 h2,
	.post_contents .box_basic02 .h2_comment_title01 h2 {
		font-size: 25px;
		font-size: 2.5rem;
	}
	/* h3 */
	.h3_basic01 h3 {
		font-size: 20px;
		font-size: 2rem;
	}
	.h3_basic02 h3,
	.post_contents h3 {
		font-size: 20px;
		font-size: 2rem;
	}
	/* h4 */
	.h4_basic01 h4,
	.post_contents h4 {
		font-size: 18px;
		font-size: 1.8rem;
	}
}

@media only screen and (min-width: 768px) {
	/* h1 */
	.h1_basic01 {
		padding: 0 0 5% 0;
	}
	.h1_basic01.no_border {
		padding: 0 0 2% 0;
	}
}

@media only screen and (min-width: 1020px) {
	/* h1 */
	.h1_basic01 {
		margin: 0 auto 1%;
		padding: 0 0 40px 0;
	}
	.h1_basic01.no_border {
		padding: 0 0 2% 0;
	}
}

/* ==========================================================
!Table
========================================================== */
.table_basic01 dl {
	padding: 2% 0 2% 0;
	border-width: 1px 0 0 0;
	border-style: dashed;
	border-color: #c7d1dd;
}

.table_basic01 dl:last-of-type {
	border-width: 1px 0 1px 0;
}

.table_basic01 dl dt {
	font-weight: bold;
}

.table_basic02 dl {
	padding: 2% 0 2% 0;
}

.table_basic02 dl dt {
	position: relative;
	font-weight: bold;
}

.table_basic02 dl dt:after {
	position: absolute;
	top: 0.1em;
	right: 0;
	content: ":";
}

@media only screen and (min-width: 768px) {
	.table_basic01 dl {
		display: table;
		width: 100%;
	}
	.table_basic01 dl dt,
	.table_basic01 dl dd {
		display: table-cell;
		box-sizing: border-box;
		vertical-align: top;
	}
	.table_basic01 dl dt {
		width: 25.6%;
		padding: 0 2% 0 2%;
	}
	.table_basic02 dl {
		display: table;
		width: 100%;
		padding: 1% 0 1% 0;
	}
	.table_basic02 dl dt,
	.table_basic02 dl dd {
		display: table-cell;
		box-sizing: border-box;
		vertical-align: top;
	}
	.table_basic02 dl dt {
		width: 25.6%;
	}
	.table_basic02 dl dt:after {
		float: right;
		line-height: 1.5;
	}
	.table_basic02 dl dd {
		padding: 0 0 0 15px;
	}
}

/* ==========================================================
!Text
========================================================== */
p {
	margin: 4% 0 0 0;
	line-height: 2;
}

.txt_lead01 {
	margin: 0 0 10% 0;
	text-align: center;
}

.txt_lead01 p {
	margin: 0;
}

@media only screen and (min-width: 768px) {
	.txt_lead01 {
		margin: 0 0 5% 0;
	}
}

.lead_concept01 {
	position: relative;
	padding: 6% 0 6% 0;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif, serif;
	font-size: 22px;
	font-size: 6.875vw;
	text-align: center;
}

.lead_concept01:before,
.lead_concept01:after {
	display: inline-block;
	position: absolute;
	width: 50px;
	height: 39px;
	content: "";
}

.lead_concept01:before {
	top: 0;
	left: -10px;
	z-index: 0;
	background: url(../img/bg_quote01.png) no-repeat;
	background-size: cover;
}

.lead_concept01:after {
	right: -10px;
	bottom: 0;
	z-index: 0;
	background: url(../img/bg_quote02.png) no-repeat;
	background-size: cover;
}

.lead_concept01 p {
	position: relative;
	z-index: 1;
	line-height: 1.7;
}

@media only screen and (min-width: 600px) {
	.lead_concept01 {
		padding: 2% 0 2% 0;
	}
	.lead_concept01 p {
		font-size: 40px;
		font-size: 4rem;
	}
	.lead_concept01:before,
	.lead_concept01:after {
		width: 98px;
		height: 77px;
	}
	.lead_concept01:before {
		left: 0;
	}
	.lead_concept01:after {
		right: 0;
	}
}

@media only screen and (min-width: 768px) {
	.lead_concept01 {
		margin: 5% 0 0 0;
		padding: 0;
	}
}

/* ==========================================================
!Mark
========================================================== */
.yellow {
	padding: 0 2px 0 2px;
	font-weight: bold;
	background: url(../img/mark_yellow01.png) repeat-x center center;
	background-size: auto 1.3em;
}

.red {
	padding: 0 2px 0 2px;
	font-weight: bold;
	background: url(../img/mark_red01.png) repeat-x center center;
	background-size: auto 1.3em;
}

.gray {
	padding: 0 2px 0 2px;
	font-weight: bold;
	background: url(../img/mark_gray01.png) repeat-x center center;
	background-size: auto 1.3em;
}

/* ==========================================================
!Text Color
========================================================== */
.txt_red {
	color: #ff2b2b;
}

/* ==========================================================
!Link
========================================================== */
a {
	color: #ff6e77;
	text-decoration: none;
	transition-property: color;
	transition-duration: 0.3s;
}

a img {
	background: #ffffff;
	transition-property: opacity;
	transition-duration: 0.3s;
}

a:hover,
a:active,
a:focus {
	color: #ff6e77;
}

a:hover img,
a:active img,
a:focus img {
	opacity: 0.75;
}

a[target="_blank"]:not(.no_ico):after {
	display: inline-block;
	width: 1em;
	height: 1em;
	margin: 0 0 0 5px;
	font-family: "FontAwesome";
	vertical-align: baseline;
	content: "\f08e";
}

/* ==========================================================
!Text Link
========================================================== */
.link_basic01 {
	text-decoration: underline;
}

.link_basic01:hover {
	text-decoration: none;
}

.link_basic01:before {
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	margin: 0 0.5em 0.08em 0;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #ff6e77;
	content: "";
	-ms-transform: rotate(45deg);
	    transform: rotate(45deg);
}

.link_basic01 span {
	/* WCAG 2.0 C7 */
	overflow: hidden;
	position: absolute;
	top: -10px;
	width: 1px;
	height: 1px;
}

/* ==========================================================
!Abchor Link
========================================================== */
.anchor01 ul {
	text-align: center;
}

.anchor01 ul li {
	display: inline-block;
	padding: 0.5em 0 0.5em 0;
	font-size: 14px;
	font-size: 1.4rem;
}

.anchor01 ul li a {
	display: block;
	padding: 0 0.7em 0 0.5em;
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: #d4d9e5;
	color: #1d1d1d;
}

.anchor01 ul li a:before {
	margin: 0 4px 0 0;
	color: #f58d78;
	font-family: "FontAwesome";
	content: "\f0d7";
}

.anchor01 ul li a:hover {
	color: #d86457;
}

.anchor01 ul li:first-of-type a {
	padding: 0 0.7em 0 0;
}

.anchor01 ul li:last-of-type a {
	padding: 0 0 0 0.5em;
	border: 0;
}

@media only screen and (min-width: 768px) {
	.anchor01 ul li {
		font-size: 16px;
		font-size: 1.6rem;
	}
}

/* ==========================================================
!Page Link
========================================================== */
.category_link01 li a {
	display: inline-block;
	margin: 0 0 0 1em;
	padding: 0 15px 0 15px;
	color: #ff6e77;
	font-size: 16px;
	font-size: 1.6rem;
	text-indent: -1em;
}

.category_link01 li a:hover {
	text-decoration: underline;
}

.category_link01 li a:before {
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	margin: 0 10px 0 0;
	border-top: 1px solid #ff6e77;
	border-right: 1px solid #ff6e77;
	vertical-align: middle;
	content: "";
	-ms-transform: rotate(45deg);
	    transform: rotate(45deg);
}

@media only screen and (min-width: 600px) {
	.category_link01 {
		text-align: center;
	}
	.category_link01 li {
		display: inline-block;
		margin: 0 0 15px 0;
		line-height: 1.2;
	}
	.category_link01 li {
		border-right: 1px solid #d7dee6;
	}
	.category_link01 li:last-of-type {
		border: none;
	}
}

/* ==========================================================
!Listing
========================================================== */
.list_basic01,
.post_contents ul {
	margin: 5% 0 0 0;
	padding: 0 0 0 5.6%;
}

.list_basic01 li,
.post_contents ul li {
	position: relative;
	margin: 1.8% 0 0 0;
	padding: 0 0 0 0.8em;
}

.list_basic01 li:before,
.post_contents ul li:before {
	display: inline-block;
	position: absolute;
	top: 0.8em;
	left: 0;
	width: 4px;
	height: 4px;
	content: "";
	background: #e99687;
}

.list_basic02,
.post_contents dl {
	margin: 5% 0 0 0;
	padding: 0 0 0 5.6%;
}

.list_basic02 dt,
.post_contents dl dt {
	font-weight: bold;
}

.list_basic02 dd ul,
.post_contents dl dd ul {
	margin: 0;
	padding: 0;
}

.list_basic02 dd ul li,
.post_contents dl dd ul li {
	position: relative;
	margin: 1.8% 0 0 0;
	padding: 0 0 0 0.8em;
}

.list_basic02 dd ul li:before,
.post_contents dl dd ul li:before {
	display: inline-block;
	position: absolute;
	top: 0.8em;
	left: 0;
	width: 4px;
	height: 4px;
	margin: -2px 0 0 0;
	content: "";
	background: #e99687;
}

/* dl_basic */
.dl_basic01 dt {
	margin: 4% 0 0 0;
	font-weight: bold;
}

/* ==========================================================
!Box
========================================================== */
.box_basic01,
.box_basic02 {
	position: relative;
	margin: 0 0 3% 0;
	padding: 3.5% 4% 3.5% 4%;
	border-width: 5px;
	border-style: solid;
	border-color: #fdfae9;
	box-shadow: inset 0 0 0 2px #fbe9dc;
	background: #fdfae9;
}

.box_basic02 {
	/*green*/
	border-color: #edf2e5;
	box-shadow: inset 0 0 0 2px #cdd9ba;
	background: #edf2e5;
}

@media only screen and (min-width: 600px) {
	.box_basic01 h2,
	.box_basic02 h2 {
		font-size: 24px;
		font-size: 2.4rem;
	}
}

/* ==========================================================
!Box Description
========================================================== */
.box_description01,
.box_description02 {
	margin: 5% 0 0 0;
	padding: 5.4% 5.4% 5.4% 5.4%;
}

.box_description01 .tit,
.box_description02 .tit {
	margin: 0 0 -2% 0;
	padding: 0 0 15px 0;
	border-bottom: 1px dashed #c7d1dd;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}

.box_description01 {
	background: rgba(251, 245, 213, 0.5);
}

.box_description02 {
	background: rgba(233, 237, 241, 0.5);
}

@media only screen and (min-width: 768px) {
	.box_description01,
	.box_description02 {
		padding: 30px 40px 40px 40px;
	}
}

/* ==========================================================
!Box Quote
========================================================== */
.box_quote01 {
	margin: 2% 0 0 0;
	padding: 2% 10% 5% 10%;
	font-weight: bold;
	background: rgba(251, 245, 213, 0.5) url(../img/ico_quote01.png) no-repeat 3% 6%;
}

.box_quote02,
.post_contents blockquote {
	margin: 4% 0 0 0;
	padding: 5% 12% 9% 12%;
	background: rgba(233, 237, 241, 0.5) url(../img/ico_quote02.png) no-repeat 3% 6%;
}

@media only screen and (min-width: 768px) {
	.box_quote01 {
		padding: 0.1% 50px 3.9% 50px;
		background-position: 20px 20px;
	}
	.box_quote02,
	.post_contents blockquote {
		padding: 15px 40px 35px 40px;
		background-position: 22px 20px;
	}
}

/* ==========================================================
!Box Col
========================================================== */
.box_col_2 > div:first-of-type {
	margin: 0 0 4% 0;
}

.box_col_2 .img {
	text-align: center;
}

@media only screen and (min-width: 768px) {
	.box_col_2 {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-ms-flex-pack: justify;
		    justify-content: space-between;
	}
	.box_col_2 > div {
		width: 47.61905%;
	}
}

/* ==========================================================
!Box Movie
========================================================== */
.box_movie01 {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
}

.box_movie01 iframe {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

/* ==========================================================
!Box Banner
========================================================== */
.box_bnr01 {
	text-align: center;
}

.box_bnr_title01 {
	position: relative;
	max-width: 720px;
	height: 70px;
	margin: 0 auto 7%;
	padding: 2% 0 0 0;
	vertical-align: middle;
	background: url(../img/bg_bnr_left01.png) left top no-repeat, url(../img/bg_bnr_right01.png) right top no-repeat;
	background-size: contain;
}

.box_bnr_title01:after {
	display: block;
	width: 14px;
	height: 8px;
	margin: 0 auto;
	content: "";
	background: url(../img/ico_arrow_down01.png) no-repeat;
	background-size: contain;
}

.box_bnr_title01 h2 {
	display: table;
	position: relative;
	margin: 0 auto;
	padding: 0 10% 0 10%;
	color: #000000;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: normal;
	letter-spacing: -0.05em;
	line-height: 1.5;
	white-space: nowrap;
	background: none;
}

.box_bnr_title01 h2:before,
.box_bnr_title01 h2:after {
	display: inline-block;
	position: absolute;
	top: 0;
	vertical-align: middle;
	content: "";
	background-repeat: no-repeat;
	background-size: contain;
}

.box_bnr_title02 {
	margin: 0 0 10px 0;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}

@media only screen and (min-width: 600px) {
	.box_bnr_title01 {
		height: 140px;
		margin: 0 auto 5%;
	}
	.box_bnr_title01:after {
		width: 28px;
		height: 16px;
	}
	.box_bnr_title01 h2 {
		font-size: 27px;
		font-size: 2.7rem;
	}
	.box_bnr_title02 {
		font-size: 17px;
		font-size: 1.7rem;
	}
}

/* ==========================================================
!Box Notebook
========================================================== */
.box_notebook01,
.box_notebook02 {
	padding: 9% 6.5% 5% 6.5%;
	box-shadow: 1px 1px 2px rgba(196, 183, 158, 0.4);
}

.box_notebook01 h2,
.box_notebook02 h2 {
	margin: 0 0 8% 0;
}

.box_notebook01 .notebook_inner01,
.box_notebook02 .notebook_inner01 {
	padding: 0 0 3em 0;
	background: url(../img/bg_notebook_line01.png) repeat;
	background-size: auto 35px;
}

.box_notebook01 .notebook_inner01 p,
.box_notebook02 .notebook_inner01 p {
	margin: 36px 0 0 0;
	line-height: 35px;
}

.box_notebook01 .notebook_inner01 > p:first-of-type,
.box_notebook02 .notebook_inner01 > p:first-of-type {
	margin: 0 0 0 0;
}

.box_notebook01 {
	background: url(../img/bg_notebook01.png) repeat;
}

.box_notebook02 {
	background: url(../img/bg_notebook02.png) repeat;
}

@media only screen and (min-width: 768px) {
	.box_notebook01,
	.box_notebook02 {
		padding: 8% 6.5% 5% 6.5%;
	}
	.box_notebook01 .notebook_inner01,
	.box_notebook02 .notebook_inner01 {
		background-size: auto 40px;
	}
	.box_notebook01 .notebook_inner01 p,
	.box_notebook02 .notebook_inner01 p {
		margin: 41px 0 0 0;
		line-height: 40px;
	}
}

/* ==========================================================
!Button
========================================================== */
/* Basic Black Button */
.btn_basic01 {
	text-align: center;
}

.btn_basic01 a,
.btn_basic01 div,
.btn_basic01 button,
.btn_basic01 input[type="submit"] {
	display: block;
	position: relative;
	width: 100%;
	height: 54px;
	margin: 0 auto;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	line-height: 54px;
	text-decoration: none;
	text-align: center;
	background: url(../img/btn_black01.png) repeat left center;
	background-size: contain;
	cursor: pointer;
	transition-property: opacity;
	transition-duration: 0.3s;
}

.btn_basic01 a:after,
.btn_basic01 div:after,
.btn_basic01 button:after,
.btn_basic01 input[type="submit"]:after {
	display: inline-block;
	position: absolute;
	top: 50%;
	width: 1em;
	height: 1em;
	margin: -0.5em 0 0 0.4em;
	content: "";
	background: url(../img/ico_arrow_white01.svg) no-repeat;
	background-size: cover;
}

.btn_basic01 a:hover,
.btn_basic01 a:focus,
.btn_basic01 a:active,
.btn_basic01 a:hover p:after,
.btn_basic01 a:focus p:after,
.btn_basic01 a:active p:after,
.btn_basic01 div:hover,
.btn_basic01 div:focus,
.btn_basic01 div:active,
.btn_basic01 div:hover p:after,
.btn_basic01 div:focus p:after,
.btn_basic01 div:active p:after,
.btn_basic01 button:hover,
.btn_basic01 button:focus,
.btn_basic01 button:active,
.btn_basic01 button:hover p:after,
.btn_basic01 button:focus p:after,
.btn_basic01 button:active p:after,
.btn_basic01 input[type="submit"]:hover,
.btn_basic01 input[type="submit"]:focus,
.btn_basic01 input[type="submit"]:active,
.btn_basic01 input[type="submit"]:hover p:after,
.btn_basic01 input[type="submit"]:focus p:after,
.btn_basic01 input[type="submit"]:active p:after {
	opacity: 0.75;
}

/* Basic Orange Button */
.btn_basic02 {
	text-align: center;
}

.btn_basic02 a,
.btn_basic02 div,
.btn_basic02 button,
.btn_basic02 input[type="submit"] {
	display: block;
	position: relative;
	width: 100%;
	height: 54px;
	margin: 0 auto;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	line-height: 54px;
	text-decoration: none;
	text-align: center;
	background: url(../img/btn_orange01.png) repeat left center;
	cursor: pointer;
	transition-property: opacity;
	transition-duration: 0.3s;
}

.btn_basic02 a:after,
.btn_basic02 div:after,
.btn_basic02 button:after,
.btn_basic02 input[type="submit"]:after {
	display: inline-block;
	position: absolute;
	top: 50%;
	width: 1em;
	height: 1em;
	margin: -0.5em 0 0 0.4em;
	content: "";
	background: url(../img/ico_arrow_white01.svg) no-repeat;
	background-size: cover;
}

.btn_basic02 a:hover,
.btn_basic02 a:focus,
.btn_basic02 a:active,
.btn_basic02 a:hover p:after,
.btn_basic02 a:focus p:after,
.btn_basic02 a:active p:after,
.btn_basic02 div:hover,
.btn_basic02 div:focus,
.btn_basic02 div:active,
.btn_basic02 div:hover p:after,
.btn_basic02 div:focus p:after,
.btn_basic02 div:active p:after,
.btn_basic02 button:hover,
.btn_basic02 button:focus,
.btn_basic02 button:active,
.btn_basic02 button:hover p:after,
.btn_basic02 button:focus p:after,
.btn_basic02 button:active p:after,
.btn_basic02 input[type="submit"]:hover,
.btn_basic02 input[type="submit"]:focus,
.btn_basic02 input[type="submit"]:active,
.btn_basic02 input[type="submit"]:hover p:after,
.btn_basic02 input[type="submit"]:focus p:after,
.btn_basic02 input[type="submit"]:active p:after {
	opacity: 0.75;
}

/* SNS Button */
.btn_sns01 a {
	display: block;
	position: relative;
	height: 44px;
	padding: 0 0 0 1.8em;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 13px;
	font-size: 1.3rem;
	line-height: 44px;
	text-align: center;
	transition-property: opacity;
	transition-duration: 0.3s;
}

.btn_sns01 a:before {
	position: absolute;
	margin: 0 0 0 -1em;
	font-family: "FontAwesome";
	font-size: 1.6em;
}

.btn_sns01 a[target="_blank"]:after {
	content: none;
}

.btn_sns01 a:hover {
	opacity: 0.75;
}

.btn_sns01.btn_blog01 a {
	background: url(../img/btn_blog01.png) no-repeat;
	background-size: cover;
}

.btn_sns01.btn_blog01 a:before {
	content: "\f040";
}

.btn_sns01.btn_instagram01 a {
	background: url(../img/btn_instagram01.png) no-repeat;
	background-size: cover;
}

.btn_sns01.btn_instagram01 a:before {
	content: "\f16d";
}

.btn_sns01.btn_fb01 a {
	background: url(../img/btn_fb01.png) no-repeat;
	background-size: cover;
}

.btn_sns01.btn_fb01 a:before {
	content: "\f09a";
}

/* Btn Recommend */
.btn_recommend01 a {
	display: block;
	position: relative;
	height: 50px;
	box-sizing: border-box;
	color: #ffffff;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 50px;
	text-align: center;
	transition-property: opacity;
	transition-duration: 0.3s;
}

.btn_recommend01 a:before {
	position: absolute;
	margin: 0 0 0 -1.5em;
	font-family: "FontAwesome";
	font-size: 1.6em;
}

.btn_recommend01 a:after {
	display: inline-block;
	position: absolute;
	top: 50%;
	width: 1em;
	height: 1em;
	margin: -0.5em 0 0 0.4em;
	content: "";
	background: url(../img/ico_arrow_white01.svg) no-repeat;
	background-size: cover;
}

.btn_recommend01 a:hover {
	opacity: 0.75;
}

.btn_recommend01.btn_media01 a {
	background: url(../img/btn_media01.png) no-repeat;
	background-size: cover;
}

.btn_recommend01.btn_media01 a:before {
	content: "\f1ea";
}

.btn_recommend01.btn_column01 a {
	background: url(../img/btn_column01.png) no-repeat;
	background-size: cover;
}

.btn_recommend01.btn_column01 a:before {
	content: "\f086";
}

/* ==========================================================
!Label
========================================================== */
.cat_label {
	display: inline-block;
	padding: 3px 8px 3px 8px;
	color: #ffffff;
	font-size: 10px;
	font-size: 1rem;
	line-height: 1;
}

.cat_label.label_all {
	background: url(../img/label_all01.png) no-repeat;
	background-size: cover;
}

.cat_label.label_column {
	background: url(../img/label_column01.png) no-repeat;
	background-size: cover;
}

.cat_label.label_info {
	background: url(../img/label_info01.png) no-repeat;
	background-size: cover;
}

.cat_label.label_media {
	background: url(../img/label_media01.png) no-repeat;
	background-size: cover;
}

.cat_label.label_experiences {
	background: url(../img/label_experiences01.png) no-repeat;
	background-size: cover;
}

.cat_label.label_faq {
	background: url(../img/label_faq01.png) no-repeat;
	background-size: cover;
}

/* ==========================================================
!Topics Items
========================================================== */
.topics_wrap01 a {
	display: block;
	color: #1d1d1d;
}

.topics_wrap01 a .label_new img {
	background: none;
}

.topics_wrap01 a:hover {
	color: #ff6e77;
}

.topics_wrap01 a:hover .label_new img {
	opacity: 1;
}

.topics_wrap01 a:hover .post_meta .date {
	color: #ff6e77;
}

.topics_wrap01 .post_item01 {
	margin: 0 0 10% 0;
}

.topics_wrap01 .post_item01 .post_thumb {
	position: relative;
	margin: 0 0 2% 0;
}

.topics_wrap01 .post_item01 .post_thumb .label_new {
	display: inline-block;
	position: absolute;
	top: 8px;
	right: 8px;
	width: 19%;
}

.topics_wrap01 .post_item01 .post_meta .date {
	display: inline-block;
	color: #635e54;
	font-size: 12px;
	font-size: 1.2rem;
	transition-property: color;
	transition-duration: 0.3s;
}

.topics_wrap01 .post_item01 .post_tit {
	margin: 2% 0 2% 0;
	line-height: 1.5;
}

.topics_wrap01 .post_item01 .post_txt {
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.7;
}

.topics_wrap01 .post_items02 {
	border-width: 1px 0 0 0;
	border-style: dotted;
	border-color: #c7d1dd;
}

.topics_wrap01 .post_items02 .post_item02 {
	margin: 4% 0 0 0;
	padding: 0 0 4% 0;
	border-width: 0 0 1px 0;
	border-style: dotted;
	border-color: #c7d1dd;
}

.topics_wrap01 .post_items02 .post_item02 a {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	-ms-flex-pack: justify;
	    justify-content: space-between;
	-ms-flex-align: start;
	    align-items: flex-start;
}

.topics_wrap01 .post_items02 .post_item02 a .post_thumb {
	position: relative;
	width: 30%;
	margin: 0 0 2% 0;
}

.topics_wrap01 .post_items02 .post_item02 a .post_thumb .label_new {
	display: inline-block;
	position: absolute;
	top: 8px;
	right: 8px;
	width: 19%;
}

.topics_wrap01 .post_items02 .post_item02 a .post_meta {
	width: 68%;
}

.topics_wrap01 .post_items02 .post_item02 a .post_meta .cat_label {
	font-size: 14px;
	font-size: 1.4rem;
}

.topics_wrap01 .post_items02 .post_item02 a .post_meta .post_tit {
	margin: 2% 0 2% 0;
	font-size: 20px;
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.5;
}

.topics_wrap01 .post_items02 .post_item02 a .post_meta .post_txt {
	line-height: 1.7;
}

.topics_wrap01 .post_items02 .post_item02 a .post_meta .post_link {
	text-align: right;
}

.topics_wrap01 .post_items02 .post_item02 a .post_meta .post_link .link_basic01 {
	display: inline-block;
	margin: 10px 0 0 0;
	color: #ff6e77;
}

.topics_wrap01 .post_items02 .post_item02 a[target="_blank"] .link_basic01:after {
	display: inline-block;
	width: 1em;
	height: 1em;
	margin: 0 0 0 5px;
	font-family: "FontAwesome";
	vertical-align: baseline;
	content: "\f08e";
}

.topics_wrap01 .more01 {
	margin: 19% 0 0 0;
	padding: 0 5% 0 5%;
}

.topics_wrap01 .more01 .btn_basic01 {
	position: relative;
}

.topics_wrap01 .more01 .btn_basic01:before {
	display: inline-block;
	position: absolute;
	top: -34px;
	right: 10px;
	width: 69px;
	height: 34px;
	content: "";
	background: url(../img/ill_more01.png) no-repeat;
	background-size: cover;
}

.topics_wrap01 .more01 .btn_basic01 a {
	color: #ffffff;
}

@media only screen and (min-width: 600px) {
	.topics_wrap01 .post_items01 {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-ms-flex-pack: justify;
		    justify-content: space-between;
	}
	.topics_wrap01 .post_items01 .post_item01 {
		width: calc(100%/2.1);
		margin: 0;
		padding: 0 0 25px 0;
	}
	.topics_wrap01 .more01 {
		margin: 35px 0 0 0;
		padding: 0 25% 0 25%;
	}
}

@media only screen and (min-width: 768px) {
	.topics_wrap01 .post_items01 .post_item01 {
		padding: 0 0 25px 0;
	}
	.topics_wrap01 .post_items01 .post_item01 .post_thumb .label_new {
		width: 54px;
	}
	.topics_wrap01 .post_items01:before {
		display: block;
		-ms-flex-order: 1;
		    order: 1;
		content: "";
	}
	.topics_wrap01 .post_items01:after {
		display: block;
		width: calc(100%/4.5);
		content: "";
	}
	.topics_wrap01 .post_items01.col_3 .post_item01 {
		width: calc(100%/3.25);
	}
	.topics_wrap01 .post_items01.col_3:before {
		width: calc(100%/3.25);
	}
	.topics_wrap01 .post_items01.col_3:after {
		content: none;
	}
	.topics_wrap01 .post_items01.col_4 .post_item01 {
		width: calc(100%/4.5);
	}
	.topics_wrap01 .post_items01.col_4:before {
		width: calc(100%/4.5);
	}
	.topics_wrap01 .post_items01.col_4:after {
		width: calc(100%/4.5);
	}
	.topics_wrap01 .more01 {
		width: 100%;
	}
}

/* ==========================================================
!CV Fix
========================================================== */
#cv_fix {
	display: none;
	position: fixed;
	bottom: 0;
	z-index: 50;
	width: 100%;
	padding: 10px 0 10px 0;
	background: rgba(252, 245, 217, 0.75);
}

#cv_fix .cv_fix_inner01 {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
}

#cv_fix .cv_fix_inner01 .txt {
	display: none;
}

#cv_fix .cv_fix_inner01 .btn {
	width: 60%;
	background: #ffffff;
}

@media only screen and (min-width: 768px) {
	#cv_fix .cv_fix_inner01 .txt {
		display: inline-block;
		padding: 0 30px 0 0;
	}
	#cv_fix .cv_fix_inner01 .btn {
		width: auto;
	}
}

/*# sourceMappingURL=../../../map/cmn_layout.css.map */
