/*
 * com.css
 */
/* ==========================================================
!Company
========================================================== */
#map {
	height: 300px;
	margin: 1% 0 2% 0;
}

#map a[target="_blank"]:after {
	content: none;
}

.table_basic02 dl {
	padding: 2% 0 2% 0;
}

.table_basic02 dl dt:after {
	content: none;
}

.table_basic02 dl dd ul li {
	margin: 0 0 4% 0;
}

@media only screen and (min-width: 768px) {
	#map {
		height: 560px;
	}
	.table_basic02 dl dt {
		width: 16%;
	}
}

/*# sourceMappingURL=../../../map/com.css.map */
