/*
 * contact.css
 */
/* ==========================================================
!Company
========================================================== */
em {
	color: #ff2b2b;
	font-weight: bold;
}

.sec_notice01,
.sec_notice02 {
	margin: 4% 0 0 0;
	padding: 20px 20px 20px 20px;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
}

.sec_notice01 h2,
.sec_notice02 h2 {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}

.sec_notice01 p,
.sec_notice02 p {
	margin: 2% 0 0 0;
}

.sec_notice01 {
	border-color: #ff2b2b;
}

.sec_notice01 h2 {
	color: #ff2b2b;
}

.sec_notice02 {
	border-color: #c7d1dd;
}

@media only screen and (min-width: 600px) {
	.sec_notice01 h2,
	.sec_notice02 h2 {
		font-size: 20px;
		font-size: 2rem;
	}
}

@media only screen and (min-width: 768px) {
	.sec_notice01,
	.sec_notice02 {
		padding: 40px 40px 40px 40px;
	}
}

/*# sourceMappingURL=../../../map/contact.css.map */
