@charset "UTF-8";
/*
 * post.css
 */
/* ==========================================================
!Post
========================================================== */
.post_mainimg img {
	width: 100%;
}

.post_header {
	margin: 0 0 5% 0;
}

.post_header .post_header_meta {
	display: table;
	width: 100%;
	margin: 2% 0 2% 0;
}

.post_header .post_header_meta .date {
	display: table-cell;
	width: 6.5em;
}

.post_header .post_header_meta .cat {
	display: table-cell;
}

.post_header .post_header_meta .cat li {
	display: inline-block;
}

.post_header .post_header_meta .cat li:after {
	margin: 0 0 0 0.1em;
	content: ",";
}

.post_header .post_header_meta .cat li:last-of-type:after {
	content: none;
}

.post_header .post_header_meta .cat li .cat_label {
	font-size: 12px;
	font-size: 1.2rem;
}

.post_header .post_header_sns ul li {
	display: inline-block;
	height: 20px;
	vertical-align: top;
}

.post_header .post_header_sns ul li.copy div {
	padding: 0 12px 0 12px;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #b2b2b2;
	border-radius: 3px;
	font-size: 10px;
	font-size: 1rem;
	line-height: 18px;
	cursor: pointer;
	transition-property: background;
	transition-duration: 0.2s;
}

.post_header .post_header_sns ul li.copy div:hover {
	background: #e9e9e9;
}

.post_header .post_header_sns ul .fb_iframe_widget span {
	vertical-align: top !important;
}

.post_contents .box_basic01 h2 {
	margin: 0 0 3% 0;
	padding: 0;
	color: #1d1d1d;
	font-size: 18px;
	font-size: 5.625vw;
	font-weight: bold;
	line-height: 1.6;
	background: none;
}

.post_contents .box_basic01 dl {
	margin: 0;
	padding: 1% 0 1% 0;
}

.post_contents a:not(.no_ico) {
	text-decoration: underline;
}

.post_contents a:not(.no_ico):hover {
	text-decoration: none;
}

.post_contents a:not(.no_ico):before {
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	margin: 0 0.5em 0.08em 0;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #ff6e77;
	content: "";
	-ms-transform: rotate(45deg);
	    transform: rotate(45deg);
}

.post_footer {
	margin: 9.7% 0 0 0;
}

.post_footer .post_footer_sns {
	text-align: center;
}

.post_footer .post_footer_sns li {
	display: inline-block;
	width: 48%;
	margin: 0 0 2% 0;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 13px;
	font-size: 1.3rem;
	letter-spacing: 0.02em;
	transition-property: opacity;
	transition-duration: 0.3s;
}

.post_footer .post_footer_sns li:hover {
	opacity: 0.75;
}

.post_footer .post_footer_sns li a {
	display: block;
	height: 44px;
	color: #ffffff;
	line-height: 44px;
}

.post_footer .post_footer_sns li.line a {
	background: url(../img/btn_line01.png) no-repeat;
	background-size: cover;
}

.post_footer .post_footer_sns li.tw a {
	background: url(../img/btn_tw01.png) no-repeat;
	background-size: cover;
}

.post_footer .post_footer_sns li.tw a:after {
	content: none;
}

.post_footer .post_footer_sns li.fb a {
	background: url(../img/btn_fb01.png) no-repeat;
	background-size: cover;
}

.post_footer .post_footer_sns li.copy {
	position: relative;
	cursor: pointer;
}

.post_footer .post_footer_sns li.copy div {
	height: 44px;
	line-height: 44px;
	background: url(../img/btn_copy01.png) repeat-x left top, url(../img/btn_copy01.png) repeat-x left bottom;
}

.post_footer .post_footer_sns li.copy:before,
.post_footer .post_footer_sns li.copy:after {
	display: inline-block;
	position: absolute;
	top: 21.5px;
	width: 44px;
	height: 1px;
	content: "";
	background: url(../img/btn_copy01.png) repeat-x left top;
	-ms-transform: rotate(90deg);
	    transform: rotate(90deg);
}

.post_footer .post_footer_sns li.copy:before {
	left: -21.5px;
}

.post_footer .post_footer_sns li.copy:after {
	right: -21.5px;
}

#related {
	margin: 12.5% 0 0 0;
}

@media only screen and (min-width: 768px) {
	.post_header {
		display: table;
		width: 100%;
		margin: 15px 0 55px 0;
	}
	.post_header > div {
		display: table-cell;
		vertical-align: top;
	}
	.post_header .post_header_meta {
		margin: 0;
	}
	.post_header .post_header_sns {
		padding: 4px 0 0 0;
		text-align: right;
		white-space: nowrap;
	}
	.post_contents .box_basic01 h2 {
		margin: 0 0 3.5% 0;
		font-size: 24px;
		font-size: 2.4rem;
	}
	.post_contents .box_basic01 dl {
		padding: 0 0 2.5% 0;
	}
	.post_contents .box_basic01 dl:last-of-type {
		padding: 0;
	}
	.post_footer .post_footer_sns li {
		width: 21.5%;
		margin: 0 1% 2% 1%;
	}
}

/*# sourceMappingURL=../../../map/detail.css.map */
