@charset "UTF-8";
/*
 * experiences.css
 */
/* ==========================================================
!Experiences Top
========================================================== */
/*lead*/
.exp_lead01 .link_basic01 {
	color: #ff6e77;
	font-size: 14px;
	font-size: 1.4rem;
}

@media only screen and (min-width: 1200px) {
	.exp_lead01 {
		position: relative;
	}
	.exp_lead01 .exp_txt_entry01 {
		position: absolute;
		top: 0;
		right: 0;
	}
}

/*category link*/
.exp_category_link01 {
	margin: 0 0 5% 0;
}

.exp_category_link01 ul {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	    justify-content: space-between;
	max-width: 580px;
	margin: 0 auto;
}

.exp_category_link01 li {
	width: 31%;
}

.exp_category_link01.line_top {
	margin: 5% 0 0 0;
	padding: 5% 0 0 0;
	border-top: 1px solid #c7d1dd;
}

/*experience post index*/
.post_exp_item01 a:hover .post_exp_tit {
	text-decoration: underline;
}

.post_exp_item01 + .post_exp_item01 {
	margin: 5% 0 0 0;
	padding: 7% 0 0 0;
	border-top: 1px dotted #c7d1dd;
}

.post_exp_thumb {
	max-width: 320px;
	margin: 0 auto 5%;
}

.post_exp_meta .cat_label {
	color: #000000;
}

.post_exp_meta .label_kanpo-tea {
	background: #f3ab72;
}

.post_exp_meta .label_seminar {
	background: #f4d76c;
}

.post_exp_meta .label_kanpo {
	background: #d6c77f;
}

.post_exp_tit {
	color: #ff6d76;
	font-size: 24px;
	font-size: 2.4rem;
	font-weight: bold;
}

.post_exp_data {
	margin: 5px 0 0 0;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1;
}

.post_exp_data li {
	display: inline-block;
}

.post_exp_data li + li {
	padding: 0 0 0 5px;
	border-left: 1px solid #c7d1dd;
}

@media only screen and (min-width: 600px) {
	.post_exp_item01 {
		overflow: hidden;
	}
	.topics_wrap01 .post_exp_item01 {
		margin: 3% 0 0 0;
		padding: 3% 0 0 0;
	}
	.post_exp_thumb {
		float: left;
		width: 22%;
		margin: 0 2% 0 0;
	}
	.post_exp_body {
		overflow: hidden;
	}
	.post_exp_meta {
		margin: -0.6em 0 0 0;
	}
	.post_exp_txt p {
		margin: 2% 0 0 0;
		line-height: 1.8;
	}
}

/*more button*/
.btn_exp_more {
	position: relative;
	max-width: 500px;
	margin: 30% auto 0 auto;
}

.btn_exp_more:before {
	display: block;
	position: absolute;
	top: -35px;
	right: 20px;
	width: 70px;
	height: 35px;
	content: "";
	background: url(../img/experiences/ill_more01.png) no-repeat;
	background-size: contain;
}

.btn_exp_more a {
	color: #ffffff;
}

.btn_exp_more a:after {
	display: none;
}

.btn_exp_more a:hover {
	color: #ffffff;
}

@media only screen and (min-width: 600px) {
	.btn_exp_more {
		margin: 10% auto 0 auto;
	}
}

/* ==========================================================
!Experiences Details
========================================================== */
/*Title*/
.post_exp_title01 {
	line-height: 1 !important;
}

.post_exp_title01 .cat_label {
	margin: 0 0 10px 0;
	color: #000000;
}

.post_exp_title01 .label_kanpo-tea {
	background: #f3ab72;
}

.post_exp_title01 .label_seminar {
	background: #f4d76c;
}

.post_exp_title01 .label_kanpo {
	background: #d6c77f;
}

/*info*/
.post_header {
	margin: 0 0 55px 0;
}

.post_exp_info {
	padding: 5%;
	text-align: center;
	background: url(../img/experiences/bg_mainimg_info01.png) center bottom no-repeat #fcf5d4;
	background-size: 100% auto;
}

.post_exp_info .post_exp_copy {
	margin: 10px 0 0 0;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 24px;
	font-size: 2.4rem;
	line-height: 1.6;
}

@media only screen and (min-width: 600px) {
	.post_header,
	.post_header > div {
		display: block;
	}
}

/*Experience banner（差分）*/
.box_bnr_title01 {
	margin: 0 auto 10%;
}

.box_bnr_title01:after {
	margin: 10px auto 10px auto;
}

.box_bnr_title01 h2:before {
	left: 0;
	width: 23px;
	height: 70px;
	background-image: url(../img/experiences/ill_bnr_title01.png);
}

.box_bnr_title01 h2:after {
	right: 0;
	width: 23px;
	height: 70px;
	background-image: url(../img/experiences/ill_bnr_title02.png);
}

@media only screen and (min-width: 600px) {
	.box_bnr_title01 {
		margin: 0 auto 7%;
	}
	.box_bnr_title01 h2:before {
		width: 45px;
		height: 140px;
	}
	.box_bnr_title01 h2:after {
		width: 45px;
		height: 140px;
	}
}

/*# sourceMappingURL=../../../map/experiences.css.map */
