@charset "UTF-8";
/*
 * experiences-form.css
 */
/* ==========================================================
!experiences-form
========================================================== */
textarea,
input[type="text"],
input[type="email"] {
	width: 100%;
	padding: 8px 8px 8px 8px;
	border: 1px solid #d4d9e5;
	box-sizing: border-box;
}

.table_basic01 .required {
	color: #ed732e;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 70%;
}

.table_basic01 span.wpcf7-list-item {
	display: block;
	margin: 0.3em 0 0.3em 0;
}

.btn_basic02 {
	margin: 30px 0 0 0;
	padding: 0 10% 0 10%;
}

@media only screen and (min-width: 1020px) {
	.table_basic01 dl dd {
		padding: 0 3% 0 0;
	}
	.table_basic01 span.wpcf7-list-item {
		display: inline-block;
		margin: 0 1em 0 0;
	}
	span.wpcf7-list-item {
		display: inline-block;
		margin: 0 1em 0 0;
	}
	.btn_basic02 {
		padding: 0 32% 0 32%;
	}
}

/*# sourceMappingURL=../../../map/experiences-form.css.map */
