@charset "UTF-8";
/*
 * faq.css
 */
/* ==========================================================
!FAQ Top
========================================================== */
/*faq*/
.faq01 {
	margin: 0 0 50px 0;
}

/*heading*/
.h2_faq01 a,
.h2_faq01 span {
	display: block;
	padding: 1.5% 2% 1.5% 2%;
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	background: url(../img/faq/bg_h2_faq01.png);
	transition: 0.3s;
}

.h2_faq01 a:hover {
	opacity: 0.7;
	color: #ffffff;
}

/*FAQ List*/
.faq_list01 li {
	border-bottom: 1px dotted #c7d1dd;
}

.faq_list01 li a {
	display: block;
	margin: 0 0 0 1.5em;
	padding: 2.5% 2.5% 2.5% 2.5%;
	font-size: 20px;
	line-height: 1.5;
	text-indent: -1.5em;
}

.faq_list01 li a span {
	color: #226e08;
	font-family: "Sawarabi Mincho";
}

/* ==========================================================
!FAQ Category
========================================================== */
.category_link01.line_top {
	margin: 5% 0 0 0;
	padding: 5% 0 0 0;
	border-top: 1px solid #c7d1dd;
}

/* ==========================================================
!FAQ Details
========================================================== */
/*FAQ Title*/
.h1_faq01 {
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 24px;
	font-size: 7.5vw;
	line-height: 1;
}

.h1_faq01 .cat_label {
	margin: 0 0 15px 0;
}

.h1_faq01 h1 {
	position: relative;
	padding: 0 0 0 10%;
}

.h1_faq01 h1 span {
	position: absolute;
	top: 0;
	left: 0;
	color: #226e08;
}

@media only screen and (min-width: 600px) {
	.h1_faq01 {
		font-size: 36px;
		font-size: 3.6rem;
	}
}

.faq_user01 {
	margin: 0 0 0 10%;
}

.faq_user01 li {
	display: inline-block;
	line-height: 1.2;
}

.faq_user01 li + li {
	padding: 0 0 0 5px;
	border-left: 1px solid #d7dee6;
}

.faq_question01 {
	margin: 0 0 10% 10%;
}

/*FAQ Answer*/
.faq_answer01 {
	position: relative;
	padding: 0 0 0 40px;
}

.faq_answer01 p {
	line-height: 1.8;
}

.faq_answer01 span {
	position: absolute;
	top: 0;
	left: 0;
	color: #f5624b;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 24px;
	font-size: 2.4rem;
	font-weight: bold;
}

@media only screen and (min-width: 600px) {
	.faq_answer01 {
		padding: 0 0 0 10%;
	}
}

/*FAQ banner（差分）*/
.box_bnr_title01 {
	display: table;
	width: 100%;
	max-width: 640px;
}

.box_bnr_title01:after {
	margin: 10px auto 0;
}

.box_bnr_title01 h2 {
	padding-top: 5%;
}

.box_bnr_title01 h2:before {
	left: 0;
	width: 26px;
	height: 46px;
	background-image: url(../img/faq/ill_bnr_title01.png);
}

.box_bnr_title01 h2:after {
	right: 0;
	width: 30px;
	height: 46px;
	background-image: url(../img/faq/ill_bnr_title02.png);
}

@media only screen and (min-width: 600px) {
	.box_bnr_title01 {
		margin: 0 auto 2% auto;
	}
	.box_bnr_title01:after {
		margin: 25px auto 0;
	}
	.box_bnr_title01 h2:before {
		width: 52px;
		height: 92px;
	}
	.box_bnr_title01 h2:after {
		width: 60px;
		height: 92px;
	}
}

/*# sourceMappingURL=../../../map/faq.css.map */
