@charset "UTF-8";
/*
 * yakuzencha.css
 */
/* ==========================================================
!Common
========================================================== */
/* ==========================================================
!mainimg
========================================================== */
.kodakara_mainimg01 {
	margin: 0 0 3% 0;
	padding: 5% 0 0 0;
	background: url(../img/kodakara/bg_mainimg01.png) no-repeat left bottom;
	background-size: cover;
}

@media only screen and (min-width: 768px) {
	.kodakara_mainimg01 {
		background-position: center bottom;
	}
	.kodakara_mainimg01 h2 {
		text-align: right;
	}
	.kodakara_mainimg01 h2 img {
		width: 55%;
	}
}

@media only screen and (min-width: 1020px) {
	.kodakara_mainimg01 {
		padding: 50px 0 0 0;
	}
	.kodakara_mainimg01 h2 img {
		width: auto;
	}
}

/* ==========================================================
!Application
========================================================== */
#application {
	margin: 3% 0 7.5% 0;
	padding: 30px 20px 15px 20px;
	border: 1px solid #c7d1dd;
	background: #ffffff;
}

#application h2 {
	padding: 0 0 20px 0;
	border-bottom: 1px dashed #c7d1dd;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 20px;
	font-size: 2rem;
	text-align: center;
}

#application .application_inner01 {
	padding: 15px 0 15px 0;
	border-bottom: 1px dashed #c7d1dd;
}

#application .application_inner01 dl dt {
	display: inline-block;
	float: left;
	font-weight: bold;
}

#application .application_inner01 dl dd {
	display: inline;
}

#application .application_inner01 dl:first-of-type dt {
	display: block;
}

#application .application_inner01 .btn {
	margin: 15px 0 0 0;
	text-align: center;
}

#application .taC {
	margin: 10px 0 0 0;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.6;
}

@media only screen and (min-width: 600px) {
	#application .application_inner01 dl {
		display: inline-block;
		margin: 0 1em 0 0;
	}
	#application .application_inner01 dl:first-of-type {
		display: block;
	}
	#application .application_inner01 dl:first-of-type dt {
		display: inline-block;
	}
}

@media only screen and (min-width: 768px) {
	#application {
		padding: 40px 40px 15px 40px;
	}
	#application h2 {
		padding: 0 0 30px 0;
	}
	#application .application_inner01 {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		    justify-content: space-between;
		-ms-flex-align: center;
		    align-items: center;
	}
	#application .application_inner01 .txt {
		-ms-flex: 1;
		    flex: 1;
		padding: 0 20px 0 0;
	}
	#application .application_inner01 .btn {
		width: 200px;
		margin: 0;
	}
}

/* ==========================================================
!Reason
========================================================== */
#reason .reason_inner01,
#reason .reason_inner02,
#reason .reason_inner03 {
	margin: 8% 0 0 0;
}

#reason .reason_inner01 .tit,
#reason .reason_inner02 .tit,
#reason .reason_inner03 .tit {
	padding: 8% 7% 8% 7%;
}

#reason .reason_inner01 .tit h3,
#reason .reason_inner02 .tit h3,
#reason .reason_inner03 .tit h3 {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-line-pack: center;
	    align-content: center;
	min-height: 7em;
	padding: 7% 5% 7% 5%;
	box-sizing: border-box;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 24px;
	font-size: 2.4rem;
	line-height: 1.4;
	text-align: center;
	background: rgba(255, 255, 255, 0.75);
}

#reason .reason_inner01 .tit h3 span,
#reason .reason_inner02 .tit h3 span,
#reason .reason_inner03 .tit h3 span {
	display: block;
	width: 100%;
	margin: 0 0 2% 0;
	color: #ed732e;
}

#reason .reason_inner01 p,
#reason .reason_inner02 p,
#reason .reason_inner03 p {
	margin: 2% 0 0 0;
}

#reason .reason_inner01 .tit {
	background: url(../img/kodakara/bg_reason01.png) no-repeat center center;
	background-size: cover;
}

#reason .reason_inner02 .tit {
	background: url(../img/kodakara/bg_reason02.png) no-repeat center center;
	background-size: cover;
}

#reason .reason_inner03 .tit {
	background: url(../img/kodakara/bg_reason03.png) no-repeat center center;
	background-size: cover;
}

#reason .txt_important01 {
	margin: 8% 0 0 0;
}

#reason .txt_important01 p {
	color: #ed732e;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 20px;
	font-size: 2rem;
	line-height: 1.7;
	text-align: center;
}

@media only screen and (min-width: 600px) {
	#reason .txt_important01 p {
		font-size: 26px;
		font-size: 2.6rem;
	}
}

@media only screen and (min-width: 768px) {
	#reason .reason_inner01 .tit,
	#reason .reason_inner02 .tit,
	#reason .reason_inner03 .tit {
		padding: 80px 70px 80px 70px;
	}
	#reason .reason_inner01 .tit h3,
	#reason .reason_inner02 .tit h3,
	#reason .reason_inner03 .tit h3 {
		min-height: 300px;
		font-size: 40px;
		font-size: 4rem;
	}
	#reason .reason_inner01 .tit h3 span,
	#reason .reason_inner02 .tit h3 span,
	#reason .reason_inner03 .tit h3 span {
		margin: 0 0 4% 0;
	}
	#reason .txt_important01 p {
		font-size: 30px;
		font-size: 3rem;
	}
}

/* ==========================================================
!Program
========================================================== */
#program {
	margin: 10% 0 0 0;
	padding: 1% 0 8% 0;
	background: #fcf5d3;
}

#program .example01 {
	margin: 6% 0 0 0;
	padding: 10% 0 3% 0;
	background: url(../img/kodakara/line_dot01.png) no-repeat center top, url(../img/kodakara/line_dot01.png) no-repeat center bottom;
}

#program .example01 h3 {
	margin: 0 0 4% 0;
	color: #2f3869;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 20px;
	font-size: 2rem;
	text-align: center;
}

#program .example01 ol {
	padding: 0 0 0 1.5em;
}

#program .example01 ol li {
	margin: 0 0 10px 0;
	color: #2f3869;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 18px;
	font-size: 1.8rem;
	letter-spacing: -0.01em;
	line-height: 1.5;
	list-style: decimal;
}

#program .example01 ol li:last-of-type {
	margin: 0;
}

#program .example01 .taR {
	margin: 0;
	color: #2f3869;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

#program .program_slider {
	overflow: hidden;
	position: relative;
	margin: 10% 0 0 0;
}

#program .program_slider .slick-slide {
	opacity: 0.4;
	position: relative;
}

#program .program_slider .slick-slide img {
	-webkit-filter: blur(2px);
	        filter: blur(2px);
}

#program .program_slider .slick-active {
	opacity: 1;
}

#program .program_slider .slick-active img {
	-webkit-filter: blur(0);
	        filter: blur(0);
}

#program .program_slider .slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 10;
	margin: -10px 0 0 0;
	font-size: 0;
	background: none;
	cursor: pointer;
}

#program .program_slider .slick-arrow:before {
	display: block;
	width: 20px;
	height: 20px;
	border-width: 0 3px 3px 0;
	border-style: solid;
	border-color: #ed732e;
	content: "";
}

#program .program_slider .slick-prev {
	left: 0;
}

#program .program_slider .slick-prev:before {
	-ms-transform: rotate(135deg);
	    transform: rotate(135deg);
}

#program .program_slider .slick-next {
	right: 0;
}

#program .program_slider .slick-next:before {
	-ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
}

@media only screen and (min-width: 768px) {
	#program {
		position: relative;
		padding: 1% 0 60px 0;
	}
	#program:after {
		display: inline-block;
		position: absolute;
		bottom: 15px;
		left: 50%;
		width: 119px;
		height: 77px;
		margin: 0 0 0 250px;
		content: "";
		background: url(../img/kodakara/ill_program01.png) no-repeat;
	}
	#program .h2_basic01 {
		margin: 11.5% 0 6% 0;
	}
	#program p {
		text-align: center;
	}
	#program .example01 {
		margin: 4.5% 0 0 0;
		padding: 35px 110px 20px 110px;
		background-repeat: none;
	}
	#program .example01 h3 {
		font-size: 26px;
		font-size: 2.6rem;
	}
	#program .example01 ol li {
		margin: 0 0 15px 0;
		font-size: 20px;
		font-size: 2rem;
	}
	#program .program_slider {
		position: relative;
		margin: 60px 0 0 0;
	}
	#program .program_slider .slick-slide {
		margin: 0 3px 0 3px;
	}
	#program .program_slider .slick-arrow:before {
		width: 40px;
		height: 40px;
	}
	#program .program_slider .slick-prev {
		left: 50%;
		margin: -20px 0 0 -360px;
	}
	#program .program_slider .slick-next {
		right: 50%;
		margin: -20px -360px 0 0;
	}
}

@media only screen and (min-width: 1020px) {
	#program {
		margin: 8% 0 0 0;
	}
	#program .program_slider {
		height: 400px;
	}
	#program .program_slider .slick-arrow:before {
		width: 43px;
		height: 43px;
	}
}

/* ==========================================================
!Instructor
========================================================== */
#instructor .instructor_inner01,
#instructor .instructor_inner02 {
	margin: 10% 0 0 0;
}

#instructor .instructor_inner01 .img,
#instructor .instructor_inner02 .img {
	text-align: center;
}

#instructor .instructor_inner01 .txt,
#instructor .instructor_inner02 .txt {
	margin: 4% 0 0 0;
}

#instructor .instructor_inner01 .txt dl dt,
#instructor .instructor_inner02 .txt dl dt {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	margin: 0 0 5px 0;
	font-size: 20px;
	font-size: 2rem;
	font-weight: bold;
}

#instructor .instructor_inner01 .txt dl dt span,
#instructor .instructor_inner02 .txt dl dt span {
	margin: 0 0 0 1em;
	color: #ed732e;
	font-size: 50%;
	font-weight: normal;
}

@media only screen and (min-width: 600px) {
	#instructor .instructor_inner01,
	#instructor .instructor_inner02 {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		    align-items: center;
		margin: 6% 0 0 0;
	}
	#instructor .instructor_inner01 .txt,
	#instructor .instructor_inner02 .txt {
		margin: 3% 0 0 0;
		padding: 0 0 0 20px;
	}
	#instructor .instructor_inner01 .img {
		width: 40%;
	}
	#instructor .instructor_inner01 .txt {
		-ms-flex: 1;
		    flex: 1;
	}
}

@media only screen and (min-width: 768px) {
	#instructor .instructor_inner01,
	#instructor .instructor_inner02 {
		margin: 5% 0 0 0;
	}
	#instructor .instructor_inner01 .img,
	#instructor .instructor_inner02 .img {
		width: auto;
	}
	#instructor .instructor_inner01 .txt,
	#instructor .instructor_inner02 .txt {
		-ms-flex: 1;
		    flex: 1;
	}
}

/* ==========================================================
!Voice
========================================================== */
#voice .box_notebook02 {
	margin: 4% 0 0 0;
}

#voice .box_notebook02 .notebook_inner01 {
	padding: 0 0 0.3em 0;
}

#voice .box_notebook02 .notebook_inner01 .taR {
	margin: 0;
}

@media only screen and (min-width: 600px) {
	#voice .box_notebook02 {
		margin: 20px 0 0 0;
	}
}

/* ==========================================================
!CV Fix
========================================================== */
@media only screen and (min-width: 768px) {
	#cv_fix {
		padding: 10px 0 16px 0;
	}
}

/*# sourceMappingURL=../../../map/kodakara.css.map */
