@charset "UTF-8";
/*
 * page.css
 */
/* ==========================================================
!Common
========================================================== */
em {
	font-weight: bold;
}

.txt_lead02 {
	font-size: 20px;
	font-size: 2rem;
	font-weight: bold;
}

.txt_lead02 p {
	line-height: 1.7;
}

.list_basic01 {
	font-weight: bold;
}

.contents_link01 h2 {
	position: relative;
	padding: 6% 0 8% 0;
	color: #f58d78;
	font-family: "Cormorant Garamond", serif;
	font-size: 20px;
	font-size: 2rem;
	text-align: center;
}

.contents_link01 h2:before,
.contents_link01 h2:after {
	display: inline-block;
	position: absolute;
	bottom: 20%;
	content: "";
}

.contents_link01 h2:before {
	left: 50%;
	width: 50px;
	height: 110px;
	margin: 0 0 0 -5.3em;
	background: url(../img/ill_page_tit01.png) no-repeat left top;
}

.contents_link01 h2:after {
	right: 50%;
	width: 41px;
	height: 106px;
	margin: 0 -5.5em 0 0;
	background: url(../img/ill_page_tit02.png) no-repeat left top;
}

.contents_link01 ul li {
	margin: 0 0 10px 0;
	padding: 3px 3px 3px 3px;
	transition-property: opacity;
	transition-duration: 0.3s;
}

.contents_link01 ul li:hover {
	opacity: 0.75;
}

.contents_link01 ul li a {
	position: relative;
	min-height: 82px;
	padding: 15px 35px 15px 35px;
	box-sizing: border-box;
	color: #1d1d1d;
	font-weight: bold;
	line-height: 1.6;
	text-align: center;
}

.contents_link01 ul li a:after {
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 10px;
	width: 1em;
	height: 1em;
	margin: -0.5em 0 0 0.4em;
	content: "";
	background: url(../img/ico_arrow_white01.svg) no-repeat;
	background-size: cover;
}

@media only screen and (min-width: 768px) {
	.contents_link01 h2 {
		padding: 20px 0 40px 0;
		font-size: 22px;
		font-size: 2.2rem;
	}
	.contents_link01 h2:before,
	.contents_link01 h2:after {
		bottom: 30px;
	}
	.contents_link01 ul {
		margin: 0 auto 20px;
	}
	.contents_link01 ul li a:after {
		width: 1.5em;
		height: 1.5em;
		margin: -0.8em 0 0 0.4em;
	}
	.box_col_2 {
		margin: 2% 0 0 0;
	}
	.box_col_2 .box_description01,
	.box_col_2 .box_description02 {
		width: calc(100%/2.03);
	}
	.topics_wrap01 .more01 {
		margin: 50px 0 0 0;
		padding: 0 32% 0 32%;
	}
}

.category_link01 {
	margin: 8% 0 0 0;
}

#related {
	margin: 12.5% 0 0 0;
}

/* ==========================================================
!before infertility treatment
========================================================== */
#before-infertility-treatment .box_basic01 {
	margin: 15% 0 0 0;
}

#before-infertility-treatment .contents_link01 ul {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
}

#before-infertility-treatment .contents_link01 ul li {
	background: url(../img/before/btn_before01.png) repeat;
}

#before-infertility-treatment .contents_link01 ul li a {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
	border: 1px solid rgba(251, 233, 220, 0.7);
}

#before-infertility-treatment .box_notebook01 {
	margin: 12% 0 0 0;
}

#before-infertility-treatment .box_notebook01 h2 {
	color: #d86457;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 20px;
	font-size: 2rem;
	text-align: center;
}

#before-infertility-treatment .box_notebook01 .img01 {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
	height: 6.6em;
	margin: 0 -20px 0 -20px;
}

#before-infertility-treatment .box_notebook01 .img01 img {
	width: 318px;
}

#before-infertility-treatment .box_notebook01 .img02 {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
	height: 4.5em;
	margin: -3px 0 -1.5% 0;
}

#before-infertility-treatment .box_notebook01 .img02 img {
	width: 160px;
}

@media only screen and (min-width: 600px) {
	#before-infertility-treatment .box_notebook01 h2 {
		font-size: 24px;
		font-size: 2.4rem;
	}
	#before-infertility-treatment .box_notebook01 .img01 {
		height: auto;
		margin: 7px 0 7px 0;
	}
	#before-infertility-treatment .box_notebook01 .img01 img {
		width: auto;
	}
	#before-infertility-treatment .box_notebook01 .img02 {
		height: auto;
		margin: 10px 0 0 0;
	}
	#before-infertility-treatment .box_notebook01 .img02 img {
		width: auto;
	}
}

@media only screen and (min-width: 768px) {
	#before-infertility-treatment .box_basic01 {
		margin: 8% 0 0 0;
	}
	#before-infertility-treatment .contents_link01 ul {
		width: 400px;
	}
	#before-infertility-treatment .contents_link01 ul li {
		font-size: 1.1em;
	}
	#before-infertility-treatment .box_notebook01 {
		margin: 8% 0 0 0;
	}
	#before-infertility-treatment .box_notebook01 h2 {
		margin: 0 0 7.5% 0;
	}
	#before-infertility-treatment .box_notebook01 .img01 {
		margin: 9px 0 9px 0;
	}
	#before-infertility-treatment .box_notebook01 .img02 {
		margin: -3px 0 -6px 0;
	}
}

/* ==========================================================
!possible at hospital
========================================================== */
#possible-at-hospital .box_description01 dl dd,
#possible-at-hospital .box_description02 dl dd {
	margin: 15px 0 0 0;
}

#possible-at-hospital .box_description01 dl dd ul li,
#possible-at-hospital .box_description02 dl dd ul li {
	margin: 0 0 5px 0;
	padding: 0 0 0 1em;
	text-indent: -1em;
}

#possible-at-hospital .box_description01 dl dd ul li:before,
#possible-at-hospital .box_description02 dl dd ul li:before {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 0.3em 0 0;
	content: "";
}

#possible-at-hospital .box_description01 {
	margin: 4% 0 0 0;
}

#possible-at-hospital .box_description01 dl dd ul li:nth-child(1):before {
	background: url(../img/before/ico_num_pink01.png) no-repeat;
	background-size: 15px;
}

#possible-at-hospital .box_description01 dl dd ul li:nth-child(2):before {
	background: url(../img/before/ico_num_pink02.png) no-repeat;
	background-size: 15px;
}

#possible-at-hospital .box_description01 dl dd ul li:nth-child(3):before {
	background: url(../img/before/ico_num_pink03.png) no-repeat;
	background-size: 15px;
}

#possible-at-hospital .box_description01 dl dd ul li:nth-child(4):before {
	background: url(../img/before/ico_num_pink04.png) no-repeat;
	background-size: 15px;
}

#possible-at-hospital .box_description01 dl dd ul li:nth-child(5):before {
	background: url(../img/before/ico_num_pink05.png) no-repeat;
	background-size: 15px;
}

#possible-at-hospital .box_description01 dl dd ul li:nth-child(6):before {
	background: url(../img/before/ico_num_pink06.png) no-repeat;
	background-size: 15px;
}

#possible-at-hospital .box_description02 dl dd ul li:nth-child(1):before {
	background: url(../img/before/ico_num_gray01.png) no-repeat;
	background-size: 15px;
}

#possible-at-hospital .box_description02 dl dd ul li:nth-child(2):before {
	background: url(../img/before/ico_num_gray02.png) no-repeat;
	background-size: 15px;
}

#possible-at-hospital .box_description02 dl dd ul li:nth-child(3):before {
	background: url(../img/before/ico_num_gray03.png) no-repeat;
	background-size: 15px;
}

#possible-at-hospital .movies01 {
	margin: 12.5% 0 0 0;
}

#possible-at-hospital .movies01 .box_movie01 {
	margin: 0 0 4% 0;
}

@media only screen and (min-width: 600px) {
	#possible-at-hospital .box_description01 dl dd,
	#possible-at-hospital .box_description02 dl dd {
		margin: 25px 0 0 0;
	}
}

@media only screen and (min-width: 768px) {
	#possible-at-hospital .box_description01 {
		margin: 0;
	}
}

/* ==========================================================
!check
========================================================== */
#check .check_outer01 {
	position: relative;
	margin: 8% 0 0 0;
	padding: 30px 2.7% 2.7% 2.7%;
	border-radius: 10px;
	background: #b89358;
}

#check .check_outer01:before {
	display: inline-block;
	position: absolute;
	top: -15px;
	left: 50%;
	z-index: 1;
	width: 160px;
	height: 57px;
	margin: 0 0 0 -80px;
	content: "";
	background: url(../img/before/ill_clip.png) no-repeat center top;
	background-size: cover;
}

#check .check_outer01 .check_inner01 {
	position: relative;
	padding: 50px 7.1% 7.1% 7.1%;
	background: #ffffff;
}

#check .check_outer01 .check_inner01:before,
#check .check_outer01 .check_inner01:after {
	display: inline-block;
	position: absolute;
	z-index: 2;
	content: "";
}

#check .check_outer01 .check_inner01:before {
	top: -28px;
	left: 20px;
	width: 55px;
	height: 65px;
	background: url(../img/before/ill_check01.png) no-repeat;
}

#check .check_outer01 .check_inner01:after {
	top: -47px;
	right: 20px;
	width: 50px;
	height: 78px;
	background: url(../img/before/ill_check02.png) no-repeat;
}

#check .check_outer01 .check_inner01 p {
	margin: 0 0 8% 0;
	line-height: 1.6;
	text-align: center;
}

#check .check_outer01 .check_inner01 ul {
	padding: 0 0 10px 0;
	border-bottom: 1px dashed #c7d1dd;
}

#check .check_outer01 .check_inner01 ul li {
	position: relative;
	margin: 0 0 10px 0;
}

#check .check_outer01 .check_inner01 ul li input {
	position: absolute;
	z-index: -10;
}

#check .check_outer01 .check_inner01 ul li label {
	display: block;
	padding: 10px 10px 10px 2.2em;
	border: 2px solid #e7e7e7;
	border-radius: 4px;
	box-shadow: 1px 1px 1px rgba(231, 231, 231, 0.6);
	line-height: 1.6;
	text-indent: -2.2em;
}

#check .check_outer01 .check_inner01 ul li label:before {
	display: inline-block;
	width: 21px;
	height: 21px;
	margin: 0 0.5em -0.2em 10px;
	border: 2px solid #e7e7e7;
	content: "";
	background: #ffffff;
}

#check .check_outer01 .check_inner01 ul li input:focus + label,
#check .check_outer01 .check_inner01 ul li input:hover + label {
	border-color: #e4cdca;
	color: #000000;
	background: #f7e0dd;
}

#check .check_outer01 .check_inner01 ul li input:checked + label {
	position: relative;
	border-color: #d86457;
	color: #ffffff;
	background: #d86457;
}

#check .check_outer01 .check_inner01 ul li input:checked + label:after {
	display: inline-block;
	position: absolute;
	top: 13px;
	left: 16px;
	width: 9px;
	height: 13px;
	border-width: 0 3px 3px 0;
	border-style: solid;
	border-color: #d86457;
	content: "";
	-ms-transform: rotate(45deg);
	    transform: rotate(45deg);
}

#check .check_outer01 .check_inner01 .check_count01:after {
	display: block;
	clear: both;
	content: "";
}

#check .check_outer01 .check_inner01 .check_count01 dl {
	display: table;
	float: right;
	margin: 20px 0 0 0;
	padding: 0 0 5px 0;
	border-bottom: 1px solid #c7d1dd;
	line-height: 1;
}

#check .check_outer01 .check_inner01 .check_count01 dl dt {
	display: table-cell;
}

#check .check_outer01 .check_inner01 .check_count01 dl dd {
	display: table-cell;
	padding: 0 20px 0 20px;
	color: #d86457;
}

#check .check_outer01 .check_inner01 .check_count01 dl dd span {
	font-size: 200%;
	font-weight: bold;
}

@media only screen and (min-width: 768px) {
	#check .check_outer01 {
		padding: 40px 20px 20px 20px;
	}
	#check .check_outer01:before {
		top: -33px;
		width: 310px;
		height: 110px;
		margin: 0 0 0 -155px;
	}
	#check .check_outer01 .check_inner01 {
		padding: 68px 50px 40px 50px;
	}
	#check .check_outer01 .check_inner01:before {
		left: 37px;
	}
	#check .check_outer01 .check_inner01:after {
		right: 80px;
	}
	#check .check_outer01 .check_inner01 p {
		margin: 0 0 25px 0;
	}
	#check .check_outer01 .check_inner01 ul {
		padding: 0 40px 20px 40px;
	}
	#check .check_outer01 .check_inner01 ul li label {
		font-size: 20px;
		font-size: 2rem;
	}
	#check .check_outer01 .check_inner01 ul li label:before {
		margin: 0 0.5em -0.1em 14px;
	}
	#check .check_outer01 .check_inner01 ul li input:checked + label:after {
		top: 0.85em;
		left: 20px;
	}
	#check .check_outer01 .check_inner01 .check_count01 {
		font-size: 20px;
		font-size: 2rem;
	}
	#check .check_outer01 .check_inner01 .check_count01 dl {
		margin: 30px 0 0 0;
	}
	#check .check_outer01 .check_inner01 .check_count01 dl dd {
		padding: 0 40px 0 40px;
	}
	#check .check_outer01 .check_inner01 .check_count01 dl dd span {
		font-size: 300%;
	}
}

/* ==========================================================
!basal-temparature
========================================================== */
#basal-temparature .box_description01 {
	margin: 2% 0 0 0;
}

#basal-temparature .box_description01 .list_basic01 {
	padding: 0;
	font-weight: normal;
}

#basal-temparature .list_basic02 {
	margin: 4% 0 0 0;
}

/* ==========================================================
!ryuzan
========================================================== */
#ryuzan .box_basic01 {
	margin: 12% 0 0 0;
}

#ryuzan .contents_link01 ul li {
	background: url(../img/ryuzan/btn_ryuzan01.png) repeat;
}

#ryuzan .contents_link01 ul li a {
	display: block;
	border: 1px solid rgba(251, 233, 220, 0.5);
	color: #ffffff;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: normal;
}

#ryuzan .contents_link01 ul li a span {
	display: block;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 22px;
	font-size: 2.2rem;
}

#ryuzan .sec_angel01 {
	position: relative;
	margin: 8% 0 0 0;
	padding: 12% 12% 12% 12%;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	background: url(../img/ryuzan/bg_ryuzan01.png) no-repeat;
	background-size: cover;
}

#ryuzan .sec_angel01:before,
#ryuzan .sec_angel01:after {
	display: inline-block;
	position: absolute;
	content: "";
}

#ryuzan .sec_angel01:before {
	top: 9%;
	left: -16px;
	width: 55px;
	height: 48px;
	background: url(../img/ryuzan/ill_ryuzan01.png) no-repeat;
}

#ryuzan .sec_angel01:after {
	top: 40%;
	right: -10px;
	width: 50px;
	height: 55px;
	background: url(../img/ryuzan/ill_ryuzan02.png) no-repeat;
}

#ryuzan .sec_angel01 h2 {
	margin: 0 0 12% 0;
	color: #d86457;
	font-size: 22px;
	font-size: 2.2rem;
	text-align: center;
}

#ryuzan .sec_angel01 p {
	font-size: 18px;
	font-size: 1.8rem;
}

#ryuzan .box_description01 ul {
	padding: 2.5% 2% 0 2%;
}

#ryuzan .box_description01 ul li {
	margin: 2% 0 0 0;
}

@media only screen and (min-width: 600px) {
	#ryuzan .sec_angel01:before {
		top: 12%;
		left: 58px;
	}
	#ryuzan .sec_angel01:after {
		right: 35px;
		width: 50px;
	}
	#ryuzan .sec_angel01 h2 {
		font-size: 24px;
		font-size: 2.4rem;
	}
	#ryuzan .sec_angel01 p {
		font-size: 20px;
		font-size: 2rem;
	}
}

@media only screen and (min-width: 768px) {
	#ryuzan .box_basic01 {
		margin: 8% 0 0 0;
	}
	#ryuzan .contents_link01 ul {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-ms-flex-pack: justify;
		    justify-content: space-between;
	}
	#ryuzan .contents_link01 ul li {
		width: calc(100%/2.05);
		margin: 0 0 15px 0;
	}
	#ryuzan .sec_angel01 {
		padding: 12% 16% 14% 16%;
	}
	#ryuzan .sec_angel01:before {
		top: 14%;
		left: 66px;
	}
	#ryuzan .sec_angel01:after {
		right: 75px;
	}
	#ryuzan .sec_angel01 h2 {
		font-size: 24px;
		font-size: 2.4rem;
	}
	#ryuzan .sec_angel01 p {
		font-size: 20px;
		font-size: 2rem;
		line-height: 2.2;
	}
}

@media only screen and (min-width: 1020px) {
	#ryuzan .sec_angel01 p {
		margin: 6% 0 0 0;
		line-height: 2.3;
	}
}

/* ==========================================================
!no worries
========================================================== */
#no-worries .box_notebook01 {
	margin: 6% 0 0 0;
}

#no-worries .box_notebook01 h2 {
	margin: 0 0 7% 0;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 20px;
	font-size: 2rem;
	text-align: center;
}

#no-worries .box_notebook01 .notebook_inner01:first-of-type {
	padding: 0 0 5px 0;
}

#no-worries .box_notebook01 .notebook_inner01:last-of-type {
	padding: 36px 0 3em 0;
}

#no-worries .box_notebook01 .box_quote01 {
	margin: 0 0 2% 0;
}

#no-worries .box_notebook01 .box_quote01 p {
	margin: 4% 0 0 0;
	line-height: 2;
}

#no-worries .sec_about01 {
	margin: 8% 0 0 0;
	padding: 8% 0 0 0;
	border-top: 1px solid #c7d1dd;
}

#no-worries .sec_about01 h2 {
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 18px;
	font-size: 1.8rem;
	text-align: center;
}

@media only screen and (min-width: 768px) {
	#no-worries .box_notebook01 h2 {
		font-size: 30px;
		font-size: 3rem;
	}
	#no-worries .box_notebook01 .notebook_inner01:last-of-type {
		padding: 41px 0 3em 0;
	}
	#no-worries .box_notebook01 .box_quote01 {
		margin: 0 0 1% 0;
	}
	#no-worries .sec_about01 h2 {
		font-size: 20px;
		font-size: 2rem;
	}
}

/* ==========================================================
!right knowledge
========================================================== */
#right-knowledge .box_description02 {
	margin: 1.5% 0 0 0;
}

/* ==========================================================
!prevent miscarriage
========================================================== */
#prevent-miscarriage .list_basic01 li {
	margin: 0 0 5px 0;
}

#prevent-miscarriage .list_num01 {
	margin: 1.5% 0 0 0;
}

#prevent-miscarriage .list_num01 li:before {
	position: static;
	width: 15px;
	height: 15px;
	margin: 0 0.3em -0.06em 0;
}

#prevent-miscarriage .list_num01 li:nth-child(1):before {
	background: url(../img/before/ico_num_pink01.png) no-repeat;
	background-size: 15px;
}

#prevent-miscarriage .list_num01 li:nth-child(2):before {
	background: url(../img/before/ico_num_pink02.png) no-repeat;
	background-size: 15px;
}

#prevent-miscarriage .box_description01:not(:first-of-type) {
	margin: 1.2% 0 0 0;
}

/* ==========================================================
!after care
========================================================== */
#after-care .care_list01 {
	margin: 6% 0 0 0;
}

#after-care .care_list01 dl {
	margin: 2% 0 0 0;
	padding: 25px 30px 30px 30px;
	background: #fdfae9;
}

#after-care .care_list01 dl dt {
	margin: 0 0 15px 0;
	color: #f58d78;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1.5;
	text-align: center;
}

#after-care .care_list01 dl dd .list_basic01 {
	margin: 0;
	padding: 0;
}

#after-care .box_description01,
#after-care .box_description02 {
	margin: 1.5% 0 0 0;
}

#after-care .box_description01 dl dd,
#after-care .box_description02 dl dd {
	margin: 15px 0 0 0;
}

#after-care .list_basic01 {
	margin: 1.5% 0 0 0;
}

#after-care .list_basic01 li {
	margin: 0 0 5px 0;
}

#after-care .check_list01 {
	padding: 0 10px 0 10px;
}

#after-care .check_list01 li {
	margin: 5px 0 0 0;
}

#after-care .check_list01 li:before {
	display: inline-block;
	width: 10px;
	height: 15px;
	margin: 0 0.6em 1px 0;
	border-width: 0 4px 4px 0;
	border-style: solid;
	border-color: #d86457;
	content: "";
	-ms-transform: rotate(45deg);
	    transform: rotate(45deg);
}

@media only screen and (min-width: 768px) {
	#after-care .care_list01 {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
		-ms-flex-pack: justify;
		    justify-content: space-between;
	}
	#after-care .care_list01 dl {
		width: calc(100%/3.05);
		margin: 0;
	}
	#after-care .care_list01 dl dt {
		height: 4.5em;
	}
	#after-care .check_list01 {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-ms-flex-pack: justify;
		    justify-content: space-between;
		padding: 10px 0 0 0;
	}
	#after-care .check_list01 li {
		width: 50%;
	}
}

/*# sourceMappingURL=../../../map/page.css.map */
