@charset "UTF-8";
/*
 * top.css
 */
/* ==========================================================
!TOP Common
========================================================== */
.h2_top01 {
	margin: 0 0 10% 0;
	padding: 0 0 3.2% 0;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.3);
}

.h2_top01 h2 {
	font-family: "Cormorant Garamond", serif;
	font-size: 20px;
	font-size: 6.25vw;
	letter-spacing: 0.02em;
	line-height: 1;
	text-align: center;
}

@media only screen and (min-width: 768px) {
	.h2_top01 {
		margin: 0 0 4% 0;
		padding: 0 0 2.4% 0;
	}
	.h2_top01 h2 {
		font-size: 30px;
		font-size: 3rem;
	}
}

/* ==========================================================
!Mainimg
========================================================== */
#mainimg {
	position: relative;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

#mainimg .slider {
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;
}

#mainimg .slider.sp {
	display: block;
}

#mainimg .slider img {
	width: 100%;
}

#mainimg .slider .slider_item01 {
	background: url(../img/top/mainimg01.png) no-repeat center center;
	background-size: cover;
}

#mainimg .slider .slider_item02 {
	background: url(../img/top/mainimg02.png) no-repeat center center;
	background-size: cover;
}

#mainimg .slider .slider_item03 {
	background: url(../img/top/mainimg03.png) no-repeat center center;
	background-size: cover;
}

#mainimg .slider .slider_item04 {
	background: url(../img/top/mainimg04.png) no-repeat center center;
	background-size: cover;
}

#mainimg .slick-track {
	height: 380px;
}

#mainimg .slick-initialized {
	opacity: 1;
}

#mainimg .mainimg_copy {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

#mainimg .mainimg_copy p {
	color: #ee624c;
	font-size: 24px;
	font-size: 7.5vw;
	font-weight: bold;
	line-height: 1.5;
}

#mainimg .mainimg_badge {
	position: absolute;
	right: 3%;
	bottom: 0;
	width: 35%;
	line-height: 1.3;
	background: url(../img/top/bg_badge01.png) no-repeat;
	background-size: contain;
}

#mainimg .mainimg_badge p {
	padding: 22% 0 16.8% 0;
	font-size: 11px;
	font-size: 3.4375vw;
	font-weight: bold;
	letter-spacing: normal;
	line-height: 1.3;
}

#mainimg .mainimg_badge p em {
	padding: 0 0.2em 0 0.5em;
	letter-spacing: -0.05em;
	background: url(../img/top/bg_badge_line01.png) no-repeat center bottom;
	background-size: 100%;
}

#mainimg .mainimg_badge p em span {
	font-size: 200%;
}

@media only screen and (min-width: 768px) {
	#mainimg .slider.pc {
		display: block;
	}
	#mainimg .slider.sp {
		display: none;
	}
	#mainimg .slick-track {
		height: 350px;
	}
	#mainimg .mainimg_copy p {
		font-size: 26px;
		font-size: 2.6rem;
	}
	#mainimg .mainimg_badge {
		width: 16%;
	}
	#mainimg .mainimg_badge p {
		font-size: 5px;
		font-size: 1.5625vw;
	}
}

@media only screen and (min-width: 1200px) {
	#mainimg .slick-track {
		height: 500px;
	}
	#mainimg .mainimg_copy p {
		font-size: 40px;
		font-size: 4rem;
	}
	#mainimg .mainimg_badge {
		right: 50%;
		width: 210px;
		height: 196px;
		margin: 0 -552px 0 0;
	}
	#mainimg .mainimg_badge p {
		padding: 48px 0 0 0;
		font-size: 22px;
		font-size: 2.2rem;
	}
}

/* ==========================================================
!Contents
========================================================== */
@keyframes jump {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(-3px, -6px) rotate(-2deg);
	}
	50% {
		transform: translate(0, 0);
	}
	75% {
		transform: translate(3px, -6px) rotate(2deg);
	}
	100% {
		transform: translate(0, 0);
	}
}

#top_contents {
	padding: 14% 0 12% 0;
	background: #fcf5d3;
}

#top_contents .top_profile01 {
	margin: 0 0 21.5% 0;
}

#top_contents .top_profile01 .img img {
	width: 100%;
}

#top_contents .top_profile01 .txt {
	padding: 1.8%;
	background: #ffffff;
}

#top_contents .top_profile01 .txt dl {
	height: 100%;
	padding: 7.6%;
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	border-color: #fbe9dc;
}

#top_contents .top_profile01 .txt dl dt {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	margin: 0 0 5% 0;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 24px;
	font-size: 2.4rem;
}

#top_contents .top_profile01 .txt dl dt span {
	margin: 0 0 0 0.5em;
	color: #f58d78;
	font-size: 50%;
	letter-spacing: normal;
}

#top_contents .top_profile01 .txt dl dd:last-of-type {
	margin: 8% 0 0 0;
	padding: 0 5% 0 5%;
}

#top_contents .top_menu01 ul li {
	margin: 0 0 8.5% 0;
}

#top_contents .top_menu01 ul li:first-child {
	position: relative;
}

#top_contents .top_menu01 ul li:first-child:before {
	display: inline-block;
	position: absolute;
	top: -30px;
	left: 9px;
	z-index: 0;
	width: 83px;
	height: 46px;
	content: "";
	background: url(../img/top/ill_contents01.png) no-repeat;
	animation: jump 1.5s steps(1) infinite;
	transform: translate3d(0, 0, 0);
}

#top_contents .top_menu01 ul li a {
	position: relative;
	z-index: 1;
	color: #1d1d1d;
}

#top_contents .top_menu01 ul li a:hover {
	color: #ff6e77;
}

#top_contents .top_menu01 ul li a div {
	margin: 0 0 2% 0;
	background: #ffffff;
}

#top_contents .top_menu01 ul li p {
	margin: 3% 0 0 0;
	line-height: 1.5;
}

#top_contents .bg_top01,
#top_contents .bg_top02 {
	display: none;
}

@media only screen and (min-width: 600px) {
	#top_contents {
		padding: 14% 0 6% 0;
	}
	#top_contents .top_profile01 {
		margin: 0 0 14% 0;
		line-height: 1.5;
	}
	#top_contents .top_menu01 ul {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-ms-flex-pack: justify;
		    justify-content: space-between;
	}
	#top_contents .top_menu01 ul li {
		width: calc(100%/2.1);
		margin: 0;
	}
	#top_contents .top_menu01 ul li p {
		padding: 0 0 18% 0;
	}
}

@media only screen and (min-width: 768px) {
	#top_contents {
		padding: 8% 0 2% 0;
		background: #fcf5d3 url(../img/top/bg_contents01.png) repeat-x center top;
	}
	#top_contents .top_profile01 {
		display: -ms-flexbox;
		display: flex;
		margin: 0 0 6% 0;
	}
	#top_contents .top_profile01 .img {
		overflow: hidden;
		width: 50%;
		text-align: center;
	}
	#top_contents .top_profile01 .txt {
		width: 50%;
		padding: 5px;
	}
	#top_contents .top_profile01 .txt dl dt {
		margin: 0 0 4.8% 0;
	}
	#top_contents .top_profile01 .txt dl dd {
		font-size: 14px;
		font-size: 1.4rem;
	}
	#top_contents .top_profile01 .txt dl dd:last-of-type {
		margin: 6% 0 0 0;
		padding: 0 20% 0 20%;
	}
	#top_contents .top_profile01 .txt dl dd .btn_basic02 a {
		height: 42px;
		line-height: 42px;
	}
	#top_contents .top_menu01 ul li {
		width: calc(100%/3.2);
	}
	#top_contents .top_menu01 ul li p {
		margin: 3% 0 0 0;
	}
}

@media only screen and (min-width: 1020px) {
	#top_contents {
		padding: 100px 0 20px 0;
	}
	#top_contents .top_profile01 {
		line-height: 1.8;
	}
	#top_contents .top_profile01 .txt dl {
		padding: 10.4% 6.2% 0 6.2%;
	}
	#top_contents .top_profile01 .txt dl dt {
		margin: 0 0 6% 0;
		font-size: 30px;
		font-size: 3rem;
	}
	#top_contents .top_profile01 .txt dl dd {
		font-size: 16px;
		font-size: 1.6rem;
	}
	#top_contents .top_profile01 .txt dl dd:last-of-type {
		margin: 5% 0 0 0;
		padding: 0;
	}
	#top_contents .top_profile01 .txt dl dd:last-of-type .btn_basic02 {
		width: 200px;
		margin: 0 auto 0;
	}
	#top_contents .top_profile01 .txt dl dd:last-of-type .btn_basic02 a {
		height: 54px;
		line-height: 54px;
	}
	#top_contents .top_menu01 ul li {
		width: calc(100%/3.32);
	}
	#top_contents .top_menu01 ul li p {
		padding: 0 0 45px 0;
	}
}

@media only screen and (min-width: 1200px) {
	#top_contents {
		position: relative;
	}
	#top_contents .top_profile01,
	#top_contents .top_menu01 {
		position: relative;
		z-index: 1;
	}
	#top_contents .top_profile01 dl dd:last-of-type {
		margin: 9% 0 0 0;
	}
	#top_contents .bg_top01,
	#top_contents .bg_top02 {
		display: inline-block;
		position: absolute;
		z-index: 0;
	}
	#top_contents .bg_top01 {
		top: 465px;
		right: 0;
	}
	#top_contents .bg_top02 {
		bottom: 26px;
		left: 0;
	}
}

/* ==========================================================
!Topics
========================================================== */
#topics {
	padding: 17% 0 25% 0;
}

#topics .h2_top01 {
	padding: 0;
	border: none;
}

#topics .topics_navi01 {
	margin: 0 0 10% 0;
	padding: 0 0 3% 0;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.3);
}

#topics .topics_navi01 ul {
	text-align: center;
}

#topics .topics_navi01 ul li {
	display: inline-block;
	position: relative;
	margin: 0 0 0.5em 0;
	padding: 2px 8px 2px 8px;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1;
	cursor: pointer;
	transition-property: color;
	transition-duration: 0.2s;
	/* hover,active */
}

#topics .topics_navi01 ul li:after {
	display: inline-block;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	transition-property: opacity;
	transition-duration: 0.2s;
}

#topics .topics_navi01 ul li.topics_all:after {
	background: url(../img/label_all01.png) no-repeat;
	background-size: cover;
}

#topics .topics_navi01 ul li.topics_column:after {
	background: url(../img/label_column01.png) no-repeat;
	background-size: cover;
}

#topics .topics_navi01 ul li.topics_info:after {
	background: url(../img/label_info01.png) no-repeat;
	background-size: cover;
}

#topics .topics_navi01 ul li.topics_media:after {
	background: url(../img/label_media01.png) no-repeat;
	background-size: cover;
}

#topics .topics_navi01 ul li.topics_experiences:after {
	background: url(../img/label_experiences01.png) no-repeat;
	background-size: cover;
}

#topics .topics_navi01 ul li.topics_faq:after {
	background: url(../img/label_faq01.png) no-repeat;
	background-size: cover;
}

#topics .topics_navi01 ul li span {
	display: inline-block;
	position: relative;
	z-index: 1;
}

#topics .topics_navi01 ul li.active,
#topics .topics_navi01 ul li:hover {
	color: #ffffff;
}

#topics .topics_navi01 ul li.active:after,
#topics .topics_navi01 ul li:hover:after {
	opacity: 1;
}

#topics .topics_wrap01 {
	position: relative;
}

#topics .topics_wrap01 .topics_box01 {
	overflow: hidden;
	opacity: 0;
	position: absolute;
	z-index: 0;
	height: 0;
	transition: all 0.5s;
}

#topics .topics_wrap01 .topics_box01.active {
	overflow: visible;
	opacity: 1;
	position: relative;
	z-index: 1;
	height: auto;
}

#topics .topics_wrap01 .more01 {
	margin: 19% 0 0 0;
	padding: 0 5% 0 5%;
}

@media only screen and (min-width: 600px) {
	#topics {
		padding: 14% 0 20% 0;
	}
	#topics .topics_wrap01 .more01 {
		margin: 10% 0 0 0;
	}
}

@media only screen and (min-width: 768px) {
	#topics {
		padding: 8% 0 13% 0;
	}
	#topics .h2_top01 {
		margin: 0 0 4% 0;
	}
	#topics .topics_navi01 {
		margin: 0 0 5% 0;
		padding: 0 0 2% 0;
	}
	#topics .topics_wrap01 .more01 {
		margin: 35px 0 0 0;
	}
	#topics .topics_wrap01 .more01 .btn_basic01 {
		width: 240px;
		margin: 0 auto 0;
	}
}

@media only screen and (min-width: 1020px) {
	#topics {
		padding: 120px 0 100px 0;
	}
	#topics .topics_header01 {
		display: -ms-flexbox;
		display: flex;
		margin: 0 0 6% 0;
		padding: 0 0 2% 0;
		border-width: 0 0 1px 0;
		border-style: solid;
		border-color: rgba(0, 0, 0, 0.3);
	}
	#topics .topics_header01 .h2_top01 {
		-ms-flex-positive: 1;
		    flex-grow: 1;
		margin: 0;
	}
	#topics .topics_header01 .h2_top01 h2 {
		text-align: left;
	}
	#topics .topics_header01 .topics_navi01 {
		-ms-flex-positive: 2;
		    flex-grow: 2;
		margin: 0;
		border: none;
	}
	#topics .topics_header01 .topics_navi01 ul {
		text-align: right;
	}
	#topics .topics_header01 .topics_navi01 ul li {
		margin: 0;
	}
}

/* ==========================================================
!SNS
========================================================== */
#sns_area .blog_wrap01 .blog_inner01 {
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #e9ebee;
}

#sns_area .blog_wrap01 .blog_inner01 .blog_header01 {
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #e9ebee;
}

#sns_area .blog_wrap01 .blog_inner01 .blog_contents01 {
	overflow: scroll;
	height: 415px;
	padding: 9% 9% 9% 9%;
	box-sizing: border-box;
}

#sns_area .blog_wrap01 .blog_inner01 .blog_contents01 ul li {
	margin: 0 0 15px 0;
	padding: 0 0 15px 0;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #c2c2c2;
}

#sns_area .blog_wrap01 .blog_inner01 .blog_contents01 ul li:last-of-type {
	margin: 0;
	border: none;
}

#sns_area .blog_wrap01 .blog_inner01 .blog_contents01 ul li .date {
	color: #635e54;
	font-size: 12px;
	font-size: 1.2rem;
}

#sns_area .blog_wrap01 .blog_inner01 .blog_contents01 ul li a {
	display: block;
	color: #1d1d1d;
	font-size: 14px;
	font-size: 1.4rem;
}

#sns_area .blog_wrap01 .blog_inner01 .blog_contents01 ul li a:hover {
	color: #ff6e77;
	text-decoration: underline;
}

#sns_area .blog_wrap01 .blog_inner01 .blog_contents01 ul li a[target="_blank"]:after {
	content: none;
}

#sns_area .instagram_wrap01 {
	margin: 11% 0 0 0;
}

#sns_area .instagram_wrap01 .instagram_inner01 {
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #e9ebee;
}

#sns_area #sb_instagram a[target="_blank"]:after {
	display: none;
}

#sns_area .fb_wrap01 {
	margin: 11% 0 28% 0;
	text-align: center;
}

#sns_area .btn_sns01 {
	margin: 7% 0 0 0;
	padding: 0 10% 0 10%;
}

@media only screen and (min-width: 768px) {
	#sns_area {
		margin: 0 0 13% 0;
	}
	#sns_area .inner01 {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-ms-flex-pack: justify;
		    justify-content: space-between;
	}
	#sns_area .inner01 > div {
		width: calc(100%/3.2);
	}
	#sns_area .blog_wrap01 .blog_inner01 {
		height: 500px;
	}
	#sns_area .blog_wrap01 .blog_inner01 .blog_contents01 {
		height: 84%;
	}
	#sns_area .instagram_wrap01 {
		margin: 0;
	}
	#sns_area .instagram_wrap01 .instagram_inner01 {
		height: 500px;
	}
	#sns_area .fb_wrap01 {
		margin: 0;
	}
	#sns_area .btn_sns01 {
		margin: 7% 0 0 0;
		padding: 0 5% 0 5%;
	}
}

@media only screen and (min-width: 1020px) {
	#sns_area {
		margin: 0 0 100px 0;
	}
	#sns_area .inner01 > div {
		width: calc(100%/3.33);
	}
	#sns_area .blog_wrap01 .blog_inner01 .blog_contents01 {
		height: 408px;
		padding: 6% 9% 6% 9%;
	}
	#sns_area .btn_sns01 {
		margin: 20px 0 0 0;
		padding: 0;
	}
	#sns_area .btn_sns01 a {
		width: 200px;
		margin: 0 auto 0;
	}
}

/* ==========================================================
!CV
========================================================== */
#cvarea ul {
	text-align: center;
}

#cvarea ul li {
	margin: 0 0 10% 0;
}

#cvarea ul li:last-of-type {
	margin: 0;
}

@media only screen and (min-width: 768px) {
	#cvarea ul li {
		margin: 0 0 3% 0;
	}
}

@media only screen and (min-width: 1020px) {
	#cvarea ul {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-ms-flex-pack: justify;
		    justify-content: space-between;
	}
	#cvarea ul li {
		width: calc(100%/2.08);
		margin: 0;
	}
}

/*# sourceMappingURL=../../../map/top.css.map */
