@charset "UTF-8";
/*
 * yakuzencha.css
 */
/* ==========================================================
!Common
========================================================== */
.h2_basic01 {
	margin-bottom: 40px;
}

.txt_important01 {
	margin: 8% 0 0 0;
}

.txt_important01 p {
	color: #ed732e;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 20px;
	font-size: 2rem;
	line-height: 1.7;
	text-align: center;
}

@media only screen and (min-width: 600px) {
	.txt_important01 p {
		font-size: 26px;
		font-size: 2.6rem;
	}
}

@media only screen and (min-width: 768px) {
	.h2_basic01 {
		margin-top: 140px;
		margin-bottom: 40px;
	}
	.txt_important01 p {
		font-size: 30px;
		font-size: 3rem;
	}
}

button {
	padding: 0;
	cursor: pointer;
}

button:hover {
	opacity: 0.75;
}

/* ==========================================================
!mainimg
========================================================== */
.yakuzencha_mainimg01 {
	margin: 0 0 20px 0;
	padding: 20px 0 20px 0;
	background: url(../img/yakuzencha/bg_minimg01.png) no-repeat 17% top;
	background-size: cover;
}

@media only screen and (min-width: 768px) {
	.yakuzencha_mainimg01 {
		margin: 0 0 45px 0;
	}
}

/* ==========================================================
!Concept
========================================================== */
#concept .txt_concept01 {
	margin: 6% 0 0 0;
}

#concept .txt_concept01 .img {
	text-align: center;
}

@media only screen and (min-width: 768px) {
	#concept .txt_concept01 {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
	}
	#concept .txt_concept01 .txt {
		padding: 0 0 0 20px;
	}
	#concept .txt_concept01 .txt p:first-of-type {
		margin: 0;
	}
	#concept .txt_concept01 .img {
		width: 43%;
	}
}

/* ==========================================================
!Goods
========================================================== */
#goods .h2_basic01 {
	margin-bottom: 8%;
}

#goods .inner01 {
	margin-top: 5%;
	text-align: center;
}

#goods .sec_goods01 {
	margin: 8% 0 0 0;
}

#goods .sec_goods01 .tit {
	padding: 0 0 10px 0;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #c7d1dd;
}

#goods .sec_goods01 .tit h3 {
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 20px;
	font-size: 2rem;
}

#goods .sec_goods01 .txt dl dd > div {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	margin: 4% 0 0 0;
}

#goods .sec_goods01 .txt dl dd > div .img {
	width: 80px;
}

#goods .sec_goods01 .txt dl dd > div dl {
	-ms-flex: 1;
	    flex: 1;
}

#goods .sec_goods01 .txt dl dd > div dl dt {
	margin: 0;
	padding: 0 0 0 20px;
}

#goods .sec_goods01 .txt dl dd > div dl dd {
	padding: 0 0 0 20px;
}

@media only screen and (min-width: 1020px) {
	#goods .inner01 {
		margin-top: 3.5%;
	}
	#goods .inner01 img {
		margin: 0 -40px 0 0;
	}
	#goods .sec_goods01 {
		display: -ms-flexbox;
		display: flex;
	}
	#goods .sec_goods01 .tit {
		width: 210px;
		border-width: 0 1px 0 0;
	}
	#goods .sec_goods01 .tit h3 {
		letter-spacing: -0.005em;
	}
	#goods .sec_goods01 .txt {
		-ms-flex: 1;
		    flex: 1;
		padding: 0 0 0 30px;
	}
	#goods .sec_goods01 .txt p:first-of-type {
		margin: 0;
	}
	#goods .sec_goods01 .txt .img {
		width: 100px;
	}
	#goods .sec_goods01 .txt dl {
		-ms-flex: 1;
		    flex: 1;
	}
}

/* ==========================================================
!Worried
========================================================== */
#worried {
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	text-align: center;
}

#worried .worried_inner01 {
	background: url(../img/yakuzencha/bg_worried01.png) no-repeat center top;
	background-size: 135%;
}

#worried .worried_inner01 ul {
	padding: 18% 0 10% 0;
}

#worried .worried_inner01 ul li {
	margin: 0 0 10px 0;
	padding: 0 0 0 36px;
	font-size: 20px;
	font-size: 2rem;
	line-height: 1.6;
	text-align: left;
	text-indent: -36px;
}

#worried .worried_inner01 ul li:before {
	display: inline-block;
	width: 28px;
	height: 26px;
	margin: 0 0.4em -0.2em 0;
	content: "";
	background: url(../img/yakuzencha/ico_check01.png) no-repeat;
	background-size: cover;
}

#worried .worried_inner01 .txt_lilne01 {
	font-size: 20px;
	font-size: 2rem;
}

#worried .worried_inner01 .txt_lilne01 span {
	border-bottom: 2px solid #549fb2;
}

#worried .worried_inner02 {
	margin: 3% 0 0 0;
	padding: 10% 0 0 0;
	background: url(../img/yakuzencha/bg_worried02.png) no-repeat center top;
	background-size: contain;
}

#worried .worried_inner02 p {
	color: #ed732e;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 23px;
	font-size: 7.1875vw;
	letter-spacing: -0.01em;
	line-height: 1.6;
}

#worried .worried_inner02 p ruby {
	-webkit-ruby-position: after;
	        ruby-position: under;
}

#worried .worried_inner02 p ruby rt {
	margin: -5px 0 0 0;
	color: #722718;
	font-size: 30%;
}

@media only screen and (min-width: 600px) {
	#worried .worried_inner01 {
		font-size: 18px;
		font-size: 1.8rem;
		background-size: 100%;
	}
	#worried .worried_inner01 ul {
		display: table;
		margin: 0 auto;
		padding: 15% 0 8% 0;
	}
	#worried .worried_inner01 ul li {
		font-size: 26px;
		font-size: 2.6rem;
	}
	#worried .worried_inner01 ul li:before {
		width: 34px;
		height: 31px;
		margin: 0 0.5em -0.2em 0;
	}
	#worried .worried_inner01 .txt_lilne01 {
		font-size: 26px;
		font-size: 2.6rem;
	}
	#worried .worried_inner02 {
		background-size: 95%;
	}
	#worried .worried_inner02 p {
		font-size: 36px;
		font-size: 3.6rem;
	}
}

@media only screen and (min-width: 768px) {
	#worried .worried_inner01 {
		font-size: 20px;
		font-size: 2rem;
	}
	#worried .worried_inner01 ul {
		padding: 17% 0 8% 0;
	}
	#worried .worried_inner01 ul li {
		font-size: 30px;
		font-size: 3rem;
	}
	#worried .worried_inner01 .txt_lilne01 {
		font-size: 30px;
		font-size: 3rem;
	}
	#worried .worried_inner02 {
		padding: 6% 0 0 0;
		background-size: auto;
	}
	#worried .worried_inner02 p {
		font-size: 40px;
		font-size: 4rem;
	}
}

@media only screen and (min-width: 1020px) {
	#worried .worried_inner01 {
		background-size: auto;
	}
	#worried .worried_inner01 ul {
		padding: 13% 0 8% 20px;
	}
	#worried .worried_inner01 ul li:before {
		margin: 0 0.5em -0.1em 0;
	}
	#worried .worried_inner02 {
		margin: 20px 0 0 0;
		padding: 60px 0 0 0;
	}
	#worried .worried_inner02 img {
		margin: 0 -40px 0 0;
	}
	#worried .txt_important01 {
		margin: 80px 0 0 0;
	}
}

/* ==========================================================
!Voice
========================================================== */
#voice .voice_inner01 {
	margin: 8% 0 0 0;
}

#voice .voice_inner01 .img {
	margin: 0 0 4% 0;
	text-align: center;
}

#voice .voice_inner01 .txt h3 {
	color: #ed732e;
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 20px;
	font-size: 2rem;
}

#voice .voice_inner01 .txt .data {
	font-size: 14px;
	font-size: 1.4rem;
}

#voice .voice_inner01 .txt .sub_tit {
	font-weight: bold;
}

#voice .voice_inner01 .txt .sub_tit + p {
	margin: 0;
}

#voice .note01 {
	font-size: 12px;
	font-size: 1.2rem;
}

#voice .txt_important01 {
	margin: 20% 0 0 0;
}

@media only screen and (min-width: 768px) {
	#voice .voice_inner01 {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
		margin: 6% 0 0 0;
	}
	#voice .voice_inner01 .txt {
		padding: 0 0 0 20px;
	}
	#voice .voice_inner01 .txt h3 {
		font-size: 24px;
		font-size: 2.4rem;
	}
	#voice .note01 {
		text-align: center;
	}
	#voice .txt_important01 {
		margin: 12% 0 0 0;
	}
}

@media only screen and (min-width: 1020px) {
	#voice .voice_inner01 {
		-ms-flex-align: center;
		    align-items: center;
		width: 870px;
	}
	#voice .voice_inner01:nth-child(odd) {
		margin: 2% 0 0 100px;
	}
	#voice .voice_inner01:nth-child(even) {
		margin: 2% 0 0 0;
	}
	#voice .voice_inner01 .img {
		width: 244px;
	}
	#voice .voice_inner01 .txt {
		-ms-flex: 1;
		    flex: 1;
	}
	#voice .voice_inner01 .txt .sub_tit {
		margin: 3% 0 0 0;
	}
	#voice .note01 {
		margin: 1% 0 0 0;
	}
	#voice .txt_important01 {
		margin: 100px 0 0 0;
	}
}

@media only screen and (min-width: 1200px) {
	#voice .voice_inner01:nth-child(odd) {
		margin: 2% 0 0 130px;
	}
	#voice .voice_inner01:nth-child(even) {
		margin: 2% 0 0 -20px;
	}
}

/* ==========================================================
!Price
========================================================== */
#price {
	text-align: center;
}

#price .h2_basic01 {
	position: relative;
	margin: 20% 0 0 0;
	padding: 10% 0 10% 0;
	background: #fcf5d3;
}

#price .h2_basic01:after {
	display: inline-block;
	position: absolute;
	bottom: -43px;
	left: 50%;
	width: 0;
	height: 0;
	margin: 0 0 0 -40px;
	border-width: 43px 40.5px 0 40.5px;
	border-style: solid;
	border-color: #fcf5d3 transparent transparent;
	content: "";
	background: none;
}

#price .price_single01,
#price .price_regular01,
#price .price_trial01 {
	padding: 30px 0 40px 0;
}

#price .price_single01 {
	background: url(../img/yakuzencha/bg_price_single01.png) no-repeat center center;
	background-size: cover;
}

#price .price_regular01 {
	background: url(../img/yakuzencha/bg_price_regular01.png) no-repeat center center;
	background-size: cover;
}

#price .price_trial01 {
	background: url(../img/yakuzencha/bg_price_trial01.png) no-repeat center center;
	background-size: cover;
}

#price .price_inner01 .img {
	margin: 0 0 8% 0;
}

#price .price_inner01 p {
	margin: 0;
}

#price .btn_price01 {
	margin: 6% 0 0 0;
}

#price .btn_price02 {
	margin: 4% 0 0 0;
}

@media only screen and (min-width: 600px) {
	#price .h2_basic01 {
		padding: 50px 0 50px 0;
	}
}

@media only screen and (min-width: 768px) {
	#price .h2_basic01 {
		margin: 12% 0 0 0;
	}
	#price .price_single01,
	#price .price_regular01,
	#price .price_trial01 {
		padding: 20px 0 80px 0;
	}
	#price .price_inner01 {
		display: -ms-flexbox;
		display: flex;
	}
	#price .price_inner01 .img img {
		margin: 0 0 0 -15px;
	}
	#price .price_inner01 .txt {
		padding: 80px 0 0 0;
	}
	#price .price_regular01 .price_inner01 .txt {
		padding: 55px 0 0 0;
	}
	#price .btn_price01 {
		margin: 30px 0 0 0;
	}
	#price .btn_price02 {
		margin: 25px 0 0 0;
	}
}

@media only screen and (min-width: 1020px) {
	#price .h2_basic01 {
		margin: 100px 0 0 0;
	}
	#price .price_inner01 .img,
	#price .price_inner01 .txt {
		-ms-flex: 1;
		    flex: 1;
	}
	#price .price_inner01 .img {
		margin: 0;
		padding: 0 20px 0 0;
		text-align: right;
	}
	#price .price_inner01 .img img {
		margin: 0 0 0 0;
	}
	#price .price_inner01 .txt {
		padding: 85px 0 0 0;
		text-align: left;
	}
	#price .price_regular01 .price_inner01 .txt {
		padding: 66px 0 0 0;
	}
}

/* ==========================================================
!Delivery
========================================================== */
#delivery {
	padding: 10% 0 0 0;
}

#delivery h2 {
	font-family: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-size: 20px;
	font-size: 2rem;
	text-align: center;
}

@media only screen and (min-width: 1020px) {
	#delivery {
		padding: 6% 0 0 0;
	}
}

/* ==========================================================
!CV Fix
========================================================== */
@media only screen and (min-width: 768px) {
	#cv_fix {
		padding: 3px 0 3px 0;
	}
}

/*# sourceMappingURL=../../../map/yakuzencha.css.map */
