@charset "utf-8";

// _cmn_footer.scss
/* ==========================================================
!Footer
========================================================== */
footer {
	.ft_cloud {
		position: absolute;
	}
	#ft_navi01 {
		position: relative;
		padding: 4.8% 0 4.8% 0;
		background: url(#{$path}bg_footer01.png) repeat left top;

		ul {
			position: relative;
			z-index: 1;

			li {
				border-width: 0 0 1px 0;
				border-style: dashed;
				border-color: #8fa8a1;

				&:last-of-type {
					border: none;
				}

				a {
					display: block;
					padding: 10px 0 10px 0;
					color: $text_color;
					font-weight: bold;

					@include fz(1.4);

					&:hover {
						color: $c_orange_dark;
					}
				}
			}
		}
		.bg_cloud01 {
			top: 13%;
			left: 8%;
		}
		.bg_cloud02 {
			top: 24%;
			right: 8%;
		}
	}
	#ft_links01 {
		position: relative;
		padding: 8% 0 8% 0;
		background: url(#{$path}bg_footer02.png) repeat 55% top;
		background-size: 360% 100%;

		#ft_logo {
			width: 69.4%;
			max-width: 392px;
			margin: 0 auto 5%;
		}

		#ft_links_inner01 {
			position: relative;
			z-index: 1;
			color: $text_color_gray1;
			letter-spacing: 0.05em;

			@include fz(1.1);

			ul {
				margin: 4% 0 4% 0;
				li {
					display: inline-block;
					margin: 0 0.3em 0 0.3em;

					a {
						color: $text_color;

						&:hover {
							color: $c_orange_dark;
							text-decoration: underline;
						}
					}
				}
			}
			p {
				a {
					color: $text_color_gray1;
					text-decoration: underline;

					&:after {
						content: none;
					}
					&:hover {
						text-decoration: none;
					}
				}
			}
			#ft_copyright {
				margin: 4% 0 0 0;
			}
		}
		.bg_cloud03,
		.bg_cloud04 {
			display: none;
		}
	}
}

@include tab {
	footer {
		#ft_navi01 {
			padding: 2.8% 0 1.8% 0;

			ul {
				width: 84%;
				margin: 0 auto 0;

				li {
					display: inline-block;
					margin: 0 0.4em 0.6em 0.4em;
					border: none;

					a {
						padding: 0;
					}
				}
			}
			.bg_cloud01 {
				top: 44%;
				left: 2%;
			}
			.bg_cloud02 {
				top: 5%;
				right: 3%;
			}
		}
		#ft_links01 {
			padding: 4% 0 3% 0;
			background-position: center top;
			background-size: cover;

			#ft_logo {
				width: 45%;
				margin: 0 auto 3%;
			}
			#ft_links_inner01 {
				ul {
					margin: 2% 0 3% 0;

					li {
						margin: 0 0.8em 0 0.8em;

						@include fz(1.4);
					}
				}
				#ft_copyright {
					margin: 2% 0 0 0;
				}
			}
		}
	}
}
@include pc {
	footer {
		#ft_navi01 {
			padding: 20px 0 20px 0;

			ul {
				width: 100%;

				li {
					margin: 0 0.6em 0 0.6em;

					a {
						@include fz(1.6);
					}
				}
			}
			.bg_cloud01 {
				top: 38%;
			}
		}
		#ft_links01 {
			padding: 25px 0 25px 0;

			.inner01 {
				@include clear;
			}
			#ft_logo {
				float: left;
				width: 323px;
				margin: 0;
			}
			#ft_links_inner01 {
				float: right;
				text-align: right;

				ul {
					margin: 1% 0 1% 0;

					li {
						margin: 0 0.5em 0 0.5em;

						&:last-of-type {
							margin: 0 0 0 0.5em;
						}
					}
				}
				#ft_copyright {
					margin: 0.5% 0 0 0;
				}
			}
			.bg_cloud03 {
				display: inline-block;
				top: -13%;
			}
		}
	}
}

@include pc_large {
	footer {
		#ft_navi01 {
			.bg_cloud01 {
				left: 3%;
			}
		}
		#ft_links01 {
			.inner01 {
				position: relative;

				.bg_gate01 {
					position: absolute;
					left: -90px;
				}
				.bg_cloud03 {
					top: -54%;
					left: 50%;
					margin: 0 0 0 -130px;
				}
				.bg_cloud04 {
					display: inline-block;
					position: absolute;
					top: 18%;
					left: 50%;
					margin: 0 0 0 195px;
				}
			}
		}
	}
}

@include pc_max {
	footer {
		#ft_navi01 {
			.inner01 {
				position: relative;

				.bg_cloud01 {
					top: 10%;
					left: -130px;
				}
				.bg_cloud02 {
					top: -30%;
					right: -160px;
				}
			}
		}
	}
}
