@charset "utf-8";

// _cmn_listing.scss

/* ==========================================================
!Listing
========================================================== */
.list_basic01,
.post_contents ul {
	margin: 5% 0 0 0;
	padding: 0 0 0 5.6%;

	li {
		position: relative;
		margin: 1.8% 0 0 0;
		padding: 0 0 0 0.8em;

		&:before {
			display: inline-block;
			position: absolute;
			top: 0.8em;
			left: 0;
			width: 4px;
			height: 4px;
			content: "";
			background: #e99687;
		}
	}
}
.list_basic02,
.post_contents dl {
	margin: 5% 0 0 0;
	padding: 0 0 0 5.6%;

	dt {
		font-weight: bold;
	}
	dd {
		ul {
			margin: 0;
			padding: 0;

			li {
				position: relative;
				margin: 1.8% 0 0 0;
				padding: 0 0 0 0.8em;

				&:before {
					display: inline-block;
					position: absolute;
					top: 0.8em;
					left: 0;
					width: 4px;
					height: 4px;
					margin: -2px 0 0 0;
					content: "";
					background: #e99687;
				}
			}
		}
	}
}

/* dl_basic */
.dl_basic01 {
	dt {
		margin: 4% 0 0 0;
		font-weight: bold;
	}
}
