@charset "utf-8";

// _cmn_text.scss

/* ==========================================================
!Text
========================================================== */
p {
	margin: 4% 0 0 0;
	line-height: 2;
}

.txt_lead01 {
	margin: 0 0 10% 0;
	text-align: center;

	p {
		margin: 0;
	}
}
@include tab {
	.txt_lead01 {
		margin: 0 0 5% 0;
	}
}

.lead_concept01 {
	position: relative;
	padding: 6% 0 6% 0;
	font-family: $font-family-jp01, serif;
	text-align: center;

	@include fz_vw(22);

	&:before,
	&:after {
		display: inline-block;
		position: absolute;
		width: 50px;
		height: 39px;
		content: "";
	}
	&:before {
		top: 0;
		left: -10px;
		z-index: 0;
		background: url(#{$path}bg_quote01.png) no-repeat;
		background-size: cover;
	}
	&:after {
		right: -10px;
		bottom: 0;
		z-index: 0;
		background: url(#{$path}bg_quote02.png) no-repeat;
		background-size: cover;
	}

	p {
		position: relative;
		z-index: 1;
		line-height: 1.7;
	}
}
@include sp_large {
	.lead_concept01 {
		padding: 2% 0 2% 0;

		p {
			@include fz(4.0);
		}
		&:before,
		&:after {
			width: 98px;
			height: 77px;
		}
		&:before {
			left: 0;
		}
		&:after {
			right: 0;
		}
	}
}
@include tab {
	.lead_concept01 {
		margin: 5% 0 0 0;
		padding: 0;
	}
}
/* ==========================================================
!Mark
========================================================== */
.yellow {
	padding: 0 2px 0 2px;
	font-weight: bold;
	background: url(#{$path}mark_yellow01.png) repeat-x center center;
	background-size: auto 1.3em;
}
.red {
	padding: 0 2px 0 2px;
	font-weight: bold;
	background: url(#{$path}mark_red01.png) repeat-x center center;
	background-size: auto 1.3em;
}
.gray {
	padding: 0 2px 0 2px;
	font-weight: bold;
	background: url(#{$path}mark_gray01.png) repeat-x center center;
	background-size: auto 1.3em;
}

/* ==========================================================
!Text Color
========================================================== */
.txt_red {
	color: #ff2b2b;
}
