@charset "utf-8";

// _cmn_breadcrumb.scss
/* ==========================================================
!Breadcrumb
========================================================== */
#breadcrumb {
	margin: 0 auto 0;
	padding: 0 20px 0 20px;

	ol {
		margin: 0.5% 0 4% 0;
		line-height: 1.2;

		li {
			display: inline-block;
			color: #666666;

			@include fz(1.0);

			&:after {
				margin: 0 0 0 3px;
				content: ">";
			}
			&:last-of-type:after {
				content: none;
			}
			a {
				color: $c_orange_light;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

@include pc {
	#breadcrumb {
		max-width: $wmax;

		ol {
			margin: 0.5% 0 3% 0;
		}
	}
}
@include pc_large {
	#breadcrumb {
		padding: 0;
	}
}
