@charset "utf-8";

// _cmn_box.scss
/* ==========================================================
!Box
========================================================== */
.box_basic01,
.box_basic02 {
	position: relative;
	margin: 0 0 3% 0;
	padding: 3.5% 4% 3.5% 4%;
	border-width: 5px;
	border-style: solid;
	border-color: #fdfae9;
	box-shadow: inset 0 0 0 2px #fbe9dc;
	background: #fdfae9;
}
.box_basic02 {
	/*green*/
	border-color: #edf2e5;
	box-shadow: inset 0 0 0 2px #cdd9ba;
	background: #edf2e5;
}

@include sp_large {
	.box_basic01,
	.box_basic02 {
		h2 {
			@include fz(2.4);
		}
	}
}

/* ==========================================================
!Box Description
========================================================== */
.box_description01,
.box_description02 {
	margin: 5% 0 0 0;
	padding: 5.4% 5.4% 5.4% 5.4%;

	.tit {
		margin: 0 0 -2% 0;
		padding: 0 0 15px 0;
		border-bottom: 1px dashed #c7d1dd;
		font-weight: bold;

		@include fz(1.8);
	}
}
.box_description01 {
	background: rgba(251,245,213,0.5);
}
.box_description02 {
	background: rgba(233,237,241,0.5);
}
@include tab {
	.box_description01,
	.box_description02 {
		padding: 30px 40px 40px 40px;
	}
}

/* ==========================================================
!Box Quote
========================================================== */
.box_quote01 {
	margin: 2% 0 0 0;
	padding: 2% 10% 5% 10%;
	font-weight: bold;
	background: rgba(251,245,213,0.5) url(#{$path}ico_quote01.png) no-repeat 3% 6%;
}
.box_quote02,
.post_contents blockquote {
	margin: 4% 0 0 0;
	padding: 5% 12% 9% 12%;
	background: rgba(233,237,241,0.5) url(#{$path}ico_quote02.png) no-repeat 3% 6%;
}
@include tab {
	.box_quote01 {
		padding: 0.1% 50px 3.9% 50px;
		background-position: 20px 20px;
	}
	.box_quote02,
	.post_contents blockquote {
		padding: 15px 40px 35px 40px;
		background-position: 22px 20px;
	}
}

/* ==========================================================
!Box Col
========================================================== */
.box_col_2 {
	> div {
		&:first-of-type {
			margin: 0 0 4% 0;
		}
	}
	.img {
		text-align: center;
	}
}
@include tab {
	.box_col_2 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		> div {
			width: (100%/2.1);
		}
	}
}

/* ==========================================================
!Box Movie
========================================================== */
.box_movie01 {
	position: relative;
	width: 100%;
	padding-top: 56.25%;

	iframe {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
}

/* ==========================================================
!Box Banner
========================================================== */
.box_bnr01 {
	text-align: center;
}
.box_bnr_title01 {
	position: relative;
	max-width: 720px;
	height: 70px;
	margin: 0 auto 7%;
	padding: 2% 0 0 0;
	vertical-align: middle;
	background: url(#{$path}bg_bnr_left01.png) left top no-repeat,
	url(#{$path}bg_bnr_right01.png) right top no-repeat;
	background-size: contain;

	&:after {
		display: block;
		width: 14px;
		height: 8px;
		margin: 0 auto;
		content: "";
		background: url(#{$path}ico_arrow_down01.png) no-repeat;
		background-size: contain;
	}

	h2 {
		display: table;
		position: relative;
		margin: 0 auto ;
		padding: 0 10% 0 10%;
		color: #000000;
		font-family: $font-family-jp01;
		font-weight: normal;
		letter-spacing: -0.05em;
		line-height: 1.5;
		white-space: nowrap;
		background: none;

		@include fz(1.8);

		&:before,
		&:after {
			display: inline-block;
			position: absolute;
			top: 0;
			vertical-align: middle;
			content: "";
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}
.box_bnr_title02 {
	margin: 0 0 10px 0;
	font-family: $font-family-jp01;
	line-height: 1.5;

	@include fz(1.6);
}
@include sp_large {
	.box_bnr_title01 {
		height: 140px;
		margin: 0 auto 5%;

		&:after {
			width: 28px;
			height: 16px;
		}

		h2 {
			@include fz(2.7);
		}
	}
	.box_bnr_title02 {
		@include fz(1.7);
	}
}

/* ==========================================================
!Box Notebook
========================================================== */
.box_notebook01,
.box_notebook02 {
	padding: 9% 6.5% 5% 6.5%;
	box-shadow: 1px 1px 2px rgba(196,183,158,0.4);

	h2 {
		margin: 0 0 8% 0;
	}
	.notebook_inner01 {
		padding: 0 0 3em 0;
		background: url(#{$path}bg_notebook_line01.png) repeat;
		background-size: auto 35px;

		p {
			margin: 36px 0 0 0;
			line-height: 35px;
		}
		> p:first-of-type {
			margin: 0 0 0 0;
		}
	}
}
.box_notebook01 {
	background: url(#{$path}bg_notebook01.png) repeat;
}
.box_notebook02 {
	background: url(#{$path}bg_notebook02.png) repeat;
}
@include tab {
	.box_notebook01,
	.box_notebook02 {
		padding: 8% 6.5% 5% 6.5%;

		.notebook_inner01 {
			background-size: auto 40px;

			p {
				margin: 41px 0 0 0;
				line-height: 40px;
			}
		}
	}
}
