@charset "utf-8";

// _cmn_link.scss

/* ==========================================================
!Link
========================================================== */
a {
	color: $link_color;
	text-decoration: none;
	transition-property: color;
	transition-duration: 0.3s;

	img {
		background: $c_white;
		transition-property: opacity;
		transition-duration: 0.3s;
	}

	&:hover,
	&:active,
	&:focus {
		color: $link_hover_color;
		//text-decoration: underline;

		img {
			opacity: $opacity;
		}
	}
}
a[target="_blank"]:not(.no_ico) {
	&:after {
		display: inline-block;
		width: 1em;
		height: 1em;
		margin: 0 0 0 5px;
		font-family: $font-family-ico;
		vertical-align: baseline;
		content: "\f08e";
	}
}


/* ==========================================================
!Text Link
========================================================== */
.link_basic01 {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
	&:before {
		display: inline-block;
		width: 0.5em;
		height: 0.5em;
		margin: 0 0.5em 0.08em 0;
		border-width: 1px 1px 0 0;
		border-style: solid;
		border-color: $link_color;
		content: "";
		transform: rotate(45deg);
	}
	span {
		/* WCAG 2.0 C7 */
		overflow: hidden;
		position: absolute;
		top: -10px;
		width: 1px;
		height: 1px;
	}
}

/* ==========================================================
!Abchor Link
========================================================== */
.anchor01 {
	ul {
		text-align: center;
		li {
			display: inline-block;
			padding: 0.5em 0 0.5em 0;

			@include fz(1.4);

			a {
				display: block;
				padding: 0 0.7em 0 0.5em;
				border-width: 0 1px 0 0;
				border-style: solid;
				border-color: #d4d9e5;
				color: $text_color;

				&:before {
					margin: 0 4px 0 0;
					color: $c_orange_light;
					font-family: $font-family-ico;
					content: "\f0d7";
				}
				&:hover {
					color: $c_orange_dark;
				}
			}
			&:first-of-type {
				a {
					padding: 0 0.7em 0 0;
				}
			}
			&:last-of-type {
				a {
					padding: 0 0 0 0.5em;
					border: 0;
				}
			}
		}
	}
}

@include tab {
	.anchor01 {
		ul {
			li {
				@include fz(1.6);
			}
		}
	}
}

/* ==========================================================
!Page Link
========================================================== */
.category_link01 li a {
	display: inline-block;
	margin: 0 0 0 1em;
	padding: 0 15px 0 15px;
	color: #ff6e77;
	font-size: 16px;
	font-size: 1.6rem;
	text-indent: -1em;
}
.category_link01 li a:hover {
	text-decoration: underline;
}
.category_link01 li a:before {
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	margin: 0 10px 0 0;
	border-top: 1px solid #ff6e77;
	border-right: 1px solid #ff6e77;
	vertical-align: middle;
	content: "";
	transform: rotate(45deg);
}

@include sp_large {
	.category_link01 {
		text-align: center;
	}
	.category_link01 li {
		display: inline-block;
		margin: 0 0 15px 0;
		line-height: 1.2;
	}
	.category_link01 li {
		border-right: 1px solid #d7dee6;

		&:last-of-type {
			border: none;
		}
	}
}
