@charset "utf-8";

// _cmn_side.scss

/* ==========================================================
!Side
========================================================== */
#side {
	aside {
		margin: 12.5% 0 0 0;
	}
	h2 {
		margin: 0 0 5.6% 0;
		padding: 0 0 8px 0;
		font-family: $font-family-jp01;
		font-size: 6.25vw;
		background: url(#{$path}bg_line_dot01.png) repeat-x left bottom;
	}
	ul {
		li {
			margin: 0 0 1% 0;
			a {
				display: block;

				&:before {
					display: inline-block;
					width: 0.5em;
					height: 0.5em;
					margin: 0 0.5em 0.08em 0;
					border-width: 1px 1px 0 0;
					border-style: solid;
					border-color: $text_color;
					content: "";
					transform: rotate(45deg);
				}

				&:hover {
					text-decoration: underline;
				}
			}

			&.current {
				a {
					color: $text_color;
					font-weight: bold;
				}
			}
		}
	}
}

@include tab {
	#side {
		aside {
			margin: 4.5% 0 0 0;
		}
		h2 {
			margin: 0 0 3.6% 0;

			@include fz(1.8);
		}
		.post_items01 {
			&:after {
				width: calc(100%/3.25);
			}
			.post_item01 {
				width: calc(100%/3.25);
			}
		}
		ul {
			li {
				display: inline-block;
				margin: 0 3% 1% 0;
			}
		}
	}
}

@include pc {
	#side {
		aside {
			margin: 0 0 30px 0;
		}
		h2 {
			margin: 0 0 20px 0;
		}
		.post_items01 {
			.post_item01 {
				width: 100%;
			}
		}
		ul {
			li {
				display: block;
				margin: 0 0 10px 0;
			}
		}
	}
}
