@charset "utf-8";

// _cmn_cv.scss
/* ==========================================================
!CV Fix
========================================================== */
#cv_fix {
	display: none;
	position: fixed;
	bottom: 0;
	z-index: 50;
	width: 100%;
	padding: 10px 0 10px 0;
	background: rgba(252,245,217,0.75);

	.cv_fix_inner01 {
		display: flex;
		justify-content: center;
		align-items: center;

		.txt {
			display: none;
		}
		.btn {
			width: 60%;
			background: $c_white;
		}
	}
}
@include tab {
	#cv_fix {
		.cv_fix_inner01 {
			.txt {
				display: inline-block;
				padding: 0 30px 0 0;
			}
			.btn {
				width: auto;
			}
		}
	}
}
