@charset "utf-8";

// _cmn_pagetop.scss

/* ==========================================================
!Pagetop
========================================================== */

/* fixed
------------------------------------ */
.pagetop_fixed {
	display: none;
	position: relative;
	z-index: 9999;

	p {
		display: block;
		position: absolute;
		right: 0;
		z-index: 9999;
		width: 18%;
		max-width: 77px;
		cursor: pointer;
		animation: float 2s linear infinite;
		transform: translate3d(0,0,0);

		transform-origin: 50% 50%;
	}
	&.scroll {
		p {
			position: fixed;
			right: 0;
			bottom: 0;
		}
	}
}
@keyframes float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-6px);
	}
	100% {
		transform: translateY(0);
	}
}

@include pc_max {
	.pagetop_fixed {
		position: relative;
		max-width: 1234px;
		margin: 0 auto 0;

		p {
			right: 50%;
			margin: 0 -618px 0 0;
		}
		&.scroll {
			p {
				right: 50%;
				margin: 0 -618px 0 0;
			}
		}
	}
}
