@charset "utf-8";

// _cmn_table.scss

/* ==========================================================
!Table
========================================================== */
.table_basic01 {
	dl {
		padding: 2% 0 2% 0;
		border-width: 1px 0 0 0;
		border-style: dashed;
		border-color: #c7d1dd;

		&:last-of-type {
			border-width: 1px 0 1px 0;
		}
		dt {
			font-weight: bold;
		}
	}
}
.table_basic02 {
	dl {
		padding: 2% 0 2% 0;

		dt {
			position: relative;
			font-weight: bold;

			&:after {
				position: absolute;
				top: 0.1em;
				right: 0;
				content: ":";
			}
		}
	}
}


@include tab {
	.table_basic01 {
		dl {
			display: table;
			width: 100%;

			dt,
			dd {
				display: table-cell;
				box-sizing: border-box;
				vertical-align: top;
			}
			dt {
				width: 25.6%;
				padding: 0 2% 0 2%;
			}
		}
	}
	.table_basic02 {
		dl {
			display: table;
			width: 100%;
			padding: 1% 0 1% 0;

			dt,
			dd {
				display: table-cell;
				box-sizing: border-box;
				vertical-align: top;
			}
			dt {
				width: 25.6%;

				&:after {
					float: right;
					line-height: 1.5;
				}
			}
			dd {
				padding: 0 0 0 15px;
			}
		}
	}
}
