@charset "utf-8";

// _cmn_button.scss

/* ==========================================================
!Button
========================================================== */
/* Basic Black Button */
.btn_basic01 {
	text-align: center;

	a,
	div,
	button,
	input[type="submit"] {
		display: block;
		position: relative;
		width: 100%;
		height: 54px;
		margin: 0 auto;
		box-sizing: border-box;
		color: $c_white;
		font-family: $font-family-jp01;
		line-height: 54px;
		text-decoration: none;
		text-align: center;
		background: url(#{$path}btn_black01.png) repeat left center;
		background-size: contain;
		cursor: pointer;
		transition-property: opacity;
		transition-duration: 0.3s;

		&:after {
			display: inline-block;
			position: absolute;
			top: 50%;
			width: 1em;
			height: 1em;
			margin: -0.5em 0 0 0.4em;
			content: "";
			background: url(#{$path}ico_arrow_white01.svg) no-repeat;
			background-size: cover;
		}
		&:hover,
		&:focus,
		&:active,
		&:hover p:after,
		&:focus p:after,
		&:active p:after {
			opacity: $opacity;
		}
	}
}

/* Basic Orange Button */
.btn_basic02 {
	text-align: center;

	a,
	div,
	button,
	input[type="submit"] {
		display: block;
		position: relative;
		width: 100%;
		height: 54px;
		margin: 0 auto;
		box-sizing: border-box;
		color: #ffffff;
		font-family: $font-family-jp01;
		line-height: 54px;
		text-decoration: none;
		text-align: center;
		background: url(#{$path}btn_orange01.png) repeat left center;
		cursor: pointer;
		transition-property: opacity;
		transition-duration: 0.3s;

		&:after {
			display: inline-block;
			position: absolute;
			top: 50%;
			width: 1em;
			height: 1em;
			margin: -0.5em 0 0 0.4em;
			content: "";
			background: url(#{$path}ico_arrow_white01.svg) no-repeat;
			background-size: cover;
		}
		&:hover,
		&:focus,
		&:active,
		&:hover p:after,
		&:focus p:after,
		&:active p:after {
			opacity: $opacity;
		}
	}
}

/* SNS Button */
.btn_sns01 {
	a {
		display: block;
		position: relative;
		height: 44px;
		padding: 0 0 0 1.8em;
		box-sizing: border-box;
		color: $c_white;
		font-family: $font-family-jp01;
		line-height: 44px;
		text-align: center;
		transition-property: opacity;
		transition-duration: 0.3s;

		@include fz(1.3);

		&:before {
			position: absolute;
			margin: 0 0 0 -1em;
			font-family: $font-family-ico;
			font-size: 1.6em;;
		}
		&[target="_blank"]:after {
			content: none;
		}
		&:hover {
			opacity: $opacity;
		}
	}

	&.btn_blog01 {
		a {
			background: url(#{$path}btn_blog01.png) no-repeat;
			background-size: cover;

			&:before {
				content: "\f040";
			}
		}
	}
	&.btn_instagram01 {
		a {
			background: url(#{$path}btn_instagram01.png) no-repeat;
			background-size: cover;

			&:before {
				content: "\f16d";
			}
		}
	}
	&.btn_fb01 {
		a {
			background: url(#{$path}btn_fb01.png) no-repeat;
			background-size: cover;

			&:before {
				content: "\f09a";
			}
		}
	}
}

@include tab {
}

/* Btn Recommend */
.btn_recommend01 {
	a {
		display: block;
		position: relative;
		height: 50px;
		box-sizing: border-box;
		color: $c_white;
		font-family: $font-family-jp01;
		line-height: 50px;
		text-align: center;
		transition-property: opacity;
		transition-duration: 0.3s;

		@include fz(1.6);

		&:before {
			position: absolute;
			margin: 0 0 0 -1.5em;
			font-family: $font-family-ico;
			font-size: 1.6em;;
		}
		&:after {
			display: inline-block;
			position: absolute;
			top: 50%;
			width: 1em;
			height: 1em;
			margin: -0.5em 0 0 0.4em;
			content: "";
			background: url(#{$path}ico_arrow_white01.svg) no-repeat;
			background-size: cover;
		}
		&:hover {
			opacity: $opacity;
		}
	}
	&.btn_media01 {
		a {
			background: url(#{$path}btn_media01.png) no-repeat;
			background-size: cover;

			&:before {
				content: "\f1ea";
			}
		}
	}
	&.btn_column01 {
		a {
			background: url(#{$path}btn_column01.png) no-repeat;
			background-size: cover;

			&:before {
				content: "\f086";
			}
		}
	}
}
