@charset "utf-8";

// _cmn_heading.scss

/* ==========================================================
!H(n)eading
========================================================== */
/* h1 */
.h1_basic01 {
	margin: 0 auto 3%;
	padding: 0 0 7% 0;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #c7d1dd;
	font-family: $font-family-jp01;
	text-align: center;

	@include fz_vw(26);

	&.no_border {
		padding: 0 0 5% 0;
		border: none;
	}

	h1 {
		.heading {
			display: block;
			margin: 0 0 0.3em 0;
			color: $c_orange_light;
			font-size: 86%;
		}
	}

	span {
		display: block;
		color: $c_orange_light;
		font-size: 43%;
		letter-spacing: 0.05em;
		line-height: 1;
	}
}
.h1_basic02 {
	margin: 0 0 3% 0;
	font-family: $font-family-jp01;

	@include fz_vw(24);
}

/* h2 */
.h2_basic01 {
	margin: 20% 0 4% 0;
	font-family: $font-family-jp01;
	text-align: center;

	@include fz_vw(24);

	span {
		display: block;
		color: $c_orange_light;
		font-size: 50%;
		letter-spacing: 0.05em;
		line-height: 1;
	}
}
.h2_basic02,
.post_contents {
	h2 {
		margin: 8.3% 0 4% 0;
		padding: 10px 15px 10px 15px;
		color: $c_white;
		font-weight: bold;
		line-height: 1.3;
		background: url(#{$path}bg_tit01.png) repeat left top;

		@include fz_vw(22);
	}
}
.h2_basic03 {
	h2 {
		margin: 0 0 5.6% 0;
		padding: 0 0 10px 0;
		border-width: 0 0 1px 0;
		border-style: solid;
		border-color: #c7d1dd;
		font-family: $font-family-jp01;

		@include fz_vw(20);
	}
}
.post_contents {
	.h2_comment_title01 {
		h2 {
			margin: 0 0 0 0;
			padding: 0 0 0 0;
			color: #000000;
			font-family: $font-family-jp01;
			font-weight: normal !important;
			line-height: 1;
			text-align: center;
			background: none ;

			@include fz(2.4);

			&:before {
				display: inline-block;
				width: 60px;
				height: 60px;
				margin: 0 20px 0 0;
				vertical-align: middle;
				content: "";
				background: url(#{$path}img_doctor01.png) no-repeat;
				background-size: contain;
			}
		}
	}
}



/* h3 */
.h3_basic01 {
	h3 {
		font-weight: bold;

		@include fz(1.8);
	}
}
.h3_basic02,
.post_contents {
	h3 {
		margin: 8.3% 0 4% 0;
		padding: 0 0 8px 0;
		border-width: 0 0 1px 0;
		border-style: solid;
		border-color: #d74f37;
		font-weight: bold;

		@include fz_vw(18);
	}
}
.h3_basic03 {
	h3 {
		margin: 6% 0 0 0;
		color: $c_orange_dark;
		font-family: $font-family-jp01;

		@include fz(2.0);
	}
	& + p {
		margin: 2% 0 0 0;
	}
}

/* h4 */
.h4_basic01,
.post_contents h4 {
	margin: 4.2% 0 4% 0;
	padding: 2px 0 2px 14px;
	font-weight: bold;
	background: url(#{$path}bg_h4.png) repeat-y left top;
}

@include sp_large {
	/* h1 */
	.h1_basic01 {
		@include fz(3.5);
	}
	.h1_basic02 {
		@include fz(3.6);
	}

	/* h2 */
	.h2_basic01 {
		margin: 13% 0 4% 0;

		@include fz(3.0);
	}
	.h2_basic02,
	.post_contents {
		h2 {
			@include fz(2.8);
		}
	}
	.h2_basic03 {
		h2 {
			@include fz(2.5);
		}
	}
	.post_contents {
		.box_basic01,
		.box_basic02 {
			.h2_comment_title01 {
				h2 {
					@include fz(2.5);
				}
			}
		}
	}


	/* h3 */
	.h3_basic01 {
		h3 {
			@include fz(2.0);
		}
	}
	.h3_basic02,
	.post_contents {
		h3 {
			@include fz(2.0);
		}
	}

	/* h4 */
	.h4_basic01,
	.post_contents {
		h4 {
			@include fz(1.8);
		}
	}
}

@include tab {
	/* h1 */
	.h1_basic01 {
		padding: 0 0 5% 0;

		&.no_border {
			padding: 0 0 2% 0;
		}
	}
}

@include pc {
	/* h1 */
	.h1_basic01 {
		margin: 0 auto 1%;
		padding: 0 0 40px 0;

		&.no_border {
			padding: 0 0 2% 0;
		}
	}
}
