@charset "utf-8";

// _cmn_header.scss

/* ==========================================================
!Gnavi Setting
========================================================== */
$nav_item: 7;
$easing: cubic-bezier(0,0.5,0.5,1.1);

/* ==========================================================
!Header
========================================================== */
#header {
	position: relative;
	z-index: 10;
	background: url(#{$path}bg_header01.png) no-repeat center top;
	background-size: 200% 100%;

	#hd_inner {
		max-width: $wmax;
		margin: 0 auto 0;
		padding: 0 0 5% 0;

		#hd_logo {
			padding: 5.6% 8.5% 2.5% 8.5%;

			a {
				display: block;
				position: relative;

				img {
					width: 100%;
					max-width: 485px;
					background: none;
				}
				span {
					display: inline-block;
					position: absolute;
					top: 0;
					left: 50%;
					width: 12%;
					max-width: 67px;
					margin: -5% 0 0 -57%;
				}

				&:hover {
					img {
						opacity: 1;
					}
				}
			}
		}
	}
	#gnavi {
		position: relative;
		width: 87.5%;
		margin: 0 auto 0;

		@include fz(1.5);

		.menu_trigger {
			position: relative;
			z-index: 2;
			padding: 5%;
			font-weight: bold;
			line-height: 1;
			background: $c_white50;
			cursor: pointer;

			span {
				display: inline-block;
				position: relative;
				padding: 0 2em 0 2em;

				&:before,
				&:after {
					display: inline-block;
					position: absolute;
					top: 7px;
					width: 0.8em;
					height: 2px;
					content: "";
					background: $text_color;
					transition: all 0.25s ease-in-out;
				}
				&:before {
					left: 0;
					transform: rotate(-135deg) translate3d(0,0,0);
				}
				&:after {
					left: 0.5em;
					transform: rotate(135deg) translate3d(0,0,0);
				}
			}
			&.open {
				span {
					&:before {
						transform: rotate(-135deg) translate3d(-0.17em,0.17em,0);
					}
					&:after {
						transform: rotate(135deg) translate3d(0.17em,0.17em,0);
					}
				}
			}
		}

		ul {
			visibility: hidden;
			position: absolute;
			z-index: 1;
			width: 100%;
			height: 0;
			transition: visibility 0ms ease-out 600ms;

			li {
				opacity: 0;
				background: $c_white;
				transform: translateY(-100%);

				@for $i from 1 through $nav_item {
					$time: -($i - $nav_item - 1);
					&:nth-child(#{$i}) {
						transition: transform 50ms $easing $time*100ms, opacity 200ms ease-out $time*10ms;
					}
				}

				a {
					display: block;
					opacity: 0;
					padding: 4% 0 4% 0;
					color: $c_white;
				}
			}
		}

		&.open {
			ul {
				visibility: visible;
				height: auto;
				transition: visibility 0ms ease-out 0ms;

				li {
					opacity: 1;
					border-width: 1px 0 0 0;
					border-style: solid;
					border-color: #e1e7ef;
					transform: none;

					@for $i from 1 through $nav_item {
						&:nth-child(#{$i}) {
							transition: transform 100ms $easing #{$i*30}ms, opacity 100ms ease-out #{$i*50}ms;
						}
					}

					a {
						opacity: 1;
						color: #4279c0;
					}
				}
			}
		}
	}
}

@include tab {
	#header {
		font-weight: bold;

		#hd_inner {
			padding: 0 0 1.8% 0;

			#hd_logo {
				padding: 2.8% 24.5% 4% 27.5%;

				a {
					span {
						top: 7%;
						left: 50%;
						width: 10%;
						margin: 0 0 0 -62%;
					}
				}
			}
		}
		#gnavi {
			width: 100%;
			padding: 0 20px 0 20px;
			box-sizing: border-box;

			@include fz(1.5);

			.menu_trigger {
				display: none;
			}
			ul {
				visibility: visible;
				opacity: 1;
				position: static;
				height: auto;

				li {
					display: inline-block;
					opacity: 1;
					margin: 0 0.8em 0.8em 0.8em;
					border: none;
					background: none;
					transform: none;

					a {
						opacity: 1;
						padding: 0;
						color: $text_color;

						&:hover {
							color: $c_orange_dark;
						}
					}
					#g00 &#gnav00,
					#g01 &#gnav01,
					#g02 &#gnav02,
					#g03 &#gnav03,
					#g04 &#gnav04,
					#g05 &#gnav05,
					#g06 &#gnav06 {
						a {
							color: $c_orange_dark;
						}
					}
				}
			}
		}
	}
}

@include pc {
	#header {
		background-size: cover;

		#hd_inner {
			padding: 0 0 25px 0;
		}
		#gnavi {
			padding: 0;

			@include fz(1.8);

			ul {
				li {
					margin: 0 0.5em 0 0.5em;

					&:first-of-type {
						margin: 0 0.5em 0 0;
					}
					&:last-of-type {
						margin: 0 0 0 0.5em;
					}
				}
			}
		}
	}
	/* Hack for Safari 7.1-8.0 */
	_::-webkit-full-page-media,
	_:future,
	:root #header {
		font-feature-settings: "palt";
	}
}
