@charset "utf-8";

// _cmn_topics.scss

/* ==========================================================
!Label
========================================================== */
.cat_label {
	display: inline-block;
	padding: 3px 8px 3px 8px;
	color: $c_white;
	line-height: 1;

	@include fz(1.0);

	&.label_all {
		background: url(#{$path}label_all01.png) no-repeat;
		background-size: cover;
	}
	&.label_column {
		background: url(#{$path}label_column01.png) no-repeat;
		background-size: cover;
	}
	&.label_info {
		background: url(#{$path}label_info01.png) no-repeat;
		background-size: cover;
	}
	&.label_media {
		background: url(#{$path}label_media01.png) no-repeat;
		background-size: cover;
	}
	&.label_experiences {
		background: url(#{$path}label_experiences01.png) no-repeat;
		background-size: cover;
	}
	&.label_faq {
		background: url(#{$path}label_faq01.png) no-repeat;
		background-size: cover;
	}
}

/* ==========================================================
!Topics Items
========================================================== */
.topics_wrap01 {
	a {
		display: block;
		color: $text_color;

		.label_new {
			img {
				background: none;
			}
		}

		&:hover {
			color: $link_hover_color;

			.label_new {
				img {
					opacity: 1;
				}
			}
			.post_meta {
				.date {
					color: $link_hover_color;
				}
			}
		}
	}

	// one column rows
	.post_item01 {
		margin: 0 0 10% 0;

		.post_thumb {
			position: relative;
			margin: 0 0 2% 0;

			.label_new {
				display: inline-block;
				position: absolute;
				top: 8px;
				right: 8px;
				width: 19%;
			}
		}
		.post_meta {
			.date {
				display: inline-block;
				color: $text_color_gray2;
				transition-property: color;
				transition-duration: 0.3s;

				@include fz(1.2);
			}
		}
		.post_tit {
			margin: 2% 0 2% 0;
			line-height: 1.5;
		}
		.post_txt {
			line-height: 1.7;

			@include fz(1.2);
		}
	}

	// one column cols
	.post_items02 {
		border-width: 1px 0 0 0;
		border-style: dotted;
		border-color: $c_blue_light;

		.post_item02 {
			margin: 4% 0 0 0;
			padding: 0 0 4% 0;
			border-width: 0 0 1px 0;
			border-style: dotted;
			border-color: $c_blue_light;

			a {
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				align-items: flex-start;

				.post_thumb {
					position: relative;
					width: 30%;
					margin: 0 0 2% 0;

					.label_new {
						display: inline-block;
						position: absolute;
						top: 8px;
						right: 8px;
						width: 19%;
					}
				}
				.post_meta {
					width: 68%;

					.cat_label {
						@include fz(1.4);
					}
					.post_tit {
						margin: 2% 0 2% 0;
						font-weight: bold;
						line-height: 1.5;

						@include fz(2.0);
					}
					.post_txt {
						line-height: 1.7;
					}
					.post_link {
						text-align: right;

						.link_basic01 {
							display: inline-block;
							margin: 10px 0 0 0;
							color: $link_color;
						}
					}
				}
			}
			a[target="_blank"] .link_basic01:after {
				display: inline-block;
				width: 1em;
				height: 1em;
				margin: 0 0 0 5px;
				font-family: $font-family-ico;
				vertical-align: baseline;
				content: "\f08e";
			}
		}
	}


	.more01 {
		margin: 19% 0 0 0;
		padding: 0 5% 0 5%;

		.btn_basic01 {
			position: relative;

			&:before {
				display: inline-block;
				position: absolute;
				top: -34px;
				right: 10px;
				width: 69px;
				height: 34px;
				content: "";
				background: url(#{$path}ill_more01.png) no-repeat;
				background-size: cover;
			}

			a {
				color: $c_white;
			}
		}
	}
}

@include sp_large {
	.topics_wrap01 {
		.post_items01 {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.post_item01 {
				width: calc(100%/2.1);
				margin: 0;
				padding: 0 0 25px 0;
			}
		}
		.more01 {
			margin: 35px 0 0 0;
			padding: 0 25% 0 25%;
		}
	}
}

@include tab {
	.topics_wrap01 {
		.post_items01 {
			.post_item01 {
				padding: 0 0 25px 0;

				.post_thumb {
					.label_new {
						width: 54px;
					}
				}
			}

			&:before {
				display: block;
				order: 1;
				content: "";
			}
			&:after {
				display: block;
				width: calc(100%/4.5);
				content: "";
			}

			&.col_3 {
				.post_item01 {
					width: calc(100%/3.25);
				}
				&:before {
					width: calc(100%/3.25);
				}
				&:after {
					content: none;
				}
			}

			&.col_4 {
				.post_item01 {
					width: calc(100%/4.5);
				}
				&:before {
					width: calc(100%/4.5);
				}
				&:after {
					width: calc(100%/4.5);
				}
			}
		}
		.more01 {
			width: 100%;
		}
	}
}
