@charset "utf-8";

// _variable.scss

// ==========================================================
// 変数
// 「$変数名」のように日本語も使えます
// ==========================================================
//パス
$path: "../img/"; //書き方：background: url(#{$path}bg_mainimg01.png) no-repeat 0 0; のようにインターポレーションで記述

//グローバルナビゲーション
$Gナビ00: "#g00"; //TOP
$Gナビ01: "#g01";
$Gナビ02: "#g02";
$Gナビ03: "#g03";
$Gナビ04: "#g04";
$Gナビ05: "#g05";

//最大横幅
$wmax: calc(1000px);

// font-family
$font-family-en01: "Cormorant Garamond", serif;
$font-family-jp01: "Sawarabi Mincho", "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
$font-family-ico: "FontAwesome";

// 標準テキストカラー
$text_color: #1d1d1d;
$text_color_gray1: #707070;
$text_color_gray2: #635e54;

// 標準リンクカラー
$link_color: #ff6e77;

// 標準リンクhoverカラー
$link_hover_color: #ff6e77;

// borderカラー
$border_color1: #e9ebee;
$border_color2: #c2c2c2;

//基本カラー
$c_white: #ffffff;
$c_white50: rgba(255, 255, 255, 0.5);
$c_black: #000000;
$c_black30: rgba(0, 0, 0, 0.3);

//その他のカラー
$c_orange: #ee624c;
$c_orange_light: #f58d78;
$c_orange_dark: #d86457;
$c_red: #ff2b2b;
$c_blue_light: #c7d1dd;


//透過
$opacity: 0.75;
