@charset "utf-8";
/*
 * about.css
 */

// Setting
@import "setting/variable";
// Mixin
@import "setting/mixin";

/* ==========================================================
!About
========================================================== */
#wrapper {
	padding: 0;
}

/* mainimg */
.about_mainimg01 {
	margin: 0 0 45px 0;
	padding: 80% 0 6% 0;
	background: #fdfdfd url(#{$path}about/img_about01.png) no-repeat 0 top;
	background-size: 200%;

	h2 {
		margin: 0 0 4% 0;
		color: #d86457;
		font-family: $font-family-jp01;
		line-height: 1.8;

		@include fz_vw(20);
	}
	.about_mainimg_sign01 {
		margin: 8% 0 0 0;
		text-align: right;

		img {
			width: 150px;
		}
	}
}
.about_contents01 {
	/* message */
	#message {
		.h2_basic01 {
			margin-bottom: 7%;
		}
		.h3_basic01 {
			h3 {
				line-height: 1.8;
			}
		}
		.img_message01 {
			text-align: center;
		}
		.lead_concept01 p {
			@include fz(3.0);
		}
		.box_movie01 {
			margin: 4% 0 0 0;
		}
	}
	/* profile */
	#profile {
		.box_basic01 {
			&:after {
				display: inline-block;
				position: absolute;
				right: 10px;
				bottom: -5px;
				z-index: 1;
				width: 135px;
				height: 63px;
				content: "";
				background: url(#{$path}about/bg_about_profile01.png) no-repeat;
			}
			.box_col_2 {
				position: relative;
				z-index: 2;

				.table_basic01 {
					ul {
						li {
							margin: 0 0 8px 0;
							line-height: 1.5;
						}
					}
				}
			}
		}
	}
	/* book */
	#book {
		.h2_basic01 {
			margin-bottom: 7%;
		}
		.box_col_2 {
			.img {
				margin: 0 0 10% 0;
			}
		}
		.btn_amazon01 {
			margin: 4% 0 4% 0;
		}
		.book_data01 {
			margin: 6% 0 6% 0;
			line-height: 1.3;

			dl {
				dt,
				dd {
					display: inline-block;

					@include fz(1.2);
				}
				dt {
					font-weight: bold;
				}
			}
		}
	}
}
@include sp_large {
	/* mainimg */
	.about_mainimg01 {
		h2 {
			@include fz(2.4);
		}
	}
}
@include tab {
	/* mainimg */
	.about_mainimg01 {
		padding: 10% 20px 5% 50%;
		background-position: 25% top;
		background-size: cover;

		.about_mainimg_sign01 {
			img {
				width: auto;
			}
		}
	}
	/* book */
	#book {
		.box_col_2 {
			.img {
				margin: 0 0 4% 0;
			}
		}
	}
}
@include pc {
	/* mainimg */
	.about_mainimg01 {
		padding: 0;

		.inner01 {
			padding: 3% 0 3% 350px;
		}
	}
}

/* ==========================================================
!Bnr Area
========================================================== */
#bnr_area {
	position: relative;
	z-index: 1;
	margin: 20% 0 0 0;
	padding: 1% 0 7.82% 0;
	background: #fdfae9;

	&:before {
		display: inline-block;
		position: absolute;
		top: -62px;
		left: 50%;
		width: 60px;
		height: 68px;
		margin: 0 0 0 -30px;
		content: "";
		background: url(#{$path}about/ill_recommend01.png) no-repeat left center;
		background-size: cover;
	}

	.h2_basic01 {
		margin: 8% 0 4% 0;

		@include fz_vw(20);
	}

	ul {
		text-align: center;

		li {
			margin: 0 0 3% 0;
		}
	}
	.bnr_area_sns {
		.btn_sns01 {
			margin: 0;
			padding: 0;

			a {
				height: 55px;
				line-height: 55px;

				@include fz(1.5);
			}
		}
	}
}

@include sp_large {
	#bnr_area {
		&:before {
			top: -90px;
			width: 88px;
			height: 99px;
			margin: 0 0 0 -44px;
		}
	}
}

@include tab {
	#bnr_area {
		margin: 8% 0 0 0;
		padding: 5px 0 100px 0;

		.h2_basic01 {
			@include fz(2.5);
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			li {
				margin: 0;
			}
		}

		.bnr_area_recommend {
			> ul:first-of-type {
				padding: 0 0 3% 0;
			}
			ul {
				li {
					width: (100%/2.06);
				}
			}
		}
		.bnr_area_sns {
			.btn_sns01 {
				margin: 0;
				padding: 0;
			}
			ul {
				li {
					width: (100%/3.1);
				}
			}
		}
	}
}
