@charset "utf-8";
/*
 * cmn_layout.css
 */

// Setting
@import "setting/variable";
// Mixin
@import "setting/mixin";

/* ==========================================================
!HTML5 elements
========================================================== */
header,
footer,
nav,
main,
section,
aside,
article {
	display: block;
}
figure,
figcaption {
	margin: 0;
	padding: 0;
}
/* ==========================================================
!Reseting
========================================================== */
/* 全ての要素のbox-sizingをデフォルトでborder-boxにする */
:root {
	box-sizing: border-box;
}
*,
::before,
::after {
	border-width: 0;
	border-style: solid;
	box-sizing: inherit;
}
html {
	font-size: 62.5%;
}
body {
	color: $text_color;
	font-family: "Noto Sans JP", "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", Arial, Helvetica, Verdana, sans-serif;
	font-size: 16px;
	font-size: 1.6em;
	font-feature-settings: "palt";
	letter-spacing: 0.11em;
	line-height: 1.8;
	background: $c_white;
	background-attachment: fixed;

	overflow-scrolling: touch;
	-webkit-text-size-adjust: none;
}
/* Hack for Safari 7.1-8.0 */
_::-webkit-full-page-media,
_:future,
:root body {
	font-feature-settings: "pkna";
}

body,
div,
pre,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
th,
td {
	margin: 0;
	padding: 0;
}
input,
textarea {
	margin: 0;
	font-size: 100%;
}
label {
	cursor: pointer;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 100%;
}
fieldset,
img {
	border: 0;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
	font-weight: normal;
	font-style: normal;
}
ol,
ul {
	list-style: none;
}
caption,
th {
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
	line-height: 1.5;
}
q:after,
q:before {
	content: "";
}
a,
input {
	/* outline: none; */
}
abbr,
acronym {
	border: 0;
}
/* ==========================================================
!Clearfix
========================================================== */
@include clearfix;
/* ==========================================================
!Layout
========================================================== */
html {
	overflow-y: scroll;
}
body {
	position: relative;
	text-align: center;
}
@media print {
	html,
	html body {
		*zoom: 0.65;
	}
}

@include pc_large {
	body:not(.home) {
		#bg1,
		#bg2 {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			width: 100%;
			height: 100%;
		}
		#bg1 {
			background: url(#{$path}bg_left01.jpg) repeat-y left 0;
		}
		#bg2 {
			background: url(#{$path}bg_right01.jpg) repeat-y right 0;
		}
	}
}
/* ==========================================================
!Wrapper
========================================================== */
#wrapper {
	position: relative;
	z-index: 1;
	margin: 0 auto 0;
	padding: 0 0 17% 0;
	text-align: left;
}
@include tab {
	#wrapper {
		padding: 0 0 10% 0;
	}
}
@include pc {
	#wrapper {
		padding: 0 0 90px 0;
	}
	.home {
		#wrapper {
			padding: 0 0 60px 0;
		}
	}
}
// ==========================================================
// Header
// ==========================================================
@import "setting/cmn_header";
// ==========================================================
// Footer
// ==========================================================
@import "setting/cmn_footer";
// ==========================================================
// Side
// ==========================================================
@import "setting/cmn_side";
/* ==========================================================
!Contents
========================================================== */
.inner01,
.inner02 {
	margin: 0 auto 0;
	padding: 0 20px 0 20px;
}

/* 1020px以上（基本のPC） */
@include pc {
	.inner01 {
		max-width: $wmax;
	}
	.inner02 {
		max-width: 740px;
		padding: 0;
	}
	.two_column {
		display: flex;
		flex-flow: row nowrap;
		#contents {
			flex: 1 0 100%;
			max-width: 720px;
		}
		#side {
			width: 220px;
			margin: 0 0 0 6%;
		}
	}
}

/* 1200px以上（大きめPC） */
@include pc_large {
	.inner01,
	.inner02 {
		padding: 0;
	}
}
// ==========================================================
// Breadcrumb
// ==========================================================
@import "setting/cmn_breadcrumb";
// ==========================================================
// Pagetop
// ==========================================================
@import "setting/cmn_pagetop";
// ==========================================================
// H(n)eading
// ==========================================================
@import "setting/cmn_heading";
// ==========================================================
// Table
// ==========================================================
@import "setting/cmn_table";
// ==========================================================
// Text
// ==========================================================
@import "setting/cmn_text";
// ==========================================================
// Link
// ==========================================================
@import "setting/cmn_link";
// ==========================================================
// List
// ==========================================================
@import "setting/cmn_listing";
// ==========================================================
// Box/Col
// ==========================================================
@import "setting/cmn_box";
// ==========================================================
// Button
// ==========================================================
@import "setting/cmn_button";
// ==========================================================
// Topics
// ==========================================================
@import "setting/cmn_topics";
// ==========================================================
// CV
// ==========================================================
@import "setting/cmn_cv";
