@charset "utf-8";
/*
 * com.css
 */

// Setting
@import "setting/variable";
// Mixin
@import "setting/mixin";

/* ==========================================================
!Company
========================================================== */
#map {
	height: 300px;
	margin: 1% 0 2% 0;

	a[target="_blank"]:after {
		content: none;
	}
}

.table_basic02 {
	dl {
		padding: 2% 0 2% 0;

		dt {
			&:after {
				content: none;
			}
		}
		dd {
			ul {
				li {
					margin: 0 0 4% 0;
				}
			}
		}
	}
}

@include sp_large {
}

@include tab {
	#map {
		height: 560px;
	}
	.table_basic02 {
		dl {
			dt {
				width: 16%;
			}
		}
	}
}
