@charset "utf-8";
/*
 * contact.css
 */

// Setting
@import "setting/variable";
// Mixin
@import "setting/mixin";

/* ==========================================================
!Company
========================================================== */
em {
	color: $c_red;
	font-weight: bold;
}

.sec_notice01,
.sec_notice02 {
	margin: 4% 0 0 0;
	padding: 20px 20px 20px 20px;
	border-width: 1px 1px 1px 1px;
	border-style: solid;

	h2 {
		font-weight: bold;

		@include fz(1.8);
	}
	p {
		margin: 2% 0 0 0;
	}
}
.sec_notice01 {
	border-color: $c_red;

	h2 {
		color: $c_red;
	}
}
.sec_notice02 {
	border-color: #c7d1dd;
}

@include sp_large {
	.sec_notice01,
	.sec_notice02 {
		h2 {
			@include fz(2.0);
		}
	}
}

@include tab {
	.sec_notice01,
	.sec_notice02 {
		padding: 40px 40px 40px 40px;
	}
}
