@charset "utf-8";
/*
 * post.css
 */

// Setting
@import "setting/variable";
// Mixin
@import "setting/mixin";

/* ==========================================================
!Post
========================================================== */
.post_mainimg {
	img {
		width: 100%;
	}
}
.post_header {
	margin: 0 0 5% 0;

	.post_header_meta {
		display: table;
		width: 100%;
		margin: 2% 0 2% 0;

		.date {
			display: table-cell;
			width: 6.5em;
		}
		.cat {
			display: table-cell;

			li {
				display: inline-block;

				&:after {
					margin: 0 0 0 0.1em;
					content: ",";
				}
				&:last-of-type:after {
					content: none;
				}

				.cat_label {
					@include fz(1.2);
				}
			}
		}
	}
	.post_header_sns {
		ul {
			li {
				display: inline-block;
				height: 20px;
				vertical-align: top;

				&.copy {
					div {
						padding: 0 12px 0 12px;
						border-width: 1px 1px 1px 1px;
						border-style: solid;
						border-color: #b2b2b2;
						border-radius: 3px;
						line-height: 18px;
						cursor: pointer;
						transition-property: background;
						transition-duration: 0.2s;

						@include fz(1.0);

						&:hover {
							background: #e9e9e9;
						}
					}
				}
			}
			.fb_iframe_widget span {
				vertical-align: top !important;
			}
		}
	}
}
.post_contents {
	.box_basic01 {
		h2 {
			margin: 0 0 3% 0;
			padding: 0;
			color: $text_color;
			font-weight: bold;
			line-height: 1.6;
			background: none;

			@include fz_vw(18);
		}
		dl {
			margin: 0;
			padding: 1% 0 1% 0;
		}
	}
	a:not(.no_ico) {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
		&:before {
			display: inline-block;
			width: 0.5em;
			height: 0.5em;
			margin: 0 0.5em 0.08em 0;
			border-width: 1px 1px 0 0;
			border-style: solid;
			border-color: $link_color;
			content: "";
			transform: rotate(45deg);
		}
	}
}
.post_footer {
	margin: 9.7% 0 0 0;

	.post_footer_sns {
		text-align: center;

		li {
			display: inline-block;
			width: 48%;
			margin: 0 0 2% 0;
			font-family: $font-family-jp01;
			letter-spacing: 0.02em;
			transition-property: opacity;
			transition-duration: 0.3s;

			@include fz(1.3);

			&:hover {
				opacity: $opacity;
			}

			a {
				display: block;
				height: 44px;
				color: $c_white;
				line-height: 44px;
			}

			&.line {
				a {
					background: url(#{$path}btn_line01.png) no-repeat;
					background-size: cover;
				}
			}
			&.tw {
				a {
					background: url(#{$path}btn_tw01.png) no-repeat;
					background-size: cover;

					&:after {
						content: none;
					}
				}
			}
			&.fb {
				a {
					background: url(#{$path}btn_fb01.png) no-repeat;
					background-size: cover;
				}
			}
			&.copy {
				position: relative;
				cursor: pointer;

				div {
					height: 44px;
					line-height: 44px;
					background: url(#{$path}btn_copy01.png) repeat-x left top, url(#{$path}btn_copy01.png) repeat-x left bottom;
				}
				&:before,
				&:after {
					display: inline-block;
					position: absolute;
					top: 21.5px;
					width: 44px;
					height: 1px;
					content: "";
					background: url(#{$path}btn_copy01.png) repeat-x left top;
					transform: rotate(90deg);
				}
				&:before {
					left: -21.5px;
				}
				&:after {
					right: -21.5px;
				}
			}
		}
	}
}
#related {
	margin: 12.5% 0 0 0;
}

@include tab {
	.post_header {
		display: table;
		width: 100%;
		margin: 15px 0 55px 0;

		> div {
			display: table-cell;
			vertical-align: top;
		}
		.post_header_meta {
			margin: 0;
		}
		.post_header_sns {
			padding: 4px 0 0 0;
			text-align: right;
			white-space: nowrap;
		}
	}
	.post_contents {
		.box_basic01 {
			h2 {
				margin: 0 0 3.5% 0;

				@include fz(2.4);
			}
			dl {
				padding: 0 0 2.5% 0;

				&:last-of-type {
					padding: 0;
				}
			}
		}
	}
	.post_footer {
		.post_footer_sns {
			li {
				width: 21.5%;
				margin: 0 1% 2% 1%;
			}
		}
	}
}
