@charset "utf-8";
/*
 * experiences-form.css
 */

// Setting
@import "setting/variable";
// Mixin
@import "setting/mixin";

/* ==========================================================
!experiences-form
========================================================== */
textarea,
input[type="text"],
input[type="email"] {
	width: 100%;
	padding: 8px 8px 8px 8px;
	border: 1px solid #d4d9e5;
	box-sizing: border-box;
}
.table_basic01 {
	.required {
		color: #ed732e;
		font-family: $font-family-jp01;
		font-size: 70%;
	}
	span.wpcf7-list-item {
		display: block;
		margin: 0.3em 0 0.3em 0;
	}
}
.btn_basic02 {
	margin: 30px 0 0 0;
	padding: 0 10% 0 10%;
}

@include pc {
	.table_basic01 {
		dl {
			dd {
				padding: 0 3% 0 0;
			}
		}
		span.wpcf7-list-item {
			display: inline-block;
			margin: 0 1em 0 0;
		}
	}
	span.wpcf7-list-item {
		display: inline-block;
		margin: 0 1em 0 0;
	}
	.btn_basic02 {
		padding: 0 32% 0 32%;
	}
}
