@charset "utf-8";
/*
 * experiences.css
 */

// Setting
@import "setting/variable";
// Mixin
@import "setting/mixin";
/* ==========================================================
!Experiences Top
========================================================== */
/*lead*/
.exp_lead01 {
	.link_basic01 {
		color: #ff6e77;

		@include fz(1.4);
	}
}

@include pc_large {
	.exp_lead01 {
		position: relative;
		.exp_txt_entry01 {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

/*category link*/
.exp_category_link01 {
	margin: 0 0 5% 0;
	ul {
		display: flex;
		justify-content: space-between;
		max-width: 580px;
		margin: 0 auto;
	}
	li {
		width: 31%;
	}
}
.exp_category_link01.line_top {
	margin: 5% 0 0 0;
	padding: 5% 0 0 0;
	border-top: 1px solid #c7d1dd;
}


/*experience post index*/
.post_exp_item01 {
	a {
		&:hover {
			.post_exp_tit {
				text-decoration: underline;
			}
		}
	}
}
.post_exp_item01 + .post_exp_item01 {
	margin: 5% 0 0 0;
	padding: 7% 0 0 0;
	border-top: 1px dotted #c7d1dd;
}
.post_exp_thumb {
	max-width: 320px;
	margin: 0 auto 5%;
}
.post_exp_meta {
	.cat_label {
		color: #000000;
	}
	.label_kanpo-tea {
		background: #f3ab72;
	}
	.label_seminar {
		background: #f4d76c;
	}
	.label_kanpo {
		background: #d6c77f;
	}
}
.post_exp_tit {
	color: #ff6d76;
	font-weight: bold;

	@include fz(2.4);
}
.post_exp_data {
	margin: 5px 0 0 0;
	line-height: 1;

	@include fz(1.4);
	li {
		display: inline-block;
	}
	li + li {
		padding: 0 0 0 5px;
		border-left: 1px solid #c7d1dd;
	}
}

@include sp_large {
	.post_exp_item01 {
		overflow: hidden;
	}
	.topics_wrap01 .post_exp_item01 {
		margin: 3% 0 0 0;
		padding: 3% 0 0 0;
	}
	.post_exp_thumb {
		float: left;
		width: 22%;
		margin: 0 2% 0 0;
	}
	.post_exp_body {
		overflow: hidden;
	}
	.post_exp_meta {
		margin: -0.6em 0 0 0;
	}
	.post_exp_txt {
		p {
			margin: 2% 0 0 0;
			line-height: 1.8;
		}
	}
}

/*more button*/
.btn_exp_more {
	position: relative;
	max-width: 500px;
	margin: 30% auto 0 auto;
	&:before {
		display: block;
		position: absolute;
		top: -35px;
		right: 20px;
		width: 70px;
		height: 35px;
		content: "";
		background: url(#{$path}experiences/ill_more01.png) no-repeat;
		background-size: contain;
	}

	a {
		color: #ffffff;
		&:after {
			display: none;
		}
		&:hover {
			color: #ffffff;
		}
	}
}
@include sp_large {
	.btn_exp_more {
		margin: 10% auto 0 auto;
	}
}

/* ==========================================================
!Experiences Details
========================================================== */

/*Title*/
.post_exp_title01 {
	line-height: 1 !important;

	.cat_label {
		margin: 0 0 10px 0;
		color: #000000;
	}
	.label_kanpo-tea {
		background: #f3ab72;
	}
	.label_seminar {
		background: #f4d76c;
	}
	.label_kanpo {
		background: #d6c77f;
	}
}
/*info*/
.post_header {
	margin: 0 0 55px 0;
}
.post_exp_info {
	padding: 5%;
	text-align: center;
	background: url(#{$path}experiences/bg_mainimg_info01.png) center bottom no-repeat #fcf5d4;
	background-size: 100% auto;

	.post_exp_copy {
		margin: 10px 0 0 0;
		font-family: $font-family-jp01;
		line-height: 1.6;

		@include fz(2.4);
	}
}
@include sp_large {
	.post_header,
	.post_header > div {
		display: block;
	}
}


/*Experience banner（差分）*/
.box_bnr_title01 {
	margin: 0 auto 10%;

	&:after {
		margin: 10px auto 10px auto;
	}

	h2 {
		&:before {
			left: 0;
			width: 23px;
			height: 70px;
			background-image: url(#{$path}experiences/ill_bnr_title01.png);
		}
		&:after {
			right: 0;
			width: 23px;
			height: 70px;
			background-image: url(#{$path}experiences/ill_bnr_title02.png);
		}
	}
}


@include sp_large {
	.box_bnr_title01 {
		margin: 0 auto 7%;
		h2 {
			&:before {
				width: 45px;
				height: 140px;
			}
			&:after {
				width: 45px;
				height: 140px;
			}
		}
	}
}
