@charset "utf-8";
/*
 * yakuzencha.css
 */

// Setting
@import "setting/variable";
// Mixin
@import "setting/mixin";

/* ==========================================================
!Common
========================================================== */


/* ==========================================================
!mainimg
========================================================== */
.kodakara_mainimg01 {
	margin: 0 0 3% 0;
	padding: 5% 0 0 0;
	background: url(#{$path}kodakara/bg_mainimg01.png) no-repeat left bottom;
	background-size: cover;
}
@include tab {
	.kodakara_mainimg01 {
		background-position: center bottom;

		h2 {
			text-align: right;

			img {
				width: 55%;
			}
		}
	}
}
@include pc {
	.kodakara_mainimg01 {
		padding: 50px 0 0 0;

		h2 {
			img {
				width: auto;
			}
		}
	}
}

/* ==========================================================
!Application
========================================================== */
#application {
	margin: 3% 0 7.5% 0;
	padding: 30px 20px 15px 20px;
	border: 1px solid #c7d1dd;
	background: $c_white;

	h2 {
		padding: 0 0 20px 0;
		border-bottom: 1px dashed #c7d1dd;
		font-family: $font-family-jp01;
		text-align: center;

		@include fz(2.0);
	}
	.application_inner01 {
		padding: 15px 0 15px 0;
		border-bottom: 1px dashed #c7d1dd;

		dl {
			dt {
				display: inline-block;
				float: left;
				font-weight: bold;
			}
			dd {
				display: inline;
			}

			&:first-of-type {
				dt {
					display: block;
				}
			}
		}
		.btn {
			margin: 15px 0 0 0;
			text-align: center;
		}
	}
	.taC {
		margin: 10px 0 0 0;
		line-height: 1.6;

		@include fz(1.2);
	}
}
@include sp_large {
	#application {
		.application_inner01 {
			dl {
				display: inline-block;
				margin: 0 1em 0 0;

				&:first-of-type {
					display: block;

					dt {
						display: inline-block;
					}
				}
			}
		}
	}
}
@include tab {
	#application {
		padding: 40px 40px 15px 40px;

		h2 {
			padding: 0 0 30px 0;
		}
		.application_inner01 {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.txt {
				flex: 1;
				padding: 0 20px 0 0;
			}
			.btn {
				width: 200px;
				margin: 0;
			}
		}
	}
}

/* ==========================================================
!Reason
========================================================== */
#reason {
	.reason_inner01,
	.reason_inner02,
	.reason_inner03 {
		margin: 8% 0 0 0;

		.tit {
			padding: 8% 7% 8% 7%;

			h3 {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				align-content: center;
				min-height: 7em;
				padding: 7% 5% 7% 5%;
				box-sizing: border-box;
				font-family: $font-family-jp01;
				line-height: 1.4;
				text-align: center;
				background: rgba(255,255,255,0.75);

				@include fz(2.4);

				span {
					display: block;
					width: 100%;
					margin: 0 0 2% 0;
					color: #ed732e;
				}
			}
		}
		p {
			margin: 2% 0 0 0;
		}
	}
	.reason_inner01 {
		.tit {
			background: url(#{$path}kodakara/bg_reason01.png) no-repeat center center;
			background-size: cover;
		}
	}
	.reason_inner02 {
		.tit {
			background: url(#{$path}kodakara/bg_reason02.png) no-repeat center center;
			background-size: cover;
		}
	}
	.reason_inner03 {
		.tit {
			background: url(#{$path}kodakara/bg_reason03.png) no-repeat center center;
			background-size: cover;
		}
	}
	.txt_important01 {
		margin: 8% 0 0 0;

		p {
			color: #ed732e;
			font-family: $font-family-jp01;
			line-height: 1.7;
			text-align: center;

			@include fz(2.0);
		}
	}
}
@include sp_large {
	#reason {
		.txt_important01 {
			p {
				@include fz(2.6);
			}
		}
	}
}
@include tab {
	#reason {
		.reason_inner01,
		.reason_inner02,
		.reason_inner03 {
			.tit {
				padding: 80px 70px 80px 70px;

				h3 {
					min-height: 300px;

					@include fz(4.0);

					span {
						margin: 0 0 4% 0;
					}
				}
			}
		}
		.txt_important01 {
			p {
				@include fz(3.0);
			}
		}
	}
}

/* ==========================================================
!Program
========================================================== */
#program {
	margin: 10% 0 0 0;
	padding: 1% 0 8% 0;
	background: #fcf5d3;

	.example01 {
		margin: 6% 0 0 0;
		padding: 10% 0 3% 0;
		background: url(#{$path}kodakara/line_dot01.png) no-repeat center top, url(#{$path}kodakara/line_dot01.png) no-repeat center bottom;

		h3 {
			margin: 0 0 4% 0;
			color: #2f3869;
			font-family: $font-family-jp01;
			text-align: center;

			@include fz(2.0);
		}
		ol {
			padding: 0 0 0 1.5em;

			li {
				margin: 0 0 10px 0;
				color: #2f3869;
				font-family: $font-family-jp01;
				letter-spacing: -0.01em;
				line-height: 1.5;
				list-style: decimal;

				@include fz(1.8);

				&:last-of-type {
					margin: 0;
				}
			}
		}
		.taR {
			margin: 0;
			color: #2f3869;
			font-family: $font-family-jp01;
		}
	}
	.program_slider {
		overflow: hidden;
		position: relative;
		margin: 10% 0 0 0;

		.slick-slide {
			opacity: 0.4;
			position: relative;

			img {
				filter: blur(2px);
			}
		}
		.slick-active {
			opacity: 1;

			img {
				filter: blur(0);
			}
		}

		.slick-arrow {
			position: absolute;
			top: 50%;
			z-index: 10;
			margin: -10px 0 0 0;
			font-size: 0;
			background: none;
			cursor: pointer;

			&:before {
				display: block;
				width: 20px;
				height: 20px;
				border-width: 0 3px 3px 0;
				border-style: solid;
				border-color: #ed732e;
				content: "";
			}
		}
		.slick-prev {
			left: 0;
			&:before {
				transform: rotate(135deg);
			}
		}
		.slick-next {
			right: 0;
			&:before {
				transform: rotate(-45deg);
			}
		}
	}
}
@include tab {
	#program {
		position: relative;
		padding: 1% 0 60px 0;

		&:after {
			display: inline-block;
			position: absolute;
			bottom: 15px;
			left: 50%;
			width: 119px;
			height: 77px;
			margin: 0 0 0 250px;
			content: "";
			background: url(#{$path}kodakara/ill_program01.png) no-repeat;
		}

		.h2_basic01 {
			margin: 11.5% 0 6% 0;
		}
		p {
			text-align: center;
		}
		.example01 {
			margin: 4.5% 0 0 0;
			padding: 35px 110px 20px 110px;
			background-repeat: none;

			h3 {
				@include fz(2.6);
			}
			ol {
				li {
					margin: 0 0 15px 0;

					@include fz(2.0);
				}
			}
		}
		.program_slider {
			position: relative;
			margin: 60px 0 0 0;

			.slick-slide {
				margin: 0 3px 0 3px;
			}
			.slick-arrow {
				&:before {
					width: 40px;
					height: 40px;
				}
			}
			.slick-prev {
				left: 50%;
				margin: -20px 0 0 -360px;
			}
			.slick-next {
				right: 50%;
				margin: -20px -360px 0 0;
			}
		}
	}
}
@include pc {
	#program {
		margin: 8% 0 0 0;

		.program_slider {
			height: 400px;


			.slick-arrow {
				&:before {
					width: 43px;
					height: 43px;
				}
			}
		}
	}
}

/* ==========================================================
!Instructor
========================================================== */
#instructor {
	.instructor_inner01,
	.instructor_inner02 {
		margin: 10% 0 0 0;

		.img {
			text-align: center;
		}
		.txt {
			margin: 4% 0 0 0;

			dl {
				dt {
					display: flex;
					align-items: center;
					margin: 0 0 5px 0;
					font-weight: bold;

					@include fz(2.0);

					span {
						margin: 0 0 0 1em;
						color: #ed732e;
						font-size: 50%;
						font-weight: normal;
					}
				}
			}
		}
	}
}
@include sp_large {
	#instructor {
		.instructor_inner01,
		.instructor_inner02 {
			display: flex;
			align-items: center;
			margin: 6% 0 0 0;

			.txt {
				margin: 3% 0 0 0;
				padding: 0 0 0 20px;
			}
		}
		.instructor_inner01 {
			.img {
				width: 40%;
			}
			.txt {
				flex: 1;
			}
		}
	}
}
@include tab {
	#instructor {
		.instructor_inner01,
		.instructor_inner02 {
			margin: 5% 0 0 0;

			.img {
				width: auto;
			}
			.txt {
				flex: 1;
			}
		}
	}
}

/* ==========================================================
!Voice
========================================================== */
#voice {
	.box_notebook02 {
		margin: 4% 0 0 0;

		.notebook_inner01 {
			padding: 0 0 0.3em 0;

			.taR {
				margin: 0;
			}
		}
	}
}
@include sp_large {
	#voice {
		.box_notebook02 {
			margin: 20px 0 0 0;
		}
	}
}


/* ==========================================================
!CV Fix
========================================================== */
@include tab {
	#cv_fix {
		padding: 10px 0 16px 0;
	}
}
