@charset "utf-8";
/*
 * page.css
 */

// Setting
@import "setting/variable";
// Mixin
@import "setting/mixin";

/* ==========================================================
!Common
========================================================== */
em {
	font-weight: bold;
}
.txt_lead02 {
	font-weight: bold;

	@include fz(2.0);

	p {
		line-height: 1.7;
	}
}
.list_basic01 {
	font-weight: bold;
}
.contents_link01 {
	h2 {
		position: relative;
		padding: 6% 0 8% 0;
		color: $c_orange_light;
		font-family: $font-family-en01;
		text-align: center;

		@include fz(2.0);

		&:before,
		&:after {
			display: inline-block;
			position: absolute;
			bottom: 20%;
			content: "";
		}
		&:before {
			left: 50%;
			width: 50px;
			height: 110px;
			margin: 0 0 0 -5.3em;
			background: url(#{$path}ill_page_tit01.png) no-repeat left top;
		}
		&:after {
			right: 50%;
			width: 41px;
			height: 106px;
			margin: 0 -5.5em 0 0;
			background: url(#{$path}ill_page_tit02.png) no-repeat left top;
		}
	}
	ul {
		li {
			margin: 0 0 10px 0;
			padding: 3px 3px 3px 3px;
			transition-property: opacity;
			transition-duration: 0.3s;

			&:hover {
				opacity: $opacity;
			}
			a {
				position: relative;
				min-height: 82px;
				padding: 15px 35px 15px 35px;
				box-sizing: border-box;
				color: $text_color;
				font-weight: bold;
				line-height: 1.6;
				text-align: center;

				&:after {
					display: inline-block;
					position: absolute;
					top: 50%;
					right: 10px;
					width: 1em;
					height: 1em;
					margin: -0.5em 0 0 0.4em;
					content: "";
					background: url(#{$path}ico_arrow_white01.svg) no-repeat;
					background-size: cover;
				}
			}
		}
	}
}
@include tab {
	.contents_link01 {
		h2 {
			padding: 20px 0 40px 0;

			@include fz(2.2);

			&:before,
			&:after {
				bottom: 30px;
			}
		}
		ul {
			margin: 0 auto 20px;

			li {
				a:after {
					width: 1.5em;
					height: 1.5em;
					margin: -0.8em 0 0 0.4em;
				}
			}
		}
	}
	.box_col_2 {
		margin: 2% 0 0 0;

		.box_description01,
		.box_description02 {
			width: calc(100%/2.03);
		}
	}
	.topics_wrap01 {
		.more01 {
			margin: 50px 0 0 0;
			padding: 0 32% 0 32%;
		}
	}
}

.category_link01 {
	margin: 8% 0 0 0;
}

#related {
	margin: 12.5% 0 0 0;
}

/* ==========================================================
!before infertility treatment
========================================================== */
#before-infertility-treatment {
	.box_basic01 {
		margin: 15% 0 0 0;
	}
	.contents_link01 {
		ul {
			display: flex;
			flex-direction: column;

			li {
				background: url(#{$path}before/btn_before01.png) repeat;

				a {
					display: flex;
					justify-content: center;
					align-items: center;
					border: 1px solid rgba(251,233,220,0.7);
				}
			}
		}
	}
	.box_notebook01 {
		margin: 12% 0 0 0;

		h2 {
			color: $c_orange_dark;
			font-family: $font-family-jp01;
			text-align: center;

			@include fz(2.0);
		}
		.img01 {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 6.6em;
			margin: 0 -20px 0 -20px;

			img {
				width: 318px;
			}
		}
		.img02 {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 4.5em;
			margin: -3px 0 -1.5% 0;

			img {
				width: 160px;
			}
		}
	}
}

@include sp_large {
	#before-infertility-treatment {
		.box_notebook01 {
			h2 {
				@include fz(2.4);
			}
			.img01 {
				height: auto;
				margin: 7px 0 7px 0;

				img {
					width: auto;
				}
			}
			.img02 {
				height: auto;
				margin: 10px 0 0 0;

				img {
					width: auto;
				}
			}
		}
	}
}
@include tab {
	#before-infertility-treatment {
		.box_basic01 {
			margin: 8% 0 0 0;
		}
		.contents_link01 {
			ul {
				width: 400px;

				li {
					font-size: 1.1em;
				}
			}
		}
		.box_notebook01 {
			margin: 8% 0 0 0;

			h2 {
				margin: 0 0 7.5% 0;
			}
			.img01 {
				margin: 9px 0 9px 0;
			}
			.img02 {
				margin: -3px 0 -6px 0;
			}
		}
	}
}
/* ==========================================================
!possible at hospital
========================================================== */
#possible-at-hospital {
	.box_description01,
	.box_description02 {
		dl {
			dd {
				margin: 15px 0 0 0;

				ul {
					li {
						margin: 0 0 5px 0;
						padding: 0 0 0 1em;
						text-indent: -1em;

						&:before {
							display: inline-block;
							width: 15px;
							height: 15px;
							margin: 0 0.3em 0 0;
							content: "";
						}
					}
				}
			}
		}
	}
	.box_description01 {
		margin: 4% 0 0 0;

		dl {
			dd {
				ul {
					li {
						&:nth-child(1):before {
							background: url(#{$path}before/ico_num_pink01.png) no-repeat;
							background-size: 15px;
						}
						&:nth-child(2):before {
							background: url(#{$path}before/ico_num_pink02.png) no-repeat;
							background-size: 15px;
						}
						&:nth-child(3):before {
							background: url(#{$path}before/ico_num_pink03.png) no-repeat;
							background-size: 15px;
						}
						&:nth-child(4):before {
							background: url(#{$path}before/ico_num_pink04.png) no-repeat;
							background-size: 15px;
						}
						&:nth-child(5):before {
							background: url(#{$path}before/ico_num_pink05.png) no-repeat;
							background-size: 15px;
						}
						&:nth-child(6):before {
							background: url(#{$path}before/ico_num_pink06.png) no-repeat;
							background-size: 15px;
						}
					}
				}
			}
		}
	}
	.box_description02 {
		dl {
			dd {
				ul {
					li {
						&:nth-child(1):before {
							background: url(#{$path}before/ico_num_gray01.png) no-repeat;
							background-size: 15px;
						}
						&:nth-child(2):before {
							background: url(#{$path}before/ico_num_gray02.png) no-repeat;
							background-size: 15px;
						}
						&:nth-child(3):before {
							background: url(#{$path}before/ico_num_gray03.png) no-repeat;
							background-size: 15px;
						}
					}
				}
			}
		}
	}
	.movies01 {
		margin: 12.5% 0 0 0;

		.box_movie01 {
			margin: 0 0 4% 0;
		}
	}
}
@include sp_large {
	#possible-at-hospital {
		.box_description01,
		.box_description02 {
			dl {
				dd {
					margin: 25px 0 0 0;
				}
			}
		}
	}
}
@include tab {
	#possible-at-hospital {
		.box_description01 {
			margin: 0;
		}
	}
}

/* ==========================================================
!check
========================================================== */
#check {
	.check_outer01 {
		position: relative;
		margin: 8% 0 0 0;
		padding: 30px 2.7% 2.7% 2.7%;
		border-radius: 10px;
		background: #b89358;

		&:before {
			display: inline-block;
			position: absolute;
			top: -15px;
			left: 50%;
			z-index: 1;
			width: 160px;
			height: 57px;
			margin: 0 0 0 -80px;
			content: "";
			background: url(#{$path}before/ill_clip.png) no-repeat center top;
			background-size: cover;
		}

		.check_inner01 {
			position: relative;
			padding: 50px 7.1% 7.1% 7.1%;
			background: $c_white;

			&:before,
			&:after {
				display: inline-block;
				position: absolute;
				z-index: 2;
				content: "";
			}
			&:before {
				top: -28px;
				left: 20px;
				width: 55px;
				height: 65px;
				background: url(#{$path}before/ill_check01.png) no-repeat;
			}
			&:after {
				top: -47px;
				right: 20px;
				width: 50px;
				height: 78px;
				background: url(#{$path}before/ill_check02.png) no-repeat;
			}

			p {
				margin: 0 0 8% 0;
				line-height: 1.6;
				text-align: center;
			}

			ul {
				padding: 0 0 10px 0;
				border-bottom: 1px dashed #c7d1dd;

				li {
					position: relative;
					margin: 0 0 10px 0;

					input {
						position: absolute;
						// display: none;
						z-index: -10;
					}
					label {
						display: block;
						padding: 10px 10px 10px 2.2em;
						border: 2px solid #e7e7e7;
						border-radius: 4px;
						box-shadow: 1px 1px 1px rgba(231,231,231,0.6);
						line-height: 1.6;
						text-indent: -2.2em;

						&:before {
							display: inline-block;
							width: 21px;
							height: 21px;
							margin: 0 0.5em -0.2em 10px;
							border: 2px solid #e7e7e7;
							content: "";
							background: $c_white;
						}
					}

					input:focus,
					input:hover {
						+ label {
							border-color: #e4cdca;
							color: $c_black;
							background: #f7e0dd;
						}
					}
					input:checked {
						+ label {
							position: relative;
							border-color: $c_orange_dark;
							color: $c_white;
							background: $c_orange_dark;

							&:after {
								display: inline-block;
								position: absolute;
								top: 13px;
								left: 16px;
								width: 9px;
								height: 13px;
								border-width: 0 3px 3px 0;
								border-style: solid;
								border-color: $c_orange_dark;
								content: "";
								transform: rotate(45deg);
							}
						}
					}
				}
			}
			.check_count01 {
				&:after {
					display: block;
					clear: both;
					content: "";
				}
				dl {
					display: table;
					float: right;
					margin: 20px 0 0 0;
					padding: 0 0 5px 0;
					border-bottom: 1px solid #c7d1dd;
					line-height: 1;

					dt {
						display: table-cell;
					}
					dd {
						display: table-cell;
						padding: 0 20px 0 20px;
						color: $c_orange_dark;

						span {
							font-size: 200%;
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}
@include tab {
	#check {
		.check_outer01 {
			padding: 40px 20px 20px 20px;

			&:before {
				top: -33px;
				width: 310px;
				height: 110px;
				margin: 0 0 0 -155px;
			}

			.check_inner01 {
				padding: 68px 50px 40px 50px;

				&:before {
					left: 37px;
				}
				&:after {
					right: 80px;
				}

				p {
					margin: 0 0 25px 0;
				}

				ul {
					padding: 0 40px 20px 40px;

					li {
						label {
							@include fz(2.0);

							&:before {
								margin: 0 0.5em -0.1em 14px;
							}
						}
						input:checked {
							+ label {
								&:after {
									top: 0.85em;
									left: 20px;
								}
							}
						}
					}
				}
				.check_count01 {
					@include fz(2.0);

					dl {
						margin: 30px 0 0 0;

						dd {
							padding: 0 40px 0 40px;

							span {
								font-size: 300%;
							}
						}
					}
				}
			}
		}
	}
}

/* ==========================================================
!basal-temparature
========================================================== */
#basal-temparature {
	.box_description01 {
		margin: 2% 0 0 0;

		.list_basic01 {
			padding: 0;
			font-weight: normal;
		}
	}
	.list_basic02 {
		margin: 4% 0 0 0;
	}
}


/* ==========================================================
!ryuzan
========================================================== */
#ryuzan {
	.box_basic01 {
		margin: 12% 0 0 0;
	}
	.contents_link01 {
		ul {
			li {
				background: url(#{$path}ryuzan/btn_ryuzan01.png) repeat;

				a {
					display: block;
					border: 1px solid rgba(251,233,220,0.5);
					color: $c_white;
					font-weight: normal;

					@include fz(1.4);

					span {
						display: block;
						font-family: $font-family-jp01;

						@include fz(2.2);
					}
				}
			}
		}
	}
	.sec_angel01 {
		position: relative;
		margin: 8% 0 0 0;
		padding: 12% 12% 12% 12%;
		font-family: $font-family-jp01;
		background: url(#{$path}ryuzan/bg_ryuzan01.png) no-repeat;
		background-size: cover;

		&:before,
		&:after {
			display: inline-block;
			position: absolute;
			content: "";
		}
		&:before {
			top: 9%;
			left: -16px;
			width: 55px;
			height: 48px;
			background: url(#{$path}ryuzan/ill_ryuzan01.png) no-repeat;
		}
		&:after {
			top: 40%;
			right: -10px;
			width: 50px;
			height: 55px;
			background: url(#{$path}ryuzan/ill_ryuzan02.png) no-repeat;
		}

		h2 {
			margin: 0 0 12% 0;
			color: $c_orange_dark;
			text-align: center;

			@include fz(2.2);
		}
		p {
			@include fz(1.8);
		}
	}
	.box_description01 {
		ul {
			padding: 2.5% 2% 0 2%;

			li {
				margin: 2% 0 0 0;
			}
		}
	}
}
@include sp_large {
	#ryuzan {
		.sec_angel01 {
			&:before {
				top: 12%;
				left: 58px;
			}
			&:after {
				right: 35px;
				width: 50px;
			}
			h2 {
				@include fz(2.4);
			}
			p {
				@include fz(2.0);
			}
		}
	}
}
@include tab {
	#ryuzan {
		.box_basic01 {
			margin: 8% 0 0 0;
		}
		.contents_link01 {
			ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				li {
					width: calc(100%/2.05);
					margin: 0 0 15px 0;
				}
			}
		}
		.sec_angel01 {
			padding: 12% 16% 14% 16%;

			&:before {
				top: 14%;
				left: 66px;
			}
			&:after {
				right: 75px;
			}

			h2 {
				@include fz(2.4);
			}
			p {
				line-height: 2.2;

				@include fz(2.0);
			}
		}
	}
}
@include pc {
	#ryuzan {
		.sec_angel01 {
			p {
				margin: 6% 0 0 0;
				line-height: 2.3;
			}
		}
	}
}

/* ==========================================================
!no worries
========================================================== */
#no-worries {
	.box_notebook01 {
		margin: 6% 0 0 0;

		h2 {
			margin: 0 0 7% 0;
			font-family: $font-family-jp01;
			text-align: center;

			@include fz(2.0);
		}
		.notebook_inner01 {
			&:first-of-type {
				padding: 0 0 5px 0;
			}
			&:last-of-type {
				padding: 36px 0 3em 0;
			}
		}
		.box_quote01 {
			margin: 0 0 2% 0;

			p {
				margin: 4% 0 0 0;
				line-height: 2;
			}
		}
	}
	.sec_about01 {
		margin: 8% 0 0 0;
		padding: 8% 0 0 0;
		border-top: 1px solid #c7d1dd;

		h2 {
			font-family: $font-family-jp01;
			text-align: center;

			@include fz(1.8);
		}
	}
}
@include tab {
	#no-worries {
		.box_notebook01 {
			h2 {
				@include fz(3.0);
			}
			.notebook_inner01 {
				&:last-of-type {
					padding: 41px 0 3em 0;
				}
			}
			.box_quote01 {
				margin: 0 0 1% 0;
			}
		}
		.sec_about01 {
			h2 {
				@include fz(2.0);
			}
		}
	}
}

/* ==========================================================
!right knowledge
========================================================== */
#right-knowledge {
	.box_description02 {
		margin: 1.5% 0 0 0;
	}
}

/* ==========================================================
!prevent miscarriage
========================================================== */
#prevent-miscarriage {
	.list_basic01 {
		li {
			margin: 0 0 5px 0;
		}
	}
	.list_num01 {
		margin: 1.5% 0 0 0;

		li {
			&:before {
				position: static;
				width: 15px;
				height: 15px;
				margin: 0 0.3em -0.06em 0;
			}
			&:nth-child(1):before {
				background: url(#{$path}before/ico_num_pink01.png) no-repeat;
				background-size: 15px;
			}
			&:nth-child(2):before {
				background: url(#{$path}before/ico_num_pink02.png) no-repeat;
				background-size: 15px;
			}
		}
	}
	.box_description01:not(:first-of-type) {
		margin: 1.2% 0 0 0;
	}
}

/* ==========================================================
!after care
========================================================== */
#after-care {
	.care_list01 {
		margin: 6% 0 0 0;

		dl {
			margin: 2% 0 0 0;
			padding: 25px 30px 30px 30px;
			background: #fdfae9;

			dt {
				margin: 0 0 15px 0;
				color: $c_orange_light;
				font-family: $font-family-jp01;
				line-height: 1.5;
				text-align: center;

				@include fz(1.8);
			}
			dd {
				.list_basic01 {
					margin: 0;
					padding: 0;
				}
			}
		}
	}
	.box_description01,
	.box_description02 {
		margin: 1.5% 0 0 0;

		dl {
			dd {
				margin: 15px 0 0 0;
			}
		}
	}
	.list_basic01 {
		margin: 1.5% 0 0 0;

		li {
			margin: 0 0 5px 0;
		}
	}
	.check_list01 {
		padding: 0 10px 0 10px;

		li {
			margin: 5px 0 0 0;

			&:before {
				display: inline-block;
				width: 10px;
				height: 15px;
				margin: 0 0.6em 1px 0;
				border-width: 0 4px 4px 0;
				border-style: solid;
				border-color: $c_orange_dark;
				content: "";
				transform: rotate(45deg);
			}
		}
	}
}
@include tab {
	#after-care {
		.care_list01 {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;

			dl {
				width: calc(100%/3.05);
				margin: 0;

				dt {
					height: 4.5em;
				}
			}
		}
		.check_list01 {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 10px 0 0 0;

			li {
				width: 50%;
			}
		}
	}
}
