@charset "utf-8";
/*
 * top.css
 */

// Setting
@import "setting/variable";
// Mixin
@import "setting/mixin";

/* ==========================================================
!TOP Common
========================================================== */
.h2_top01 {
	margin: 0 0 10% 0;
	padding: 0 0 3.2% 0;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: $c_black30;

	h2 {
		font-family: $font-family-en01;
		letter-spacing: 0.02em;
		line-height: 1;
		text-align: center;

		@include fz_vw(20);
	}
}

@include tab {
	.h2_top01 {
		margin: 0 0 4% 0;
		padding: 0 0 2.4% 0;

		h2 {
			@include fz(3.0);
		}
	}
}


/* ==========================================================
!Mainimg
========================================================== */
#mainimg {
	position: relative;
	font-family: $font-family-jp01;

	.slider {
		opacity: 0;
		transition-property: opacity;
		transition-duration: 0.5s;

		&.sp {
			display: block;
		}

		img {
			width: 100%;
		}

		.slider_item01 {
			background: url(#{$path}top/mainimg01.png) no-repeat center center;
			background-size: cover;
		}
		.slider_item02 {
			background: url(#{$path}top/mainimg02.png) no-repeat center center;
			background-size: cover;
		}
		.slider_item03 {
			background: url(#{$path}top/mainimg03.png) no-repeat center center;
			background-size: cover;
		}
		.slider_item04 {
			background: url(#{$path}top/mainimg04.png) no-repeat center center;
			background-size: cover;
		}
	}
	.slick-track {
		height: 380px;
	}
	.slick-initialized {
		opacity: 1;
	}

	.mainimg_copy {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;

		p {
			color: $c_orange;
			font-weight: bold;
			line-height: 1.5;

			@include fz_vw(24);
		}
	}
	.mainimg_badge {
		position: absolute;
		right: 3%;
		bottom: 0;
		width: 35%;
		line-height: 1.3;
		background: url(#{$path}top/bg_badge01.png) no-repeat;
		background-size: contain;

		p {
			padding: 22% 0 16.8% 0;
			font-weight: bold;
			letter-spacing: normal;
			line-height: 1.3;

			@include fz_vw(11);

			em {
				padding: 0 0.2em 0 0.5em;
				letter-spacing: -0.05em;
				background: url(#{$path}top/bg_badge_line01.png) no-repeat center bottom;
				background-size: 100%;

				span {
					font-size: 200%;
				}
			}
		}
	}
}

@include tab {
	#mainimg {
		.slider {
			&.pc {
				display: block;
			}
			&.sp {
				display: none;
			}
		}
		.slick-track {
			height: 350px;
		}
		.mainimg_copy {
			p {
				@include fz(2.6);
			}
		}
		.mainimg_badge {
			width: 16%;

			p {
				@include fz_vw(5);
			}
		}
	}
}

@include pc_large {
	#mainimg {
		.slick-track {
			height: 500px;
		}
		.mainimg_copy {
			p {
				@include fz(4.0);
			}
		}
		.mainimg_badge {
			right: 50%;
			width: 210px;
			height: 196px;
			margin: 0 -552px 0 0;

			p {
				padding: 48px 0 0 0;

				@include fz(2.2);
			}
		}
	}
}

/* ==========================================================
!Contents
========================================================== */
@keyframes jump {
	0% {
		transform: translate(0,0);
	}
	25% {
		transform: translate(-3px,-6px) rotate(-2deg);
	}
	50% {
		transform: translate(0,0);
	}
	75% {
		transform: translate(3px,-6px) rotate(2deg);
	}
	100% {
		transform: translate(0,0);
	}
}
#top_contents {
	padding: 14% 0 12% 0;
	background: #fcf5d3;

	.top_profile01 {
		margin: 0 0 21.5% 0;

		.img {
			img {
				width: 100%;
			}
		}

		.txt {
			padding: 1.8%;
			background: $c_white;

			dl {
				height: 100%;
				padding: 7.6%;
				border-width: 2px 2px 2px 2px;
				border-style: solid;
				border-color: #fbe9dc;

				dt {
					display: flex;
					align-items: center;
					margin: 0 0 5% 0;
					font-family: $font-family-jp01;

					@include fz(2.4);

					span {
						margin: 0 0 0 0.5em;
						color: $c_orange_light;
						font-size: 50%;
						letter-spacing: normal;
					}
				}
				dd {
					&:last-of-type {
						margin: 8% 0 0 0;
						padding: 0 5% 0 5%;
					}
				}
			}
		}
	}
	.top_menu01 {
		ul {
			li {
				margin: 0 0 8.5% 0;

				&:first-child {
					position: relative;

					&:before {
						display: inline-block;
						position: absolute;
						top: -30px;
						left: 9px;
						z-index: 0;
						width: 83px;
						height: 46px;
						content: "";
						background: url(#{$path}top/ill_contents01.png) no-repeat;
						animation: jump 1.5s steps(1) infinite;
						transform: translate3d(0,0,0);
					}
				}

				a {
					position: relative;
					z-index: 1;
					color: $text_color;

					&:hover {
						color: $link_hover_color;
					}

					div {
						margin: 0 0 2% 0;
						background: $c_white;
					}
				}

				p {
					margin: 3% 0 0 0;
					line-height: 1.5;
				}
			}
		}
	}
	.bg_top01,
	.bg_top02 {
		display: none;
	}
}

@include sp_large {
	#top_contents {
		padding: 14% 0 6% 0;

		.top_profile01 {
			margin: 0 0 14% 0;
			line-height: 1.5;
		}

		.top_menu01 {
			ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				li {
					width: calc(100%/2.1);
					margin: 0;

					p {
						padding: 0 0 18% 0;
					}
				}
			}
		}
	}
}

@include tab {
	#top_contents {
		padding: 8% 0 2% 0;
		background: #fcf5d3 url(#{$path}top/bg_contents01.png) repeat-x center top;

		.top_profile01 {
			display: flex;
			margin: 0 0 6% 0;

			.img {
				overflow: hidden;
				width: 50%;
				text-align: center;

				img {
				}
			}
			.txt {
				width: 50%;
				padding: 5px;

				dl {
					dt {
						margin: 0 0 4.8% 0;
					}
					dd {
						@include fz(1.4);

						&:last-of-type {
							margin: 6% 0 0 0;
							padding: 0 20% 0 20%;
						}
						.btn_basic02 {
							a {
								height: 42px;
								line-height: 42px;
							}
						}
					}
				}
			}
		}
		.top_menu01 {
			ul {
				li {
					width: calc(100%/3.2);

					p {
						margin: 3% 0 0 0;
					}
				}
			}
		}
	}
}

@include pc {
	#top_contents {
		padding: 100px 0 20px 0;

		.top_profile01 {
			line-height: 1.8;

			.txt {
				dl {
					padding: 10.4% 6.2% 0 6.2%;

					dt {
						margin: 0 0 6% 0;

						@include fz(3.0);
					}
					dd {
						@include fz(1.6);

						&:last-of-type {
							margin: 5% 0 0 0;
							padding: 0;

							.btn_basic02 {
								width: 200px;
								margin: 0 auto 0;

								a {
									height: 54px;
									line-height: 54px;
								}
							}
						}
					}
				}
			}
		}
		.top_menu01 {
			ul {
				li {
					width: calc(100%/3.32);

					p {
						padding: 0 0 45px 0;
					}
				}
			}
		}
	}
}

@include pc_large {
	#top_contents {
		position: relative;

		.top_profile01,
		.top_menu01 {
			position: relative;
			z-index: 1;
		}
		.top_profile01 {
			dl {
				dd {
					&:last-of-type {
						margin: 9% 0 0 0;
					}
				}
			}
		}

		.bg_top01,
		.bg_top02 {
			display: inline-block;
			position: absolute;
			z-index: 0;
		}
		.bg_top01 {
			top: 465px;
			right: 0;
		}
		.bg_top02 {
			bottom: 26px;
			left: 0;
		}
	}
}


/* ==========================================================
!Topics
========================================================== */
#topics {
	padding: 17% 0 25% 0;

	.h2_top01 {
		padding: 0;
		border: none;
	}
	.topics_navi01 {
		margin: 0 0 10% 0;
		padding: 0 0 3% 0;
		border-width: 0 0 1px 0;
		border-style: solid;
		border-color: $c_black30;

		ul {
			text-align: center;

			li {
				display: inline-block;
				position: relative;
				margin: 0 0 0.5em 0;
				padding: 2px 8px 2px 8px;
				line-height: 1;
				cursor: pointer;
				transition-property: color;
				transition-duration: 0.2s;

				@include fz(1.4);

				&:after {
					display: inline-block;
					opacity: 0;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					content: "";
					transition-property: opacity;
					transition-duration: 0.2s;
				}
				&.topics_all:after {
					background: url(#{$path}label_all01.png) no-repeat;
					background-size: cover;
				}
				&.topics_column:after {
					background: url(#{$path}label_column01.png) no-repeat;
					background-size: cover;
				}
				&.topics_info:after {
					background: url(#{$path}label_info01.png) no-repeat;
					background-size: cover;
				}
				&.topics_media:after {
					background: url(#{$path}label_media01.png) no-repeat;
					background-size: cover;
				}
				&.topics_experiences:after {
					background: url(#{$path}label_experiences01.png) no-repeat;
					background-size: cover;
				}
				&.topics_faq:after {
					background: url(#{$path}label_faq01.png) no-repeat;
					background-size: cover;
				}

				span {
					display: inline-block;
					position: relative;
					z-index: 1;
				}

				/* hover,active */
				&.active,
				&:hover {
					color: $c_white;
				}
				&.active:after,
				&:hover:after {
					opacity: 1;
				}
			}
		}
	}
	.topics_wrap01 {
		position: relative;

		.topics_box01 {
			overflow: hidden;
			opacity: 0;
			position: absolute;
			z-index: 0;
			height: 0;
			transition: all 0.5s;

			&.active {
				overflow: visible;
				opacity: 1;
				position: relative;
				z-index: 1;
				height: auto;
			}
		}
		.more01 {
			margin: 19% 0 0 0;
			padding: 0 5% 0 5%;
		}
	}
}

@include sp_large {
	#topics {
		padding: 14% 0 20% 0;

		.topics_wrap01 {
			.more01 {
				margin: 10% 0 0 0;
			}
		}
	}
}

@include tab {
	#topics {
		padding: 8% 0 13% 0;

		.h2_top01 {
			margin: 0 0 4% 0;
		}
		.topics_navi01 {
			margin: 0 0 5% 0;
			padding: 0 0 2% 0;
		}
		.topics_wrap01 {
			.more01 {
				margin: 35px 0 0 0;

				.btn_basic01 {
					width: 240px;
					margin: 0 auto 0;
				}
			}
		}
	}
}

@include pc {
	#topics {
		padding: 120px 0 100px 0;

		.topics_header01 {
			display: flex;
			margin: 0 0 6% 0;
			padding: 0 0 2% 0;
			border-width: 0 0 1px 0;
			border-style: solid;
			border-color: $c_black30;

			.h2_top01 {
				flex-grow: 1;
				margin: 0;

				h2 {
					text-align: left;
				}
			}
			.topics_navi01 {
				flex-grow: 2;
				margin: 0;
				border: none;

				ul {
					text-align: right;

					li {
						margin: 0;
					}
				}
			}
		}
	}
}

/* ==========================================================
!SNS
========================================================== */
#sns_area {
	.blog_wrap01 {
		.blog_inner01 {
			border-width: 1px 1px 1px 1px;
			border-style: solid;
			border-color: $border_color1;

			.blog_header01 {
				border-width: 0 0 1px 0;
				border-style: solid;
				border-color: $border_color1;
			}
			.blog_contents01 {
				overflow: scroll;
				height: 415px;
				padding: 9% 9% 9% 9%;
				box-sizing: border-box;

				ul {
					li {
						margin: 0 0 15px 0;
						padding: 0 0 15px 0;
						border-width: 0 0 1px 0;
						border-style: solid;
						border-color: $border_color2;

						&:last-of-type {
							margin: 0;
							border: none;
						}

						.date {
							color: $text_color_gray2;

							@include fz(1.2);
						}
						a {
							display: block;
							color: $text_color;

							@include fz(1.4);

							&:hover {
								color: $link_hover_color;
								text-decoration: underline;
							}
							&[target="_blank"]:after {
								content: none;
							}
						}
					}
				}
			}
		}
	}
	.instagram_wrap01 {
		margin: 11% 0 0 0;

		.instagram_inner01 {
			border-width: 1px 1px 1px 1px;
			border-style: solid;
			border-color: $border_color1;
		}
	}
	#sb_instagram a[target="_blank"]:after {
		display: none;
	}
	.fb_wrap01 {
		margin: 11% 0 28% 0;
		text-align: center;
	}

	.btn_sns01 {
		margin: 7% 0 0 0;
		padding: 0 10% 0 10%;
	}
}

@include tab {
	#sns_area {
		margin: 0 0 13% 0;

		.inner01 {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			& > div {
				width: calc(100%/3.2);
			}
		}
		.blog_wrap01 {
			.blog_inner01 {
				height: 500px;

				.blog_contents01 {
					height: 84%;
				}
			}
		}
		.instagram_wrap01 {
			margin: 0;

			.instagram_inner01 {
				height: 500px;
			}
		}
		.fb_wrap01 {
			margin: 0;
		}
		.btn_sns01 {
			margin: 7% 0 0 0;
			padding: 0 5% 0 5%;
		}
	}
}

@include pc {
	#sns_area {
		margin: 0 0 100px 0;

		.inner01 {
			& > div {
				width: calc(100%/3.33);
			}
		}

		.blog_wrap01 {
			.blog_inner01 {
				.blog_contents01 {
					height: 408px;
					padding: 6% 9% 6% 9%;
				}
			}
		}
		.btn_sns01 {
			margin: 20px 0 0 0;
			padding: 0;

			a {
				width: 200px;
				margin: 0 auto 0;
			}
		}
	}
}

/* ==========================================================
!CV
========================================================== */
#cvarea {
	ul {
		text-align: center;

		li {
			margin: 0 0 10% 0;

			&:last-of-type {
				margin: 0;
			}
		}
	}
}

@include tab {
	#cvarea {
		ul {
			li {
				margin: 0 0 3% 0;
			}
		}
	}
}

@include pc {
	#cvarea {
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			li {
				width: calc(100%/2.08);
				margin: 0;
			}
		}
	}
}
