@charset "utf-8";
/*
 * yakuzencha.css
 */

// Setting
@import "setting/variable";
// Mixin
@import "setting/mixin";

/* ==========================================================
!Common
========================================================== */
.h2_basic01 {
	// margin-top: 140px;
	margin-bottom: 40px;
}
.txt_important01 {
	margin: 8% 0 0 0;

	p {
		color: #ed732e;
		font-family: $font-family-jp01;
		line-height: 1.7;
		text-align: center;

		@include fz(2.0);
	}
}
@include sp_large {
	.txt_important01 {
		p {
			@include fz(2.6);
		}
	}
}
@include tab {
	.h2_basic01 {
		margin-top: 140px;
		margin-bottom: 40px;
	}
	.txt_important01 {
		p {
			@include fz(3.0);
		}
	}
}

button {
	padding: 0;
	cursor: pointer;

	&:hover {
		opacity: $opacity;
	}
}

/* ==========================================================
!mainimg
========================================================== */
.yakuzencha_mainimg01 {
	margin: 0 0 20px 0;
	padding: 20px 0 20px 0;
	background: url(#{$path}yakuzencha/bg_minimg01.png) no-repeat 17% top;
	background-size: cover;
}
@include tab {
	.yakuzencha_mainimg01 {
		margin: 0 0 45px 0;
	}
}

/* ==========================================================
!Concept
========================================================== */
#concept {
	.txt_concept01 {
		margin: 6% 0 0 0;

		.img {
			text-align: center;
		}
	}
}
@include sp_large {
	#concept {
	}
}
@include tab {
	#concept {
		.txt_concept01 {
			display: flex;
			flex-wrap: nowrap;

			.txt {
				padding: 0 0 0 20px;
				p:first-of-type {
					margin: 0;
				}
			}
			.img {
				width: 43%;
			}
		}
	}
}

/* ==========================================================
!Goods
========================================================== */
#goods {
	.h2_basic01 {
		margin-bottom: 8%;
	}
	.inner01 {
		margin-top: 5%;
		text-align: center;
	}
	.sec_goods01 {
		margin: 8% 0 0 0;

		.tit {
			padding: 0 0 10px 0;
			border-width: 0 0 1px 0;
			border-style: solid;
			border-color: #c7d1dd;

			h3 {
				font-family: $font-family-jp01;

				@include fz(2.0);
			}
		}
		.txt {
			dl {
				dd {
					> div {
						display: flex;
						flex-wrap: nowrap;
						margin: 4% 0 0 0;

						.img {
							width: 80px;
						}

						dl {
							flex: 1;

							dt {
								margin: 0;
								padding: 0 0 0 20px;
							}
							dd {
								padding: 0 0 0 20px;
							}
						}
					}
				}
			}
		}
	}
}
@include pc {
	#goods {
		.inner01 {
			margin-top: 3.5%;

			img {
				margin: 0 -40px 0 0;
			}
		}
		.sec_goods01 {
			display: flex;

			.tit {
				width: 210px;
				border-width: 0 1px 0 0;

				h3 {
					letter-spacing: -0.005em;
				}
			}
			.txt {
				flex: 1;
				padding: 0 0 0 30px;

				p:first-of-type {
					margin: 0;
				}
				.img {
					width: 100px;
				}
				dl {
					flex: 1;
				}
			}
		}
	}
}

/* ==========================================================
!Worried
========================================================== */
#worried {
	font-family: $font-family-jp01;
	text-align: center;

	.worried_inner01 {
		background: url(#{$path}yakuzencha/bg_worried01.png) no-repeat center top;
		background-size: 135%;

		ul {
			padding: 18% 0 10% 0;

			li {
				margin: 0 0 10px 0;
				padding: 0 0 0 36px;
				line-height: 1.6;
				text-align: left;
				text-indent: -36px;

				@include fz(2.0);

				&:before {
					display: inline-block;
					width: 28px;
					height: 26px;
					margin: 0 0.4em -0.2em 0;
					content: "";
					background: url(#{$path}yakuzencha/ico_check01.png) no-repeat;
					background-size: cover;
				}
			}
		}
		.txt_lilne01 {
			@include fz(2.0);

			span {
				border-bottom: 2px solid #549fb2;
			}
		}
	}
	.worried_inner02 {
		margin: 3% 0 0 0;
		padding: 10% 0 0 0;
		background: url(#{$path}yakuzencha/bg_worried02.png) no-repeat center top;
		background-size: contain;

		p {
			color: #ed732e;
			font-family: $font-family-jp01;
			letter-spacing: -0.01em;
			line-height: 1.6;

			@include fz_vw(23);

			ruby {
				-webkit-ruby-position: after;
				        ruby-position: under;

				rt {
					margin: -5px 0 0 0;
					color: #722718;
					font-size: 30%;
				}
			}
		}
	}
}
@include sp_large {
	#worried {
		.worried_inner01 {
			background-size: 100%;

			@include fz(1.8);

			ul {
				display: table;
				margin: 0 auto;
				padding: 15% 0 8% 0;

				li {
					@include fz(2.6);

					&:before {
						width: 34px;
						height: 31px;
						margin: 0 0.5em -0.2em 0;
					}
				}
			}
			.txt_lilne01 {
				@include fz(2.6);
			}
		}
		.worried_inner02 {
			background-size: 95%;

			p {
				@include fz(3.6);
			}
		}
	}
}
@include tab {
	#worried {
		.worried_inner01 {
			@include fz(2.0);

			ul {
				padding: 17% 0 8% 0;

				li {
					@include fz(3.0);
				}
			}
			.txt_lilne01 {
				@include fz(3.0);
			}
		}
		.worried_inner02 {
			padding: 6% 0 0 0;
			background-size: auto;

			p {
				@include fz(4.0);
			}
		}
	}
}
@include pc {
	#worried {
		.worried_inner01 {
			background-size: auto;

			ul {
				padding: 13% 0 8% 20px;

				li {
					&:before {
						margin: 0 0.5em -0.1em 0;
					}
				}
			}
		}
		.worried_inner02 {
			margin: 20px 0 0 0;
			padding: 60px 0 0 0;

			img {
				margin: 0 -40px 0 0;
			}
		}
		.txt_important01 {
			margin: 80px 0 0 0;
		}
	}
}

/* ==========================================================
!Voice
========================================================== */
#voice {
	.voice_inner01 {
		margin: 8% 0 0 0;

		.img {
			margin: 0 0 4% 0;
			text-align: center;
		}
		.txt {
			h3 {
				color: #ed732e;
				font-family: $font-family-jp01;

				@include fz(2.0);
			}
			.data {
				@include fz(1.4);
			}
			.sub_tit {
				font-weight: bold;

				& + p {
					margin: 0;
				}
			}
		}
	}
	.note01 {
		@include fz(1.2);
	}
	.txt_important01 {
		margin: 20% 0 0 0;
	}
}
@include tab {
	#voice {
		.voice_inner01 {
			display: flex;
			flex-wrap: nowrap;
			margin: 6% 0 0 0;

			.txt {
				padding: 0 0 0 20px;

				h3 {
					@include fz(2.4);
				}
			}
		}
		.note01 {
			text-align: center;
		}
		.txt_important01 {
			margin: 12% 0 0 0;
		}
	}
}
@include pc {
	#voice {
		.voice_inner01 {
			align-items: center;
			width: 870px;

			&:nth-child(odd) {
				margin: 2% 0 0 100px;
			}
			&:nth-child(even) {
				margin: 2% 0 0 0;
			}

			.img {
				width: 244px;
			}
			.txt {
				flex: 1;

				.sub_tit {
					margin: 3% 0 0 0;
				}
			}
		}
		.note01 {
			margin: 1% 0 0 0;
		}
		.txt_important01 {
			margin: 100px 0 0 0;
		}
	}
}
@include pc_large {
	#voice {
		.voice_inner01 {
			&:nth-child(odd) {
				margin: 2% 0 0 130px;
			}
			&:nth-child(even) {
				margin: 2% 0 0 -20px;
			}
		}
	}
}


/* ==========================================================
!Price
========================================================== */
#price {
	text-align: center;

	.h2_basic01 {
		position: relative;
		margin: 20% 0 0 0;
		padding: 10% 0 10% 0;
		background: #fcf5d3;

		&:after {
			display: inline-block;
			position: absolute;
			bottom: -43px;
			left: 50%;
			width: 0;
			height: 0;
			margin: 0 0 0 -40px;
			border-width: 43px 40.5px 0 40.5px;
			border-style: solid;
			border-color: #fcf5d3 transparent transparent;
			content: "";
			background: none;
		}
	}
	.price_single01,
	.price_regular01,
	.price_trial01 {
		padding: 30px 0 40px 0;
	}
	.price_single01 {
		background: url(#{$path}yakuzencha/bg_price_single01.png) no-repeat center center;
		background-size: cover;
	}
	.price_regular01 {
		background: url(#{$path}yakuzencha/bg_price_regular01.png) no-repeat center center;
		background-size: cover;
	}
	.price_trial01 {
		background: url(#{$path}yakuzencha/bg_price_trial01.png) no-repeat center center;
		background-size: cover;
	}
	.price_inner01 {
		.img {
			margin: 0 0 8% 0;
		}
		p {
			margin: 0;
		}
	}
	.btn_price01 {
		margin: 6% 0 0 0;
	}
	.btn_price02 {
		margin: 4% 0 0 0;
	}
}
@include sp_large {
	#price {
		.h2_basic01 {
			padding: 50px 0 50px 0;
		}
	}
}
@include tab {
	#price {
		.h2_basic01 {
			margin: 12% 0 0 0;
		}
		.price_single01,
		.price_regular01,
		.price_trial01 {
			padding: 20px 0 80px 0;
		}
		.price_inner01 {
			display: flex;

			.img {
				img {
					margin: 0 0 0 -15px;
				}
			}
			.txt {
				padding: 80px 0 0 0;
			}
		}
		.price_regular01 {
			.price_inner01 {
				.txt {
					padding: 55px 0 0 0;
				}
			}
		}
		.btn_price01 {
			margin: 30px 0 0 0;
		}
		.btn_price02 {
			margin: 25px 0 0 0;
		}
	}
}
@include pc {
	#price {
		.h2_basic01 {
			margin: 100px 0 0 0;
		}
		.price_inner01 {
			.img,
			.txt {
				flex: 1;
			}
			.img {
				margin: 0;
				padding: 0 20px 0 0;
				text-align: right;

				img {
					margin: 0 0 0 0;
				}
			}
			.txt {
				padding: 85px 0 0 0;
				text-align: left;
			}
		}
		.price_regular01 {
			.price_inner01 {
				.txt {
					padding: 66px 0 0 0;
				}
			}
		}
	}
}


/* ==========================================================
!Delivery
========================================================== */
#delivery {
	padding: 10% 0 0 0;

	h2 {
		font-family: $font-family-jp01;
		text-align: center;

		@include fz(2.0);
	}
}
@include pc {
	#delivery {
		padding: 6% 0 0 0;
	}
}

/* ==========================================================
!CV Fix
========================================================== */
@include tab {
	#cv_fix {
		padding: 3px 0 3px 0;
	}
}
